[2014-07-18 02:50] D-Bullock opened #6 "Two way Sync Questions"
Hey,

I am looking at implementing a two way sync with Planning Center Online for a client and I would like some minor clarifications about the API.

Am I right in assuming there is no way of getting notifications when a person has been updated (no push updates?)
Is the person.remote_id in for use as a migration ID (can I set it to work out mappings between my system and yours)

Finally, do you kn

[2014-11-16 21:15] johnnymac5150 opened #24 "php basic example"
Hi Guys,
I followed your directions for requesting a consumer key and secret and access token key and secret.  I plugged in those values into the sample PHP script.  But when I run it, it seems to break on the
$oauth->fetch("https://services.planningcenteronline.com/me.json");
line.  The script never gets past that.  No errors seem to be report just hangs.  I am using PHP on IIS. Any ideas?
John

[2015-01-06 15:13] toddsdarling opened #28 "PHP OAuth Library example"
I'm having an issue with the PHP Library example (I cannot install the OAuth PECL extension on my server).  I set my key and secret and callback URL in the oauth_config.php file and when I go to index.php, I simply get redirected to this URL:

https://accounts.planningcenteronline.com/?return=Services%2Foauth%2Fauthorize%3Foauth_token%3DnXCYr9FCBOrOjUE8sMg

After this line:

$request_token_respons

[2015-01-06 18:04] toddsdarling commented on #28
An update to this issue:  When I was redirected to the URL above (which looked like a login screen), I was able to login with my Planning Center username/password and then it correctly redirected me to the "me.php" page where I could start making API calls.

However, I thought I would be able to log into the API without seeing a login screen.  Is there not a way I can pass my username/password cre

[2015-01-06 18:08] danielmurphy commented on #28
Hi Todd,

If you are building a tool that will only be used internally for gathering your own data, there is a way to skip the login screen. Check out the [single user example](https://github.com/planningcenter/developers/tree/master/examples/php-single-user).

Hope that helps.

[2015-01-06 18:51] toddsdarling commented on #28
Hi Daniel -

Thanks for that!  I was trying to use that one, but it looks like it uses the OAuth PECL extension (which I can't install on my environment).

So when I run that now, I'm getting a "method not found" on the oauth->setToken call.  I'm wondering if there's a way I can mishmash the two so that this would use the PHP library?

[2015-01-06 19:03] danielmurphy commented on #28
Sorry, I missed that detail.

You absolutely should be able to mishmash the two. I believe if you use [me.php](https://github.com/planningcenter/developers/blob/master/examples/php-library/me.php) as a template but replace the values in [line 7](https://github.com/planningcenter/developers/blob/master/examples/php-library/me.php#L7) with the values you obtained from accesstoken.io, it should work

[2015-01-06 20:57] toddsdarling commented on #28
Hi Daniel --

I did try that example, but it seems like that uses the PECL extension (which I can't install in my environment).  I'm currently trying to use the PHP Library with it and I'm getting a method not found on the "setToken" method.

[2015-01-06 20:59] toddsdarling commented on #28
Got it!  (Sorry, I think I clicked the "send" button too soon on that previous response.  Here's what worked for me:

require_once "oauth.php";
require_once "helpers.php";

define('CONSUMER_KEY',        'INSERT_YOUR_KEY');
define('CONSUMER_SECRET',     'INSERT_YOUR_SECRET');

// Obtain these keys at http://accesstoken.io
define('ACCESS_TOKEN_KEY',    'INSERT_VALUE_FROM_ACCESSTOKEN_IO');
define('AC

[2015-01-06 21:23] danielmurphy commented on #28
Awesome, glad it worked. If you feel so inclined you could make a pull request into the examples with that code :)

[2015-01-06 21:23] #28 closed

[2015-01-07 15:35] toddsdarling commented on #28
Hey Daniel —
OK, I’ve never done a pull request before, but I just did it and it
looks like it went through, so you should be getting it.  Hope that
helped!
T 

----- Original Message -----
From: "planningcenter/developers"
To:"planningcenter/developers"
Cc:"Todd Darling"
Sent:Tue, 06 Jan 2015 13:24:00 -0800
Subject:Re: [developers] PHP OAuth Library example (#28)

	Awesome, glad it worked. If you

[2015-01-07 16:04] danielmurphy commented on #28
Merged in #29

[2015-01-12 16:30] simube opened #30 "Gettings songs of a future plan"
Hi Matt

I built an application already. It’s a platform to manage our worship-songs and export them for our presentation-tool. I get the songs from PCO by your API so we always are up-to-date which songs are still in PCO and which are scheduled in the next weeks. (see screenshot, second row with a link to PCO, last row is «scheduled until»-date)

this works great (getting songs, storing informati

[2015-01-12 16:47] danielmurphy commented on #30
Hi Simon,

Now that you have your list of plans, you'll want to use the [Plan API](http://get.planningcenteronline.com/api/plan/) to get details about each plan. A get request to `https://www.planningcenteronline.com/plans/654321.json` will return all the details for that plan, including all of the plan's items.

[2015-01-22 21:36] prestonhorn opened #31 "People API for those not in Services App"
Hi, Is it possible to get the People API to work for people in other apps?

[2015-01-22 21:41] danielmurphy commented on #31
Hi Preston,

We have plans for that, but it's not ready yet. Hopefully later this year.

[2015-01-22 21:41] #31 closed

[2015-01-25 03:04] imcdonagh opened #32 "Determine when someone declined"
Does the API provide a way to determine the timestamp for when someone declined a position?

[2015-01-25 03:53] TheBerg commented on #32
Nope, but we do have it in the API. I created a PR into our app to add that to the API. We will update this ticket once it is deployed and live.

[2015-02-05 00:24] #24 closed

[2015-02-05 00:24] #30 closed

[2015-02-05 01:46] TheBerg commented on #32
@imcdonagh This has been added. Every plan person now has a `status_updated_at` attribute. Please let me know if there is anything else I can do to help. Thanks!

[2015-02-05 01:46] #32 closed

[2015-02-05 01:51] imcdonagh commented on #32
Awesome.  Thanks!

[2015-02-19 18:43] darthsteven opened #33 "Updating people assigned to plans"
Hi,

I want to be able to build a feature that Planning Center Online doesn't currently have: swaps.

To do this I really need to be able to schedule people and update declined/accepted statuses for specific positions in specific plans. Is there a public API that would allow me to do this?

You Services android app allows me to do such things, but is it using a private API?

[2015-02-19 19:08] skylarsch commented on #33
@darthsteven _Technically_ it's a private API and is **subject to change at any time**, but...

If you were do do a PUT to `https://services.planningcenteronline.com/plan_people/:plan_person_id.json`

[code]

With `status`

- `C` = Confirmed
- `U` = Unconfirmed
- `D` = Declined

That will probably work for you.

[2015-02-19 19:09] darthsteven commented on #33
Oh, amazing!

[2015-02-19 19:09] #33 closed

[2015-02-26 21:26] prestonhorn opened #34 "People App API"
Do you foresee an API for general people (not just those in the Services app) within the next year? We want to switch to PCO People for our church management, but without an email communication feature, we'd have to build one ourselves. That's fine, but a lot of extra work without a general People API. Thoughts?

My other thought was to add all people to the Services app, which would somewhat fix

[2015-02-26 21:29] TheBerg commented on #34
@prestonhorn Thanks for the message. We definitely see an API for People in the next year, we also see email communication with in the next year too. :)

[2015-02-26 21:31] #34 closed

[2015-02-27 18:15] sators opened #35 "Create or Update if Records (Do Not) Exist"
I have a question regarding the people create/update paths of your API.  My question is how the API will handle if a user already exists if you try to create them again with the same email address?

Likewise, if you try to update a person that doesn't exist, will the API create that person?

Do you have a function like this: http://developers.hubspot.com/docs/methods/contacts/create_or_update

[2015-03-02 16:43] simube opened #36 "multiple API keys needed?"
Hi
I built a platform to manage the songs used in our church. for comparing the files with the songs listed in PCO, i access the API.

Now we have a partner church which wants to use the same platform too. they use another PCO login.

Do i need a second API-key or is one per domain enough? this part of the API keys i don't get really in my head ;)

thanks for your help!
simon from switzerland

[2015-03-02 17:01] bensie commented on #36
@simube Yes, you'll need a different key. Think of these keys as another username/password combo for the account you're accessing. They can be revoked at any time and make it so you don't have to put your actual account username and password in your source code.

If you have a consumer key/secret, you can quickly get an access token using https://accesstoken-io.herokuapp.com/

[2015-03-02 17:01] #36 closed

[2015-03-02 17:35] bensie commented on #35
@sators If you attempt a `POST` request to `https://services.planningcenteronline.com/people` and provide a first name, last name, and an email address (within contact data) that matches an existing person, you will get a `422 Unprocessible Entity` response with an error message indicating that it's a duplicate.

[code]

[code]

In order to update a person, you must supply their ID. An attempt to

[2015-03-02 17:35] #35 closed

[2015-03-02 20:23] sators commented on #35
Could there be a consideration for a function similar to the one that I posted - CreateOrUpdate?

[2015-03-02 20:33] bensie commented on #35
Unlikely. Though we would consider the create endpoint returning a `422` with the ID of the duplicate record as part of the message, so you could use that response to know what record should be updated.

[2015-03-03 09:54] imcdonagh opened #37 "Determine when someone was scheduled"
Is it possible to add the position create date to the API, which can be used to determine when the scheduler scheduled the person for the position?

[2015-03-03 15:54] mranallo commented on #37
@imcdonagh Doesn't look like we are currently exposing that information, like you said.  I will look into it and get back to you.

[2015-03-03 21:39] mranallo commented on #37
@imcdonagh you should now see ```created_at```, and ```updated_at``` on the plan_person, which will give you the information you need.

[2015-03-03 22:02] #37 closed

[2015-03-03 22:37] imcdonagh commented on #37
Thanks.  I see it there, however the date doesn't look like the same on you see in the scheduling popup that shows when the schedule request was sent, read and confirmed.
Is this a different date?

[2015-03-10 15:14] ruehsn opened #38 "OAuth 2"
Any chance of making OAuth 2 an option?  Trying to integrate with other services and they don't support v1 any more.

Thanks,
Nathan

[2015-03-10 15:17] TheBerg commented on #38
@ruehsn Unfortunately we don't support oAuth 2 at this moment, but it is in our plans to do so in the future, I just don't have a timeline on that yet.

[2015-03-10 15:17] #38 closed

[2015-03-18 17:41] bradmsmith opened #39 "Does the API expose how many times a song has been assigned to a plan?"
I would like to identify the top 20 songs that have been sung over a time period via that API.

[2015-03-21 00:37] luke-barnett opened #40 "PATCH support?"
Does the API offer PATCH support or just PUT?

[2015-03-21 00:52] bensie commented on #40
We only support the `PUT` method, but do not require that you provide a fully replaced object (per RFC). You can send a `PUT` with just the desired changes.

[2015-03-21 00:52] #40 closed

[2015-03-22 03:42] luke-barnett opened #41 "Getting 401's when trying to update song."
Here is the relevant snippet of code:

https://gist.github.com/luke-barnett/fff62c8cfc3dbd30e020

I'm quite inexperienced with Ruby so it could easily be something silly on my behalf.

Thanks!

[2015-03-25 15:15] molawson commented on #41
Can you confirm that you're getting the 401 on [line 53](https://gist.github.com/luke-barnett/fff62c8cfc3dbd30e020#file-gistfile1-rb-L53-L55) and not on [line 12](https://gist.github.com/luke-barnett/fff62c8cfc3dbd30e020#file-gistfile1-rb-L12)?

[2015-03-25 19:22] luke-barnett commented on #41
Yes I've been able to print out the objects for debugging.

[2015-03-25 21:41] bensie commented on #39
No, sorry @bradmsmith, none of our APIs expose that info.

[2015-03-25 21:41] #39 closed

[2015-03-26 14:35] molawson commented on #41
Hey @luke-barnett. Sorry for the delayed response here.  It took a little time to debug the issue.

The problem was one with the [planning_center](https://github.com/molawson/planning_center) gem, where it wasn't [signing](https://github.com/molawson/planning_center/commit/0f8b4b7c263af192cc1ace1721192f3ee37eaac7) the OAuth requests properly. Sorry about that! That's been fixed in v0.2.1.  I also

[2015-03-27 19:19] luke-barnett commented on #41
@molawson is there a way to update it? via another endpoint?

[2015-03-31 18:24] molawson commented on #41
@luke-barnett I've got good news for you!  It turns out that there's an undocumented part of this API that should do what you need. While this should work, it's undocumented (mostly) because it's not very user-friendly.

You can set the `properties` on a song by specifying values for the `custom_properties` attribute, which takes a form like this:

[code]

Adding this field to a `PUT` request mean

[2015-03-31 18:24] #41 closed

[2015-04-01 08:18] luke-barnett commented on #41
Thanks that was perfect, I now have it working as desired :+1:

[2015-04-02 21:19] m2web opened #42 "Do not see ends_at key output from a get from the Plan API"
I am just starting development with your API f you l so please pardon this basic question. Looking at the API response for the Get call to the service at http://get.planningcenteronline.com/api/plan/, there is the expected ends_at key in the service_times array value. When looking at our data in planning center, I do not see an ends_at data item. Here is the JSON output for the June 7th service:

[2015-04-02 21:36] skylarsch commented on #42
@m2web Service times come back in the plan JSON.  They are an array of hashes on the `service_times` key.  This data will look something like...

[code]

You're looking for the `ends_at` or `ends_at_unformatted` keys within that object.

If your plan doesn't have any times assigned to it, then `service_times` will be an empty array.

Can you try adding a service time and see if it's included in th

[2015-04-02 22:15] m2web commented on #42
@skylarsch,
My get REST call was in the following format, /service_types/88600/plans.json. Concerning the UI for the plan, here is a shot of the edit screen for the plan in question:
![edit time](https://cloud.githubusercontent.com/assets/289304/6974831/ffe898ec-d963-11e4-9f45-4320b92b171a.png)
Therefore I expected to see the ends_at key/value pair as part of the response. Thanks for your help.

[2015-04-02 22:21] skylarsch commented on #42
@m2web I follow now.  The data returned by `/services_types/:id/plans.json` is very limited.  You'll want to use the `id` value to get the full plan data by making a `GET` request to `/plans/:id.json` (`/plans/22622427.json`)

That will give you all the times associated with that plan.

[2015-04-02 22:54] m2web commented on #42
@skylarsch, Spot on! Just what I needed. Thanks for the help and timely responses.

[2015-04-02 22:54] #42 closed

[2015-04-07 11:05] m2web opened #43 "Getting documents of all upcoming service_types"
Is there a way to get all upcoming service_types via something like https://services.planningcenteronline.com/service_types.json? What I would like to form is a list of upcoming service_type names with ids.

[2015-04-07 15:38] skylarsch commented on #43
@m2web You're looking for `/organization.json?include_service_types=true`

[2015-04-08 00:00] m2web commented on #43
Thanks!

[2015-04-08 00:00] #43 closed

[2015-04-09 06:53] samoka opened #44 "https://github.com/deboorn/PlanningCenterOnline-API-Helper"
Trying to implement PCO using the above, but keep getting this error:

"Error: making the request failed (Peer certificate cannot be authenticated with given CA certificates)
Code: -1
Response:"

Anyone knows what i might be doing wrong?

[2015-04-09 14:37] jkichline opened #45 "403 Forbidden Accessing Arrangement"
We are getting a 403 Forbidden error when accessing only a specific call in the API. Everything else seems to be working fine. This is received when we attempt to get details about a specific arrangement.

Here is our request:
https://services.planningcenteronline.com/arrangements/10455489.json

Here is some debugging information about the request...
[code]

Has something changed on the API that w

[2015-04-09 15:34] bensie commented on #45
@jkichline Looking into this for you now, will get back to you shortly.

[2015-04-09 15:41] bensie commented on #45
@jkichline Can you supply the headers you're sending with the request?

I'm specifically looking for Authorization header with your OAuth info (omit your key/secret), request method, etc.

[2015-04-09 17:52] jkichline commented on #45
https://services.planningcenteronline.com/arrangements/10455489.json <https://services.planningcenteronline.com/arrangements/10455489.json>

OAuth realm="https://services.planningcenteronline.com/",oauth_consumer_key="0J27EWwm1yWOuhNiiF8Q",oauth_nonce="94e77c1a20f062aef3f99271979bf0c3",oauth_signature="gn1B0DSKG%2FLUnOMpStKkvIO5Ls8%3D",oauth_signature_method="HMAC-SHA1",oauth_timestamp="1428601777

[2015-04-10 05:38] samoka commented on #44
Not sure if this is the best way, but this is what i found for anyone having the same issue.

http://stackoverflow.com/questions/14566864/peer-certificate-cannot-be-authenticated-with-known-ca-certificates-how-to-reso

[2015-04-10 05:38] #44 closed

[2015-04-10 07:25] samoka opened #46 "C# implementation for Peoples API"
Hi,

Does anyone know of any C# implementation for Peoples API?

[2015-04-10 18:08] skylarsch commented on #44
@samoka Thanks for posting your solution!

[2015-04-12 22:34] jkichline commented on #45
Any status on this? I just need if it's something I need to change on my end. Again, this was working but now it's not working any longer.

[2015-04-13 15:18] bensie commented on #45
@jkichline I'm unable to reproduce this on my end. The day you mentioned this was also the day that iOS 8.3 was released. Any chance you're only seeing this on devices running 8.3?

The only other noticeable issue with your example above is that our OAuth signature method expects "PLAINTEXT", not "HMAC-SHA1".

[2015-04-14 06:08] samoka opened #47 "API not returning all people"
Was wondering if anyone can help with this..

When I do an API call for all people I get just one person as a response

![img1](https://cloud.githubusercontent.com/assets/9864026/7131277/2a2a79a0-e27d-11e4-816a-109fabcbef6a.png)

But on PCO I have 2 people.
![img2](https://cloud.githubusercontent.com/assets/9864026/7131286/53f6349a-e27d-11e4-99c6-66fab0eeda04.png)

Any idea why that is?

[2015-04-15 09:19] samoka commented on #47
Update: I'm also getting a 404 error code anytime I send a post now

[2015-04-15 15:03] bensie commented on #47
@samoka Currently our API is only for the Services application (returns people who are in Services). We do not yet have a People app API, but we're working on it!

[2015-04-15 15:08] samoka commented on #47
@bensie Yes I do understand that, I used the API call as specified on the page

"POST https://services.planningcenteronline.com/people.json"

The Peoples App gets the new user but the services doesn't and also it doesn't return any ID for the newly created user, so theres no way for me to store the newly created ID on my end.

Hope I'm making sense.

[2015-04-18 08:31] Znarkus opened #48 "Get email addresses from /people.json"
Hi!

Is there any way to get email addresses from GET https://services.planningcenteronline.com/people.json?

Or do I have to go to GET https://services.planningcenteronline.com/people/1.json?

Also, what are all parameters available for /people.json?

[2015-04-18 15:24] blargism commented on #46
I've done some work on that.  It's not realm ready but ill see about putting it in public repo when it is better put together.

[2015-04-18 15:27] samoka commented on #46
Nice! Will watch this space.

[2015-04-18 15:29] blargism opened #49 "How do I access currently logged in user"
Using the API how do I get the currently logged in user?  I don't see an endpoint in the documentation to do so.

[2015-04-18 15:30] blargism commented on #48
I've had to get the individual user.

[2015-04-18 16:02] blargism commented on #46
Well.  It'll be on my github since I'm not a planning center guy.

[2015-04-18 16:06] samoka commented on #46
Cool, post the link once ready and I'll be on it.

Thanks.

[2015-04-19 00:06] blargism commented on #46
Looks like these guys have done some C# integration. https://github.com/fellowshiptech/f1-pco

It's not a library, but it should at least provide some guidance.

[2015-04-19 05:36] samoka commented on #46
Thanks Joe, will have a look and see, it also might be too specific to F1

[2015-05-01 15:16] jkichline commented on #45
I have more information. We have a team where only one person cannot access the chord charts but the rest of the team can. That may be why you can't access it.  Can I somehow send you that user's credentials and test with that?

We haven't changed anything with authentication and it has worked fine. Then one day we started getting lots of errors. We currently need to tell users there's a problem w

[2015-05-01 15:21] jkichline commented on #45
By the way, changing the oauth_signature_method to PLAINTEXT has no effect on the outcome. We are still getting a 403 Forbidden.

[2015-05-01 15:26] TheBerg commented on #45
@jkichline Yeah, if you could email the details to support@planningcenteronline.com we will look into it more. Please mention it is for the developers so it gets to us. :)

We use the same APIs that you do for our apps and haven't seen any issues.

Note, not all users have access to update an arrangements, only `editors` and above do. What are you updating on the arrangement?

I just remembered, w

[2015-05-01 16:49] jkichline commented on #45
We do not have the ability to update arrangements in OnSong (although if you can point me to that part of the API I'd really like to add that).  We are just trying to retrieve the arrangement in this case.

[2015-05-01 17:42] TheBerg commented on #45
@jkichline even showing arrangements is restricted and always has been. We return the arrangement info in the plan_item.

[2015-05-01 19:09] TheBerg commented on #45
@jkichline after looking at the ticket it looks like the user is a Schedule Viewer. I check out our code from a year ago and it was like this then too. Scheduled Viewers are the only permissions that do not have permissions to arrangements#show. Right now that is the only place to get the chord chart text. We are discussing how we can get that text to you.

[2015-05-01 21:04] TheBerg commented on #45
@jkichline We are looking at adding ?include_chord_charts=true to the plan API. Would that work for you?

[2015-05-01 21:30] jkichline commented on #45
AS long as we are getting the chord chart arrangement somewhere I think we will be good.  Are you talking about /plans/123454.json?include_chord_charts=true  Would that be listed as an attachment or in a chord charts array or something?

[2015-05-01 21:32] TheBerg commented on #45
@jkichline Yes that url, probably a property of the selected arrangement.

[2015-05-04 03:10] jkichline commented on #45
Let me know when it’s implemented and specifically how so I can get that worked into OnSong.  Thanks!

[2015-05-05 18:09] tannermares commented on #45
Hey @jkichline! I added the option `include_chord_charts` to the plans JSON. So now requesting

[code]
will get you something like
[code]

[2015-05-11 00:20] D-Bullock commented on #6
What data type is remote_id? I'm trying to put a Guid in there (eg: 880673f7-d8f2-4240-ab7c-5e130de39891), but it seems to be just taking the first section as if it's parsing a number.

[2015-05-11 01:12] D-Bullock opened #50 "Remove a person"
How does one remove a person?

[2015-05-11 01:14] skylarsch commented on #49
@blargism Sorry for the slow response. `/me.json` should be what you're looking for.

[2015-05-11 01:14] #49 closed

[2015-05-11 03:30] D-Bullock opened #51 "Documentation: Plans"
The documentation incorrectly lists the result of Plans.List as an individual result, as opposed to an array.
It also doesn't give any example of what a category could look like.

[2015-05-11 15:43] danielmurphy commented on #6
You're right, `remote_id` is an integer.

[2015-05-11 15:43] #6 closed

[2015-05-11 22:29] D-Bullock opened #52 "Person.Birthday Date Format"
### Issue Summary
The format for dates seems to vary depending on where it was originally inserted.

### Details
My local is Australian (dd/MM/yyyy) and when I use the site dates correctly appear and are settable in this format. When I fetch data set via website with the API it's also in this format.
However, when i try and set the value, it will only accept American format (MM/dd/yyyy), when I se

[2015-05-11 22:37] skylarsch commented on #52
@D-Bullock This is a know issue in the API.

In our apps we have a list of date formatters that we try, and then look at the org `date_format` to display the date in the correct format.

We are looking into improving this in the future.

[2015-05-11 22:37] #52 closed

[2015-05-22 10:46] simube opened #53 "URLs for API changed?"
Hi

Today I have problems accessing PCO by API.

Now I saw in the documentation, that the URLs are different from what I programmed originally.

I use: https://www.planningcenteronline.com/songs.json
Docs: https://services.planningcenteronline.com/songs.json

Where was this change announced? I didn't see anything about this change!

I changed the URL and now it works again...

Simon

[2015-05-22 12:34] jstaehli commented on #53
Hello

I had the exact same problem. Thank you simube for mentioning that the URLs have changed now it works again for me.

@ PCO Team: How do you communicate such API changes?

Josua

[2015-05-22 15:17] dobrite commented on #53
Yesterday, a change was pushed that inadvertently redirected API requests from  `www.planningcenteronline.com` to `services.planningcenteronline.com`. While the correct API URL is `services.planningcenteronline.com` the change was not intended, and was reverted.

If you can, please update your programs to point to `services.planningcenteronline.com`, otherwise `www.planningcenteronline.com` should

[2015-05-22 15:26] #53 closed

[2015-05-22 22:20] jstaehli commented on #53
Thank you very much!

[2015-05-23 17:45] Jumba opened #54 "Retrieve persons team membership"
Hello,

I was wondering if it's possible to retrieve the teams a person is member of. I've looked through the entire API but I don't think it's currently possible?

And if it's not, will it be in the future?

[2015-05-28 04:37] D-Bullock opened #55 "Update/Insert Plans"
Is it possible to update or insert plans?
Or for that matter, add folders to the organization?

[2015-05-28 05:34] bensie commented on #54
@Jumba This is not available in the current API. But yes, we do have plans for this in a new, upcoming version of our API. Stay tuned :)

[2015-05-28 05:34] #54 closed

[2015-05-28 05:34] #45 closed

[2015-05-28 05:35] #46 closed

[2015-05-28 05:37] bensie commented on #47
@samoka Were you able to get this figured out? Anytime you create a new person (successfully), you'll get "id" and "account_center_id" attributes, among everything else. "id" is the person's ID in Services, "account_center_id" is the person's ID in the People application.

[2015-05-28 05:37] #47 closed

[2015-05-28 05:39] bensie commented on #48
@Znarkus Currently you need to GET each person. In an upcoming version of our API, you'll be able to include email addresses at the collection level.

[2015-05-28 05:39] #48 closed

[2015-05-28 05:42] samoka commented on #47
@bensie No, not Yet, I don't think I'm getting these variables returned, so which means the creating is not happening as expected. Will have a look again to see if anything has changes sine last time I tried it.

Thanks.

[2015-05-28 05:42] bensie commented on #51
Expect excellent documentation for a brand new API soon. We know the current docs for our v1 API often leave something to be desired. Sorry about that.

[2015-05-28 05:42] #51 closed

[2015-05-28 05:44] bensie commented on #55
Same answer as #51 :) More public APIs and better docs are in the works.

[2015-05-28 05:44] #55 closed

[2015-05-28 05:46] bensie commented on #50
It's undocumented, but you can do a `DELETE` to `https://services.planningcenteronline.com/people/1.json`, where 1 is the ID of the person you're trying to delete.

[2015-05-28 05:46] #50 closed

[2015-05-28 05:52] D-Bullock commented on #51
What's the ETA of this new API?

[2015-05-28 05:53] bensie commented on #47
@samoka Check the status code of your response. A 20x indicates success, a 4xx (most likely a 422) indicates a validation error occurred and the record wasn't created/updated.

[2015-05-28 05:55] samoka commented on #47
Yes, i'm getting a 422, but cant figure out why that is as the post has all relevant fields, is there any validation that is done that is not mentioned in the docs perhaps?

[2015-05-28 05:58] bensie commented on #51
I can't make any promises on specific dates, but very soon. We're expecting to begin rolling it out over the next few weeks.

[2015-05-28 06:00] D-Bullock commented on #51
Would it be possible to gain early access? I'd love to give feedback on it.

[2015-05-28 20:12] bensie commented on #51
We'll likely roll it out quietly at first (available to everyone, but unannounced). I'll drop a note here once that happens.

[2015-05-30 06:03] samoka opened #56 "PCO Error Details"
Hi,

Please is there a way to find out what this error detail is?

![screenshot at may 30 08-02-13](https://cloud.githubusercontent.com/assets/9864026/7895823/3a048066-06a2-11e5-8eec-199f59b0ed4b.png)

On Services it says the user exist, but as you can see the user does not show up on the list below.
![screenshot at may 30 08-16-29](https://cloud.githubusercontent.com/assets/9864026/7895866/477600

[2015-05-30 14:05] bensie commented on #56
@samoka Sorry you're having issues! Can you [open a support ticket](https://support.planningcenteronline.com/hc/en-us) so someone can look at your account?

"Error" shouldn't be a permission level, we'll look into that /cc @danielmurphy

[2015-05-30 14:27] samoka commented on #56
@bensie Thanks, have just done so.

[2015-05-30 14:31] danielmurphy commented on #56
Thanks @samoka. We'll make sure someone takes a look first thing Monday morning.

[2015-05-30 14:33] samoka commented on #56
Awesome!

[2015-06-01 20:26] geolessel commented on #56
@samoka I'm trying to track down how this occurred. Does this happen every time you try to create a person through the API?

[2015-06-02 03:02] samoka commented on #56
Yip it does

Regards,
Sam Moka
Manager
0100 600 110
www.anatomy.org.za<http://www.anatomy.org.za>

On 01 Jun 2015, at 10:27 PM, Geoffrey Lessel <notifications@github.com<mailto:notifications@github.com>> wrote:

@samoka<https://github.com/samoka> I'm trying to track down how this occurred. Does this happen every time you try to create a person through the API?

—
Reply to this email directly or vi

[2015-06-02 14:05] geolessel commented on #56
@samoka Would you mind creating a test person through your call? I'd like to examine it. Please let me know the ID of the person you created.

[2015-06-02 15:02] samoka commented on #56
@geolessel Thanks, I just added another user Matt, see image below
![screenshot at jun 02 17-01-16](https://cloud.githubusercontent.com/assets/9864026/7939024/11247dd2-0949-11e5-94a5-47dd2f9f4ec5.png)

[2015-06-02 21:43] geolessel commented on #56
@samoka My Oauth tests have been successful so far in creating the person. Would you mind sharing the code and json payload you are using to create this person as well as any further error messages?

According to our support team, you are using https://github.com/deboorn/PlanningCenterOnline-API-Helper/blob/master/src/com.rapiddigitalllc/PlanningCenterOnline.php as a tool. Is that correct?

[2015-06-02 21:49] skylarsch commented on #56
@samoka If you are in fact using that tool @geolessel linked to, it looks like they are using `HMAC-SHA1` to sign request.  We only support the `PLAINTEXT` signature method for OAuth.

Can you try adjusting that to use `PLAINTEXT` and see if that fixes your issue?

[2015-06-03 04:06] samoka commented on #56
@geolessel  Thanks for all the effort so far, below is the var_dump of the response I get after a post, hope it helps.

@skylarsch  Will dive into the api code and see where that can be changed.

![screenshot at jun 03 06-05-20](https://cloud.githubusercontent.com/assets/9864026/7952505/8ae4ffc6-09b6-11e5-9088-d1c9b65c4de5.png)

object(OAuthException)#10 (9) {
  ["message":protected]=>
  string(73

[2015-06-03 04:24] samoka commented on #56
@skylarsch Nope, PLAINTEXT produces the same result :(

object(OAuthException)#10 (9) {
  ["message":protected]=>
  string(73) "Invalid auth/bad request (got a 404, expected HTTP/1.1 20X or a redirect)"
  ["string":"Exception":private]=>
  string(0) ""
  ["code":protected]=>
  int(404)
  ["file":protected]=>
  string(68) "C:\websites\api\pco\src\com.rapiddigitalllc\PlanningCenterOnline.php"
  ["li

[2015-06-04 17:57] supresencia opened #57 "Custom Item Options de Planning Center"
Hello,

Currently we have our platform integrated with Planning Center using the API, now we are facing a problem, here is the description:

If a person has an assigned tag (Custom Item Options) in the platform, and we remove it from planning center, the API can not assign it again.

When we try to create the assignation from our system using the API, the API answer is that the assignment has alre

[2015-06-04 18:06] DonChapman opened #58 "Starting Planning Center Integration"
Hi, I have the website HymnCharts.com and am interested in seeing if I could create a way for my subscribers to be able to upload their sheet music PDFs, chord charts, MP3s and text lyrics directly to Planning Center.

I'm guessing it would look something like this for chord charts:
http://www.worshipready.com/general/planning-center-online-integration.html

and something like this for pdfs and mp

[2015-06-05 22:49] freakinhuge opened #59 "Get the name of the person on a position of a plan"
I am starting to integrate the PCO API into my app to pull in information from the services and I am finding it difficult to find the correlation between the service positions and the people that are serving on those positions. Any help would be greatly appreciated.

[2015-06-10 17:11] vestjm2 opened #60 "PCO API Integration"
Hi, I submitted this via the support system in PCO and was asked to post here as well.

We have been using PCO for some time now, and I am getting more and more intrigued by the capabilities. I'm no developer by trade, but I have dabbled in HTML and can learn things pretty quick. I was curious to know what the extent of the API capabilities are. Is this something I could use to add a page on my ch

[2015-06-12 00:09] TheBerg commented on #56
@samoka It might actually be a good idea for you to check out our new API: `http://planningcenter.github.io/` It is much more robust.

[2015-06-12 00:09] TheBerg commented on #56
I'll close this for now, please feel free to reopen.

[2015-06-12 00:09] #56 closed

[2015-06-12 00:12] TheBerg commented on #57
Our current API doesn't support updating of custom_items, but our new API will, we hope to get that out in the next couple of months. Could you let me know what your use case is?

[2015-06-12 00:12] #57 closed

[2015-06-12 00:15] TheBerg commented on #58
@DonChapman Sorry for a little bit of the run around, but can you email aaron@pco.zendesk.com, he is investigating a way to make it super easy for you to add this functionality to your site.

[2015-06-12 00:15] #58 closed

[2015-06-12 00:19] TheBerg commented on #59
@freakinhuge What exactly are you trying to get? the `plan_people` section of the plan should give you what you need. Also, we will be coming up with a new API very soon, that will allow you to pick and choose what info you want to load.

[2015-06-12 00:19] #59 closed

[2015-06-12 00:33] TheBerg commented on #60
@vestjm2 You definitely can use the API to add something that your volunteers can access. What language is your API developed in? You might want to wait a little bit for the Services API V2, which will be much better. You can get started by using the People API V1, information is here: planningcenter.github.io

[2015-06-12 00:33] #60 closed

[2015-06-14 02:42] aortiz32 opened #61 "[Feature Request] CREATE endpoint for the Plans API"
The existing Plans API has support for listing and getting plans: http://get.planningcenteronline.com/api/plan/

Our organization would like to auto-create plans for our Sunday and Wednesday services. I can write some code to do this if there were a CREATE endpoint for the Plans API.

Or is there a different way to auto-create plans?

[2015-06-15 07:18] samoka commented on #56
Great! let see if this solves my problem.

[2015-06-15 15:24] TheBerg commented on #61
@aortiz32 There is not a way to do this currently, but we are working on a Services API V2, and hope to come out with it in the next couple of months. I believe there are plans to allow you to create plans via that API. Keep an eye on our twitter for more news. You can see our People API V2 here for an idea of what the new services API will look like: http://planningcenter.github.io/

[2015-06-15 15:24] #61 closed

[2015-06-15 16:53] samoka commented on #56
@TheBerg I'm getting a "HTTP Basic: Access denied." when i make a call to

https://api.planningcenteronline.com/people/v2/people

Any idea why?

[2015-06-15 16:55] seven1m commented on #56
@samoka make sure you are using one of the authentication methods described here: https://planningcenter.github.io/api-docs/#authentication

[2015-06-15 16:56] samoka commented on #56
Yes I'm making use of OAuth2 as suggested.

[2015-06-15 16:58] seven1m commented on #56
Are you passing your oauth token using the `Authorization` header? https://tools.ietf.org/html/rfc6750#section-2.1

[2015-06-15 17:07] samoka commented on #56
hmm... pls gonna need a sample code, figure this one out :)

[2015-06-15 17:13] seven1m commented on #56
@samoka we have an example Sinatra+OAuth app that may help. https://github.com/planningcenter/pco_api_oauth_example

[2015-06-15 17:58] samoka commented on #56
Thanks, not that clued up about ruby.

[2015-06-15 18:00] bensie commented on #56
@samoka Can you provide some sample code for what you have so far?

[2015-06-15 18:15] samoka commented on #56
Thanks, making use of this:

https://github.com/adoy/PHP-OAuth2

require('Client.php');
require('GrantType/IGrantType.php');
require('GrantType/AuthorizationCode.php');

const CLIENT_ID     = '82d999af1c8e09d46321ff7d2a693967cad9002d1266a2a44c7830fe5192305e';
const CLIENT_SECRET = '5737c238adc4dc979b742e298d08fa5df70fc0b41ab4f993035ee7e9f6495210';

const REDIRECT_URI           = 'https://api.anato

[2015-07-02 05:08] supagu opened #64 "API to extract custom slides data"
I am trying to extract the custom slide data (the slide titles and body text) as JSON, but I cant seem to find anything about this on API website (http://get.planningcenteronline.com/api)

Thanks,
Fabian

[2015-07-10 16:54] adamtootle opened #65 "Edit API client details"
I've built a small Services music player for Mac, but I'd like to tweak one part of the OAuth flow. Currently the message displayed for the login page on web says "Adam Tootle would like access to your account." but I'd rather use the app name there so it doesn't look like I'm actually gaining access to their account. Is there an easy way to update that info?

[2015-07-22 20:57] SnoopyKIWI opened #66 "APIs for creating/updating plans"
Every week our church creates plans for each of our services using templates they have to tweak each week. It's complicated for many reasons, one being that some ministry teams rotate every two weeks and others rotate every three weeks. We are trying to simplify this process on our end using custom software I'm writing. Currently, I'm able to pull (GET) plan information for each of our services, i

[2015-07-24 20:52] timmonson opened #67 "Fatal error: Class 'OAuth' not found (help!)"
I submitted this request to support@ this morning but was told to post it here so all developers could have a look at it:

I am attempting to use OAuth to gain access to Planning Center Online’s (PCO) API (http://get.planningcenteronline.com/api) When I attempt to authorize with my consumer key & secret in wordpress I get the following error:
**'Fatal error: Class 'OAuth' not found in /home1/lifeb

[2015-07-24 21:20] timmonson commented on #67
This is the latest response from John Ellmore regarding the issue: *Tim, honestly, this situation kind of baffles me. The OAuth module is definitely installed and enabled, and I can use it in a basic standalone script. But for some reason, it is simply is not defined in WordPress. You'll probably need to contact Bluehost support for this one. I can't figure out why this is happening.

You might tr

[2015-07-25 03:50] timmonson commented on #67
This has been fixed by switching from PHP 5.4 to PHP 5.4 (Single php.ini)

	PHP 5.4
All files with the extension .php will be handled by the PHP 5.4 engine.
Latest version of PHP.
	PHP 5.4 (Single php.ini)
Same as PHP 5.4, but all subdirectories will use ~/public_html/php.ini

It works like a charm now.

[2015-07-25 03:51] #67 closed

[2015-07-25 17:34] timmonson opened #68 "JSON data not refreshing on website"
Hello! I am using a plugin that utilizes your API in order to pull song lists into our webpage (http://www.lifebiblechurch.org/what-were-singing/ <http://www.lifebiblechurch.org/what-were-singing/>) I got the data to pull in 1 time but now unfortunately the data seems stuck (Is there some sort of delay in updating the JSON Array with changes made in Planning Center?). I made a bunch of adjustments

[2015-07-27 17:46] bensie commented on #68
@timmonson Our API responses are always up-to-date with the data you see on the web (no delay). What endpoint(s) are you using that aren't reflecting current data?

Although there are no PHP errors you can see, make sure your script isn't somehow presenting stale data instead of going back to the server to get the latest

[2015-07-27 17:55] timmonson commented on #68
I figured this out over the weekend. There was a portion of the script that allowed a 24 hour cached version of the JSON array on my end. All is good and thank you for the quick response.

Tim Monson
Tim Monson Photo & Design
www.timmonson.com
info@timmonson.com
541.852.0096

[2015-07-27 18:00] bensie commented on #68
:bowtie:

Great, have a good one!

[2015-07-27 18:00] #68 closed

[2015-07-27 18:30] TheBerg commented on #65
@adamtootle what would you like the App Name to be?

[2015-07-27 18:35] skylarsch commented on #64
@supagu Currently it's an un-documented API and __could change__ at any time.  But if you pass `include_slides=true` when requesting `plan.json` you'll get the slides data back.

So `https://services.planningcenteronline.com/plans/1.json?include_slides=true` will include a `items.custom_slides` array

Again, this is an un-documented API and __could change__ at any time.

[2015-07-27 18:35] #64 closed

[2015-07-27 18:49] skylarsch commented on #66
@SnoopyKIWI If you don't have an account in Planning Center People you won't be able to access any data from the People API.  You can create a new organization that you're the owner of an sign up for the (free) People app.  That will give you access to the People API.

Currently Services doesn't support APIv2 but it is being worked on :wink:.  I can't give you a timeline on that, but it is coming.

[2015-07-27 18:49] #66 closed

[2015-08-03 11:51] johnmnorthway opened #69 "Pull all service type plans after a certain date..."
Hi Guys,

I have built an integration tool between Planning Center and Think Ministry Platform on the C#.Net platform.  I am using the following call:

service_types/134790/plans.json?all=true

to pull all historical plans for that service type.  I need the all=true parameter in order to pull past plans, otherwise I would only get future ones.  But I only need the last couple weeks worth, not all

[2015-08-04 02:00] colobren opened #70 "Date ranges"
Hello -

I'm trying to query using created_at and updated_at by date range.  I can't figure out how to use a date range or a "greater than" and "less than".  In fact, currently, the only way I can get these options to return data is to use the exact date and time a record was created or updated.

I need to have a way to pull all people records that were updated or created since a certain date.  An

[2015-08-04 05:53] bensie commented on #70
@colobren Assuming you're using our latest People API (http://planningcenter.github.io/api-docs/#people), you could fetch paginated listings of people ordering by created_at in descending order, then you can stop when you get to the target date.

`GET https://api.planningcenteronline.com/people/v2/people?order=-created_at`

The dash (`-`) allows you to sort any sortable column in descending order.

[2015-08-04 05:53] #70 closed

[2015-08-07 18:03] adamtootle commented on #65
@TheBerg totally forgot to reply to this. I'd like for it to be "PCS Player" since that's what I'm calling the app.

Thanks!

[2015-08-08 11:35] Abdulhassan opened #71 "Built software project"
HI Open Source Software Developers,
I am looking for you to help me built software project . I am PhD student in JCU University QLD Australia
Please if you are willing participate in my project , just send me your name and skills you have .

Email: mohammada.abdulhassan@my.jcu.edu.au
Gmail aziznotaziz@gmail.com
facebook https://www.facebook.com/pages/Open-Source-Software-Developers/895277613887235

[2015-08-08 15:57] #71 closed

[2015-08-10 04:03] prestonhorn opened #72 "Per Page Maximum"
I'm using the new People API to query lists. We have some lists that are several hundred people. Is there a way to get more than 100 results per page? Obviously, this doesn't work. Let me know if there is a work-around. Thanks!

https://api.planningcenteronline.com/people/v2/lists/8413/people?include=emails&per_page=200

[2015-08-10 04:19] bensie commented on #72
The purpose of the per page limit is to ensure that responses are served at a consistent speed without putting unnecessary load on our servers.

The response you receive on the first page contains the info and URLs you need to fetch subsequent pages. It is up to you to combine the results across multiple pages on your end.

[2015-08-10 04:19] #72 closed

[2015-08-10 16:08] TheBerg commented on #65
@adamtootle done!

[2015-08-10 16:08] #65 closed

[2015-08-10 20:04] adamtootle opened #73 "Sandbox accounts?"
Is there a preferred way to test API integrations? I need to try something out with the Services API but I'm on an every-other-week rotation at my home church so I only have plans available half of the time. Is it recommended to just sign up for a basic/free plan and use that?

[2015-08-10 20:17] TheBerg commented on #73
Yeah, just sign up for a free plan:

https://accounts.planningcenteronline.com/sign_up/Services?package_id=79

You will have to fill it with sample data though.

[2015-08-10 20:17] #73 closed

[2015-08-10 20:19] adamtootle commented on #73
Awesome. Thanks!

[2015-08-11 20:37] prestonhorn opened #74 "Forbidden Access to PATCH"
I'm using the People API to PATCH, but I'm getting:

{"errors":[{"status":"403","title":"Forbidden","detail":"You do not have access to this resource"}]}

The Personal Access Token is setup on a user account with Editor access to the People app. What am I doing wrong?

[2015-08-11 20:38] bensie commented on #74
@prestonhorn What endpoint are you hitting?

[2015-08-11 20:39] prestonhorn commented on #74
https://api.planningcenteronline.com/people/v2/people/2192519

[2015-08-11 20:43] prestonhorn commented on #74
Here's my command line with PAT removed for privacy:

curl -v -u appid:secret -X PATCH -d '{"data":{"type":"Person","id":"2192519","attributes":{"first_name":"Nathan","middle_name":"Paul","last_name":"Joness","birthdate":null,"anniversary":null,"gender":null,"grade":null,"child":false,"status":"active","school_type":null,"graduation_year":null,"site_administrator":false,"people_permissions":null,"

[2015-08-11 20:58] bensie commented on #74
@prestonhorn We're working improving this. Currently you're getting that error because you're supplying attributes you're not allowed to set or change (created_at, updated_at at first glance). The current forbidden error message when that happens is unhelpful, plus we want to ignore those disallowed attributes instead of throwing an error.

For now, only supply the attributes you want to (and are

[2015-08-11 21:25] prestonhorn commented on #74
Ah okay, that makes sense. I pulled out everything except one attribute, but still getting denied.

curl -v -u app:sec -X PATCH -d '{"data":{"type":"Person","id":"2192519","attributes":{"last_name":"Joness"}}}' "https://api.planningcenteronline.com/people/v2/people/2192519"

[2015-08-11 23:11] seven1m commented on #74
@prestonhorn we found an issue on our side that needs to be fixed. We'll let you know when it's ready.

[2015-08-12 15:07] seven1m commented on #74
@prestonhorn this issue is fixed now. Please try again!

[2015-08-12 16:41] prestonhorn commented on #74
Awesome, it works perfect now! Thank you so much.

[2015-08-12 16:41] #74 closed

[2015-08-23 00:10] jameslnewell opened #75 "Is there an API for the Giving app?"
With basic CRUD operations?

[2015-08-24 14:40] danott commented on #75
`Giving` does not provide an API presently. It is something we've talked about rolling out in the future.

For your use case, what are some of the important pieces of information you want to read/write?

[2015-08-24 20:40] jameslnewell commented on #75
My current use case is moving a church's historical data off CCB onto PCO but I've also had a number of churches request keeping the data in sync between PCO and CCB.

[2015-08-24 20:48] danott commented on #75
Thanks for the info @jameslnewell! Knowing how people want to use the API definitely helps us prioritize features to support y'all.

Because there isn't any immediate action to take, I'm going to close this issue for now.

[2015-08-24 20:48] #75 closed

[2015-08-24 23:04] bensie commented on #69
@johnmnorthway So sorry about the delay in responding to this, we totally dropped the ball.

Sadly the current Services API doesn't have what you need. We're working hard to release a totally new API for Services which will support this. Keep an eye out for it, it's coming soon!

[2015-08-24 23:04] #69 closed

[2015-08-27 10:41] simube opened #76 "Song API: get ALL scheduled dates of a song?"
Hi

Is there an easy way to get ALL dates, when a song is scheduled?

with the songs API i get only the values:

[code]

but I'd like to have all dates, a song is scheduled in services similar to the list on the left side named "Schedule" in PCO song view.

Simon

[2015-08-27 23:10] SnoopyKIWI opened #77 "API user logout"
I'm currently using oauth to authenticate a church volunteer:

1. I obtain a temporary token via https://services.planningcenteronline.com/oauth/request_token
2. User agent redirects to https://services.planningcenteronline.com/oauth/authorize with the supplied oauth_token
3. After successful login, it's redirected back to my application.
4. I obtain an access token via https://services.planningce

[2015-08-27 23:45] bensie commented on #77
@SnoopyKIWI I don't have a solution at the moment, but will get back to you early next week on whether or not we could accept an arbitrary redirect parameter upon logout. I'll also look around at how others approach this.

We do not offer any way of doing authentication directly for security reasons. Application owners aren't meant to ever capture user emails/passwords, just API tokens.

[2015-08-27 23:52] SnoopyKIWI commented on #77
Then could you perhaps remove the iframe restriction or provide an API that I can call directly from the user agent (JSONP)?

[2015-08-28 00:38] TheBerg commented on #77
We have to keep the iFrame restriction because of multiple accounts & for security purposes.

I believe if you include `?force_login=true` on the `/authorize` redirect to force a logout. Please let me know how it goes.

[2015-08-28 00:45] TheBerg commented on #77
Also, Services API v2 just hit BETA: `http://planningcenter.github.io/api-docs/#pco-services-(beta)`, right now it is just view only, but the ability to write to the API is next up for our developers.

[2015-08-28 02:28] SnoopyKIWI commented on #77
Not to open a security debate, but what about the possibility of using ALLOW-FROM instead? The allowed origins could be constrained to what was specified as the callback for the request token (or to an origin registered with the consumer token when applying for a consumer key). For example:

1. myapp.example.com calls /oauth/request_token?callback=myapp.example.com/callback&allow_origin=true using

[2015-08-28 02:38] TheBerg commented on #77
I believe the problem with that is that it would allow your app (and any other application) access to any dom elements and cookies via javascript which seems like it would bring up a security concern.

[2015-08-28 04:04] bensie commented on #76
@simube This is not available in our APIv1, but I've added a ticket to add this to our upcoming APIv2, which we just quietly released in beta today :smiley_cat:

https://planningcenter.github.io/api-docs/#pco-services-(beta)

[2015-08-28 16:59] SnoopyKIWI commented on #77
Script in the containing document would not have access to the DOM or cookies of the iframe because of Same-Origin Policy. In fact you never have access to another origin's cookies. X-Frame-Options was introduced to prevent clickjacking, not DOM or cookie access. https://tools.ietf.org/html/rfc7034

However, using the allow-from option would enable the following scenario: In a web application, the

[2015-08-29 05:33] SnoopyKIWI commented on #77
BTW, I tried:
https://services.planningcenteronline.com/oauth/authorize?force_login=true?oauth_token=xxx
and it still bypassed the login page (unless I manually remove the _account_center_session cookie). Any other ideas?

[2015-08-29 16:12] TheBerg commented on #77
@SnoopyKIWI Okay, we will look into it and let you know why that didn't work on Monday. Maybe @skylarsch can give a comment, he implemented that in our new wrapper around our API.

[2015-09-02 17:23] SnoopyKIWI commented on #77
Any progress on this?

[2015-09-03 17:09] SnoopyKIWI commented on #77
I'm confused. Were you going to let me know why it didn't work on Monday, or were you just going to look into it on Monday?

[2015-09-03 17:17] TheBerg commented on #77
@SnoopyKIWI sorry for the delay. We will get back to you today. They are looking into why the force_login isn't working for you.

For the iFrame thing, I don't think we are going to do that at this time, we have a lot of other projects we have going right now and don't have time to investigate and make sure this is a secure thing for us to enable.

[2015-09-03 17:37] TheBerg commented on #77
@SnoopyKIWI I see what happened. That code never got merged for force_login, because we fixed the issue on the client side (Private Sessions in iOS). I will work on getting a new PR and get this out to api shortly.

[2015-09-03 17:45] SnoopyKIWI commented on #77
Ah! I wish I could say that (not merging) has never happened to me before... [one of the reasons why I'm a fan of unit testing now, even on my own personal projects.]

[2015-09-03 17:58] TheBerg commented on #77
The unit tests were in the same Pull Request as the code to activate the feature. :)

[2015-09-03 18:02] SnoopyKIWI commented on #77
*GASP* Oh the glories of source control...

[2015-09-04 00:35] TheBerg commented on #77
I have a PR for this in review. Should be merged tomorrow. :)

[2015-09-04 15:34] SnoopyKIWI commented on #77
Please let me know when it's merged so I can test it out. Thanks!

[2015-09-04 15:51] TheBerg commented on #77
@SnoopyKIWI This should be deployed and you should be good. Please let me know if there is anything else I can do to help.

[2015-09-04 15:51] #77 closed

[2015-09-04 15:51] #76 closed

[2015-09-04 16:04] SnoopyKIWI commented on #77
It doesn't seem to be working yet (still instant redirection and no login screen):

HTTP/1.1 302 Found
Connection: Keep-Alive
Content-Length: 0
Content-Type: text/plain
Date: Fri, 04 Sep 2015 16:00:57 GMT
Keep-Alive: timeout=5, max=98
Location: https://services.planningcenteronline.com/oauth/authorize?force_login=true&oauth_token=gPKLJghuMV9WbgiRXx1Z

GET /oauth/authorize?force_login=true&oauth_to

[2015-09-04 16:08] TheBerg commented on #77
Hahaha, sorry, this only works for API v2. We are not making any enhancements to the V1 API anymore, sorry about that.

[2015-09-04 16:24] SnoopyKIWI commented on #77
Seriously? We have to rewrite our entire app because you can't simply clear a cookie? I don't find that funny at all !

Didn't you read any of the URLs I provided above? I was explicit for a reason. At the very least you could have forewarned me eight days ago. Which endpoints should I be using instead?

[2015-09-04 16:56] TheBerg commented on #77
@SnoopyKIWI I am so sorry I did not notice you were using our older API, and we have decided to no longer provide any changes to our older API as it is deprecated. We have several other companies using our API and none of them have had this need. Again, I am sorry this inconveniences you.

[2015-09-04 17:04] SnoopyKIWI commented on #77
I find it astonishing that those companies don't need to log out their users.

I'll ask again: which endpoints should I be using instead? They (the authorization and token endpoints) are not specified in your docs. To elaborate further, does APIv2 require OAuth 2.0 or will OAuth 1.0a work there? [I'm trying to minimize the amount of rewriting we have to do.]

[2015-09-04 18:04] bensie commented on #77
@SnoopyKIWI We're using the standard endpoints per the spec, but I'll make a note to add them to the docs:

https://api.planningcenteronline.com/oauth/authorize
https://api.planningcenteronline.com/oauth/token

APIv2 does require OAuth 2.0, there are no plans to support 1.0.

The session reset functionality we added earlier today is available on the authorize endpoint (https://api.planningcenteron

[2015-09-04 18:13] SnoopyKIWI commented on #77
FYI: the spec doesn't specify endpoints. In fact 1.8 states: "In addition, this specification leaves a few required components partially or fully undefined (e.g., client registration, authorization server capabilities, endpoint discovery)." From 3.1: "The means through which the client obtains the location of the authorization endpoint are beyond the scope of this specification, but the location i

[2015-09-08 01:11] SnoopyKIWI opened #78 "APIv2: 403 Forbidden trying to get people list"
Using v2 of API with OAuth2, I successfully obtain an `authorization_code` grant (codes+secrets+tokens obfuscated):
[code]
However, when I try to access a protected resource, for example getting a list of people:
[code]
Ideally I just want is the APIv2 equivalent of https://services.planningcenteronline.com/me.json but nothing similar appears in your docs. All I really need is the user's `person_i

[2015-09-08 03:55] bensie commented on #78
Looks like we forgot to include `scope` info in our documentation. Each app must have its scope permitted explicitly before you can use it. Examples:

`https://api.planningcenteronline.com/oauth/authorize?(... other params... )&scope=services`
`https://api.planningcenteronline.com/oauth/authorize?(... other params... )&scope=people`
`https://api.planningcenteronline.com/oauth/authorize?(... other

[2015-09-08 03:55] #78 closed

[2015-09-08 17:30] SnoopyKIWI commented on #78
Not sure why this was closed yet?! I added the scope parameter to the authorize URL and it didn't help:
[code]
… on the backend:
[code]
Also can you tell me if there's an equivalent v2 for https://services.planningcenteronline.com/me.json ?

[2015-09-08 17:41] TheBerg commented on #78
Sorry about that, we thought that was fixed. I see what went wrong. It was an issue with force_login. I have pushed a fix.

As for /me.json. You can use `https://api.planningcenteronline.com/check`. This will tell you your scopes also.

Jeff

[2015-09-08 17:53] SnoopyKIWI commented on #78
Sweet, that works perfectly! Thank you

[2015-09-09 23:38] SnoopyKIWI opened #79 "OAuth 2.0 drops state parameter after redirect"
I'm authenticating a user with the following URL (truncated values):
[code]
but after a successful login, the redirect URL is:
[code]
The `state` parameter is missing! It should instead be:
[code]
according to http://tools.ietf.org/html/rfc6749#section-4.1.2
[code]
Look at the example in 4.1.1 and 4.1.2, where they propagate the value `state=xyz`.

[2015-09-09 23:50] TheBerg commented on #79
Fixed, deployed to production. Have a great day!

[2015-09-09 23:50] #79 closed

[2015-09-10 02:43] SnoopyKIWI commented on #79
I appreciate the fast response! Unfortunately, now it's stuck in a redirect loop:
[code]
ad infinitum. The only difference in each request is a different cookie.

[2015-09-10 05:05] TheBerg commented on #79
Sorry, I stink. Fix for that deployed

[2015-09-10 05:31] SnoopyKIWI commented on #79
No worries. It looks good to me, thank you!

[2015-09-10 19:08] JoelMacKenzie opened #80 "OAuth Questions"
Hey there,

I'm new to oauth and am having some issues authenticating.

I tried sending a POST request to: https://planningcenteronline.com/oauth/request_token/
with the following Authorization headers:
Authorization: OAuth, oauth_consumer_key="[my consumer key]", oauth_signature_method="PLAINTEXT", oauth_signature="[my consumer secret]%26", oauth_version="1.0"

[my consumer key] and [my consumer

[2015-09-10 20:12] skylarsch commented on #80
@JoelMacKenzie At a quick glance, it look like you're getting an extra comma in the Oauth header.  It should be `OAuth oauth_...` not `OAuth, oauth_`  Can you try removing that extra comma and seeing if that fixes your issue?

[2015-09-11 12:51] JoelMacKenzie commented on #80
Great! I'm now able to get a response when requesting https://planningcenteronline.com/oauth/request_token/ using the headers.  Thanks.

I'm still having trouble with https://services.planningcenteronline.com/oauth/access_token.  I'm sending the following headers along with it:
Authorization: OAuth oauth_token="[oauth_token received from access_token]", oauth_verifier="[oauth_token received from a

[2015-09-11 14:18] tobeyun opened #81 "OAuth Unauthorized"
I am working on my app and I have hit a problem. I am working through the OAuth steps and everything was working fine with requesting a token (step 1 essentially), and now when I try to issue the request, I get an “Unauthorized” response. Is there a limit as to the number of tokens or requests I can make in a certain time period?

I even tried the token utility on accesstoken.io and it gave me the

[2015-09-11 14:39] reginaldwade opened #82 "How to programmatically take away App from Accounts"
How do we update the People entity to take away a certain App? We need to do this for 500 people and don't want this to be a manual process. The API doc is not clear on how to do this. Thanks.

[2015-09-11 14:56] skylarsch commented on #80
Your request URL should look like `/oauth/access_token?oauth_verifier=verifier` & the header will be...

`Authorization: OAuth oauth_signature="consumer_secret%26", oauth_consumer_key="consumer_key", oauth_token="token", oauth_version="1.0", oauth_signature_method="PLAINTEXT"`

[2015-09-11 14:57] skylarsch commented on #81
@tobeyun What version of the API are you trying to use?

[2015-09-11 14:59] tobeyun commented on #81
@skylarsch I am really not sure??  I am following the specs at http://get.planningcenteronline.com/api/. At this point, I am still working on the OAuth portion. It was giving me request tokens perfectly then it stopped. Is there a limit (and if so, is it daily or hourly)?

[2015-09-11 15:05] JoelMacKenzie commented on #80
Awesome!  That works.  I got another token and secret.  Now I'm trying to call: https://services.planningcenteronline.com/organization.json.  What should my header look like for that?

[2015-09-11 15:07] skylarsch commented on #81
@tobeyun That's the `v1` version of the API.  It's currently deprecated and we're moving over to [`v2`](https://api.planningcenteronline.com)  It uses Oauth 2 and is much simpler.  So if you can, I would suggest moving over to v2, especially if you're just getting started.  That said, there is no limit to the number of tokens you can create.

As far as accesstoken.io if you're creating a single us

[2015-09-11 15:10] skylarsch commented on #80
`Authorization: OAuth oauth_signature="<consumer secret>%26<token secret>", oauth_consumer_key="<consumer key>", oauth_token="<token>", oauth_version="1.0", oauth_signature_method="PLAINTEXT"`

[2015-09-11 15:10] #80 closed

[2015-09-11 15:13] tobeyun commented on #81
oh, I gotcha. Thanks. So basically, I need to start over?  :)

Thanks for the link to v2, that will help!

[2015-09-11 15:15] skylarsch commented on #81
For `v1` the header will look like `Authorization: OAuth oauth_signature="<consumer secret>%26<token secret>", oauth_consumer_key="<consumer key>", oauth_token="<token>", oauth_version="1.0", oauth_signature_method="PLAINTEXT"` where `<token secret>` & `<token>` are the values your received from accesstoken.io

[2015-09-11 15:21] JoelMacKenzie commented on #80
That works great!  Thank you.  Very Appreciated

[2015-09-11 15:21] skylarsch commented on #80
@JoelMacKenzie Another thing, if you're just getting started with your app, then I would suggest that you take a look at [API v2](https://api.planningcenteronline.com/)

It uses Oauth 2 (a bit simpler) and has support for personal access tokens if you're creating a single user application.

[2015-09-11 15:40] tobeyun commented on #81
Thanks @skylarsch, that did it!

[2015-09-11 15:40] #81 closed

[2015-09-11 15:59] seven1m commented on #82
@reginaldwade I’m sorry that’s not possible via the API. Please get in touch with our Support Team (https://support.planningcenteronline.com/) and we can remove those for you.

[2015-09-11 15:59] #82 closed

[2015-09-11 16:12] tobeyun opened #84 "v2 API"
Okay, couple issues. The first is in regards to the specs for LISTing plans. The docs have the URL as https://api.planningcenteronline.com/services/v2/series/<service_type_id>/plans (which gives a 404) when in fact it is https://api.planningcenteronline.com/services/v2/service_types/<service_type_id>/plans.

The next issue, or rather a question, is how to use the filters? The above call to plans r

[2015-09-11 16:23] skylarsch commented on #84
We'll take a look at the docs, thanks!

Another way to think about filters is they are "scopes" so `https://api.planningcenteronline.com/services/v2/service_types/1/plans?filter=future` will scope the plans.

`can_query_by` are where statements.  So you would do `http://api.planningcenteronline.com/services/v2/service_types/1/plans?where[title]=Plan%20Title`  (don't try that exact query just yet,

[2015-09-11 16:31] tobeyun commented on #84
Dad summit, I almost tried that... Thanks, that did what I needed.

[2015-09-11 16:31] #84 closed

[2015-09-12 15:09] tobeyun opened #85 "updated_at"
Found a small issue with the 'updated_at' attribute for Plans. Whenever an item is added or removed, the 'updated_at' attribute updates as it should, but if items are simply re-ordered, the timestamp stays the same. Is this by design? It would seem that any change would reflect a new value for 'updated_at'.

Just working on a way to pull changes based on that time. I know the other option would be

[2015-09-24 18:19] SnoopyKIWI opened #86 "OAuth 2.0 logout"
Could you revisit the logout issue again? Here's the scenario:

Our application allows certain operations to be performed outside of a PCO login requirement. When the PCO login is needed, the user clicks on the application's "PCO login" button, which redirects the user through the OAuth 2.0 login process to PCO (and sending `&force_login=true`). After successful login, the user agent is redirected

[2015-09-24 18:41] bensie commented on #86
Let's say you implement "Login with Facebook" in your app. I sign in to your app (auth with Facebook) and now I'm logged into your app. If I hit the "Logout" button in your app, I'm logged out of your app. I'm still logged in to Facebook. This is one of the main reasons for OAuth: I can be logged into one thing and use that authorization as credentials for other sites.

When someone hits the logou

[2015-09-24 19:14] SnoopyKIWI commented on #86
But Facebook (and other major sites using OAuth) has an API to logout and you do not. Why would they provide such an option?

It might be an expected behavior for you and other IT professionals, but it is unexpected for some of our users (several of which don't use Facebook and a few are disinclined toward computers or technology).

How difficult is this to implement? I don't understand the resist

[2015-09-24 23:01] TheBerg commented on #86
@SnoopyKIWI Facebook is a much larger organization. Their logout API is part of their Javascript SDK and only logs you out of connect on that website, not out of facebook as a whole.

It probably isn't difficult to implement, but it would be something we would need to support and without fully thinking it through we are not sure that is what we want to do.

I am sorry that this doesn't work for wh

[2015-09-24 23:04] skylarsch commented on #85
@tobeyun Sorry for the delay.  Is this API v1 or v2?

[2015-09-25 00:21] tobeyun commented on #85
No problem at all. This is on v2.

[2015-09-25 15:32] bensie commented on #85
@tobeyun To be clear, are you reordering via the web interface? And when reordering, you expect the updated_at timestamps for all items affected by the reorder to be updated, correct?

[2015-09-25 15:34] bensie commented on #85
Now I think I'm wrong after re-reading your question...are you expecting the updated_at attribute on the `Plan` to be updated? Or on the `Item`s?

[2015-09-25 15:59] tobeyun commented on #85
hi @bensie, it doesn't matter if i update it from the web or from Music Stand (which is where I would most likely re-order them, while on stage). Yes, I am expecting the `Plan` to have its `updated_at` timestamp updated when the items are re-ordered. Again, the timestamp updates fine if I add or remove, but it does not when you re-order and it would seem re-ordering should trigger the `updated_at`

[2015-09-25 16:02] #86 closed

[2015-09-28 17:20] waltherfbg opened #87 "Add in Custom Item Options API"
Hello, I have a problem when I try to create "custom_option_ids". I have several people who try them but sometimes assign items not allocated. Right now I have several cases this problem. I've noticed that if the person already had this item and remove it, then I can not remap. Thanks for the help.

[2015-09-28 21:44] seven1m commented on #87
@waltherfbg I don't understand your issue here. Can you give a specific reproducible example?

[2015-09-28 23:51] bensie commented on #85
@tobeyun I have a fix for this ready to go, will deploy tomorrow morning and update you here when it's out.

[2015-09-29 11:51] azturner opened #88 "Updating Photo through People API v2"
We are working on updating a application that currently syncs data to PCO using your old API to use the new API and don't see a way to update photos (avatars).

We currently send a POST request to https://www.planningcenteronline.com/people/[id]/photo.json with a binary image. Is there a similiar endpoint with the new API?

[2015-09-29 11:58] azturner opened #89 "Sending Welcome Email from the v2 API"
Previous version of API had a "welcome_email" property on person that if set to true would result in the PCO welcome email being sent to the person when we added them through the API. I don't see this attribute in the documentation for the new api. Is it still supported if we include that attribute when adding a new person?

[2015-09-29 13:23] seven1m commented on #88
@azturner I'm sorry, but there isn't yet a way to update the avatar from the v2 API. We're working hard on adding more stuff to the v2 API all the time, and I expect this functionality will be added soon (though I cannot give a time frame).

I'll close this ticket when avatar updating lands in the v2 API.

[2015-09-29 13:34] seven1m commented on #89
@azturner the People v2 API does not support this attribute. When you create an Administrator via the People v2 API (using the `people_permissions` attribute), then a welcome email is sent that looks like this:

If you're needing to send a welcome email to Services volunteers, you'll need to continue using the v1 API for that, at least for now. The new Service API v2 is in beta though; I expect it

[2015-09-29 14:29] TheBerg commented on #89
@azturner I would like to add, you might not need to send the welcome email anymore. We have re-architected `PCO Services` so that the first time you schedule a person in `PCO Services` you will have an option to send them a welcome email.

Also, if you would like to bulk send welcome emails to a group of people you can use our [Lists](https://pcopeople.zendesk.com/hc/en-us/articles/204462530-Usin

[2015-09-29 15:43] bensie commented on #85
@tobeyun This fix is deployed! Plan `updated_at` timestamps are now always updated when its items are reordered.

[2015-09-29 15:43] #85 closed

[2015-09-29 15:47] tobeyun commented on #85
Sweet! Thanks @bensie!

[2015-10-01 14:20] #89 closed

[2015-10-01 14:20] #87 closed

[2015-10-04 13:40] tobeyun opened #90 "OpenLyric Support"
Just a suggestion to see what it would take to include an open lyric option to PCO. The specs are here: (http://openlyrics.info) for more info. Our presentation software uses it so it would be nice to be able to download straight from PCO without having to re-format the songs.

Not sure how to tag this as an enhancement request,it's just a thought, not an issue.

Also, @bensie, the `updated_at` fl

[2015-10-05 03:11] seven1m commented on #90
@tobeyun thanks! We’ll pass this idea along to the Services team.

[2015-10-05 03:11] #90 closed

[2015-10-07 20:49] briansea opened #91 "How would I fetch all arrangements with a specific property Id?"
How would I fetch all arrangements with a specific property Id?

http://get.planningcenteronline.com/api/arrangements/

Thank you!

[2015-10-07 23:39] craigwh69 opened #92 "v2 series API returning no data"
When I use the /services/v2/series API, I receive no data, but when I look at my plans on the PCO website, I see there should be at least 5 series. Am I not calling it correctly?

Thanks,
Craig

[2015-10-08 00:01] stuartnfloyd opened #93 "How would I validate a password via the API?"
I understand that PCO doesn't store passwords anymore. This is good. So,  I can't retrieve a password, but is there a way in the API that I can check a given value vs. a password? Thank you.

[2015-10-08 03:19] bensie commented on #93
No, this is not supported. In fact, we use an OAuth flow for third-party authorization specifically to ensure that user emails and passwords are only ever entered in a secure form owned by Planning Center. You should not ever be directly handling PCO user passwords in your application(s).

[2015-10-08 03:19] #93 closed

[2015-10-08 15:03] seven1m commented on #91
@briansea I'm sorry we don't have this capability built into the API currently. I was going to encourage you to use the new v2 API, but we don't support it there either. :cry: That said, if we do make such an improvement, it will certainly be in the v2 API documented [here](https://planningcenter.github.io/api-docs/). The v1 API is being phased out.

[2015-10-08 15:03] #91 closed

[2015-10-08 15:41] skylarsch commented on #92
@craigwh69 Series are a bit wonky under the hood.  A `Series` isn't a full object, it's better to think of it as `PlanSeriesArtwork`.  When you upload artwork to a series from the plan page, this full object is created.  This api will be changing soon to reflect that.

Thank's for bringing this to our attention.

[2015-10-08 15:41] #92 closed

[2015-10-09 15:23] gotetteh opened #94 "Making HTTP Posts"
Is it possible to do HTTP post, for example assign people to specific team positions, using any of the API's?

[2015-10-09 15:35] seven1m commented on #94
@gotetteh once our v2 API has write ability, you will be able to POST to our PlanPeople endpoint, documented here: https://planningcenter.github.io/api-docs/#planpeople

We're working feverishly on the v2 API, so keep an eye on that!

[2015-10-09 15:35] #94 closed

[2015-10-10 08:26] knolly42 opened #95 "Incorrect plan_id in plan_people with 'include=plans'"
If you grab all the plans per service type, then the plan people with ?include=plan, the plan ids don't match up?

GET https://api.planningcenteronline.com/services/v2/people/1/plan_people?include=plan

Wanted to show plan people against a plan title in a linked application.

Is there a wok around please?

Thanks

[2015-10-10 13:43] seven1m commented on #95
@knolly42 I just tested with one our testing accounts, and this seems to work as expected. Can you provide the actual URL you are using so I can do a bit more investigation? Thanks!

[2015-10-13 02:26] tsimms opened #96 "Getting element times from plans per PCO Live"
Hi, I'm trying to write some code to extract the plan element times within a given plan; that is, the start- and end-times that a particular element was advanced during PCO Live.
I was expecting it to be one of the attributes here:

http://planningcenter.github.io/api-docs/#items

...but I'm not seeing it.
Can you help? I talked to a couple of the guys at #citrt last week, and they thought it was

[2015-10-13 15:23] seven1m commented on #96
@tsimms it was good to meet you at CITRT!

I'm sorry, but we don't yet have endpoints to expose the data for Live timings. I expect we will be adding these endpoints eventually though. Watch for the addition of `PlanItemTimes` in the docs -- that's where the timing info is stored.

I cannot give a time frame, as it's not on our immediate to-do list. Sorry!

[2015-10-13 15:23] #96 closed

[2015-10-13 16:56] tsimms commented on #96
How about a way to get to the link of a custom report, that we write
similar to the report we currently have, but maybe just formatted as a JSON
string?

If we had a way to script a log in access of a certain plan and the link to
it's print option and to our custom report, we'd have what we need I think.

Possible?

Thanks,
-Tim

On Oct 13, 2015, at 11:23 AM, Tim Morgan <notifications@github.com>

[2015-10-13 17:10] seven1m commented on #96
@tsimms I suppose you could use your session cookie in a `curl` request, but that's not something we can provide direction or support for.

[2015-10-14 06:30] martijnversluis opened #97 "Plan items with a song attached do not provide the attachment_id"
When browsing a plan through the API, there is no way to determine the chosen attachment for a Item that has a song linked. Probably you should be able to provide `include=arrangement` on the [Items API](http://planningcenter.github.io/api-docs/#items)?

[2015-10-14 17:01] skylarsch commented on #97
@martijnversluis Thanks for bringing this to our attention.  I've added this to the API and you should see the arrangement and key available now.

[2015-10-14 17:01] #97 closed

[2015-10-14 22:21] mbhunter opened #98 "API access to plan templates? (label:question)"
I was looking for a way to access a plan template with the API, but couldn't find one. I've set up over a dozen templates with linked songs that our pastor can use to populate a plan. But, if changes to these templates are desired, it looks like I have to change them manually, one by one. Any help? Thanks!

[2015-10-15 01:07] apstew commented on #98
Unfortunately at the moment plan templates aren't in the API, I'm afraid. We generally add things to the API as we need them in our own apps and those aren't a high priority yet, so they might not get added for a while. Sorry about that!

[2015-10-15 02:11] #98 closed

[2015-10-16 05:18] martijnversluis opened #99 "Find a plan without context"
Does the new Servcies API have a way to find a service without knowing series or service_type? It is really convenient that you can just call `/plans/1234.json` on the old API.

[2015-10-16 20:19] bensie commented on #99
The new API does not have top-level `/plans` API endpoints. I've opened a ticket internally to look into this, but know that if we do implement something, it would probably be a `302` redirect to the canonical URL. Will update this issue once we look at it.

[2015-10-19 09:59] simube opened #100 "Single User Authentication with PHP / OAuth2"
Hi

As I'm not very used to OAuth2, I tried to connect to the PCO API V2

But I only found examples for doing this with PHP when a client_id is present. But I'd like to access only with "Single User Authentication". I generated a pair of keys.

and now? Could you provide an example on how to go further?

[2015-10-19 13:21] Myrtora opened #101 "POST for Attachments?"
I understand the services API is still in BETA. Will it be possible to use a POST command to send links for attachments to Planning Center and have them associated with arrangements?

[2015-10-19 14:11] seven1m commented on #100
@simube you can use a Personal Access Token to access the API. See the docs here: https://planningcenter.github.io/api-docs/#personal-access-token

[2015-10-19 14:11] #100 closed

[2015-10-19 14:11] #95 closed

[2015-10-19 14:13] seven1m commented on #101
@Myrtora we're working hard on the new API and we will almost certainly make a way to upload attachments. I'm not sure if the upload will accept a URL though. Please stay tuned and watch the [API Docs](https://planningcenter.github.io/api-docs/) for more info!

[2015-10-19 14:13] #101 closed

[2015-10-21 14:40] Myrtora opened #102 "Query songs by additional fields"
Currently in PCO Services BETA it says you can query songs by title (where[title]=...). Are there plans to make additional fields available to query? (where[ccli_number]=..., where[author]=..., etc.)

[2015-10-26 19:28] johnmnorthway opened #103 "accessing old version 1 record IDs from new API..."
Hi Folks,

I noticed the record IDs have changed from the what the version 1 API returns compared from what the new version 2 API returns.  Is there a way to pull the old ID from the new version 2 API (along with the new ID) so I can make a clean match in our database and update with that new version 2 ID?
john

[2015-10-26 19:34] seven1m commented on #103
@johnmnorthway The new Services API includes `legacy_id` which is the old ID used in the V1 API. Please let us know if you have any other questions!

[2015-10-26 19:35] seven1m commented on #102
@Myrtora Yes, there are general plans to add other fields, but no specific plans at this time. Can you let us know which field(s) you need right now and we'll see what we can do!

[2015-10-26 19:39] johnmnorthway commented on #103
Thanks Tim!  That will work nicely.

john

From: Tim Morgan [mailto:notifications@github.com]
Sent: Monday, October 26, 2015 3:35 PM
To: planningcenter/developers
Cc: McGuire, John
Subject: Re: [developers] accessing old version 1 record IDs from new API... (#103)

@johnmnorthway<https://github.com/johnmnorthway> The new Services API includes legacy_id which is the old ID used in the V1 API. Pleas

[2015-10-26 19:39] #103 closed

[2015-10-31 13:50] johnmnorthway opened #104 "API not returning Email Addresses..."
Hi Guys,

I am using the following URL https://api.planningcenteronline.com/services/v2/people/77777?include=email_addresses
where 77777 is my ID.  It returns my People record, however, no email addresses are returned.  This is true for addreses, phone_numbers, etc.  Can you confirm the syntax for me?  Thanks!

John McGuire

[2015-10-31 17:26] bensie commented on #104
@johnmnorthway There _might_ be an error in the Services APIv2 docs. For now, you can definitely get this info from the People API: https://planningcenter.github.io/api-docs/#people

I'll look into this further early next week.

[2015-11-01 16:01] johnmnorthway commented on #104
Thanks James!

From: James Miller [mailto:notifications@github.com]
Sent: Saturday, October 31, 2015 1:26 PM
To: planningcenter/developers
Cc: McGuire, John
Subject: Re: [developers] API not returning Email Addresses... (#104)

@johnmnorthway<https://github.com/johnmnorthway> There might be an error in the Services APIv2 docs. For now, you can definitely get this info from the People API: https://

[2015-11-02 16:50] adamsguitar opened #105 "401 Unauthorized using personal tokens"
I'm attempting to access the PCO API using a personal token. I created an application last night and it was working, but when running it this morning it's rejecting my requests. I've also tried creating a new token, but I'm still getting a 401. Here's a sample request:

    GET https://api.planningcenteronline.com/services/v2/songs HTTP/1.1
    Authorization: Basic {base64 encoded application:secr

[2015-11-02 16:55] seven1m commented on #102
I'm going to close this issue. @Myrtora if you need a specific field to be queryable for something you are working on, would you please open an issue requesting it? Thanks!

[2015-11-02 16:55] #102 closed

[2015-11-02 17:10] seven1m commented on #105
@adamsguitar can you try the same request with `curl`?

[code]

Do you get the same error?

[2015-11-02 17:13] adamsguitar commented on #105
Thanks, @seven1m, but I'm actually developing this in a Windows environment, so I don't have access to curl. I was hoping that the raw HTTP request and response above would provide enough info. Though if you can see what the raw request looks like through curl, I could certainly see if there's anything different and if I could change in my code to correct that difference.

Thanks!

[2015-11-02 17:24] seven1m commented on #105
@adamsguitar the request format you posted *looks* correct, but maybe your app is encoding the id and secret improperly?

You can visit https://api.planningcenteronline.com/oauth/applications to verify your token there.

I just tested that URL using my own personal access token and it works, so I believe everything is working as expected.

Could you verify the request/response using a separate too

[2015-11-02 17:26] adamsguitar commented on #105
@seven1m Thanks, yeah, that's certainly possible--just a bit strange considering it worked last night! I ran the generated base64 token through an online base64 decoder and it came back looking normal enough to me. I'll see if I can use a Chrome extension to build a different request.

[2015-11-02 17:29] bensie commented on #105
@adamsguitar if you're currently doing your auth by hand, I'd recommend using a client like [RestSharp](https://github.com/restsharp/RestSharp) for your HTTP requests. It will handle basic auth for you too so you won't have to drop your keys in an online Base64 encoder :)

[2015-11-05 21:09] johnmnorthway opened #106 "fetch people based on updated_at"
Hi Guys,

Have the following query:
https://api.planningcenteronline.com/services/v2/people?order=updated_at

Is there a way to pull only those people who's record was updated based on a specified date?  Something like:
https://api.planningcenteronline.com/services/v2/people?where[updated_at]=2015-01-01
I just want to pull those folks with updated records since January 1st.

Also, I how do you sor

[2015-11-05 21:31] bensie commented on #106
@johnmnorthway To sort in descending order, prefix your sort column with a `-`:
https://api.planningcenteronline.com/services/v2/people?order=-updated_at

We don't have the ability to query a date range at this point, but I'll make a note of it and perhaps it will get added to the API in the future. In the meantime, you'll need to filter them out - in this case, I would paginate updated_at in desc

[2015-11-05 21:31] #106 closed

[2015-11-09 21:30] prestonhorn opened #107 "Workflows API"
Is Workflows open to the People API?

[2015-11-09 21:47] seven1m commented on #107
@prestonhorn not yet! I cannot give a time frame, but it is something we'd like to do. Once added, you should see Workflow stuff in [our docs].

[2015-11-09 21:47] #107 closed

[2015-11-13 06:20] PXStudios opened #108 "Add sequence info to arrangement"
Hey there,

Would be good to get the sequence of tags (i.e. Verse 1, Verse 2, Bridge, Chorus etc...) belonging to the current arrangement. I.e. when using the following call: https://api.planningcenteronline.com/services/v2/songs/1/arrangements/1

It would return:

[code]

[2015-11-13 16:21] skylarsch commented on #108
@PXStudios Thanks for the feedback.  That will be added and hopefully go out today or early Monday.

Thanks!

[2015-11-13 16:21] #108 closed

[2015-11-13 16:26] seven1m commented on #105
Closing this ticket. @adamsguitar if you need further help, please reopen. As far as we know, everything is working on our side.

[2015-11-13 16:26] #105 closed

[2015-11-16 13:22] WoodsonJ opened #109 "Tying PCO Services ID to People ID"
Hey Team!

I'm trying to get household ID tied to other information in PCO services, but when trying to get it using the reports/liquid language I don't see a way to either 1. get the household ID through PCO Services or 2. Tie the PCO People person id to the PCO Services id to get the household value that way.

Is there a way through the api to connect these two via id? Thanks!

Jon

[2015-11-16 17:42] skylarsch commented on #109
Hey @WoodsonJ. Thanks for submitting an issue with us! It sounds like you are wanting to create a custom report that houses household data. This is actually something you can take care of without using our API. So, I’ve touched base with Clayton, who originally directed you here, and he has already emailed you to gather some more information so we can help you with that report! If you don’t mind,

[2015-11-16 17:42] #109 closed

[2015-11-17 11:34] simube commented on #76
when can I expect to have this added to APIv2? I didn't see any changes in the last weeks.
And: the "last_scheduled" field is still missing, too...

Simon

[2015-11-19 14:10] jaredjost opened #110 "How do I use the meta data returned by JSON?"
Sorry if this is the wrong place to just ask a question, but this is where PCO support directed me.
I'm just building a small python script that gets all the song lyrics for a particular service. I'm curious about the data.meta.can_filter.future attribute of the JSON structure. Can I somehow use this to get a list of all future services? I tried to put it in as a url param, but it doesn't seem to

[2015-11-19 15:43] seven1m commented on #110
@jaredjost the API DOCS tell a bit more, which you can see here: https://planningcenter.github.io/api-docs/#plans

Scroll down and you'll see that you can pass `?filter=future`.

[2015-11-19 15:43] #110 closed

[2015-11-19 16:15] jaredjost commented on #110
Thanks! I was searching the page for 'can_filter'. What's the point of having those items in the JSON structure?

[2015-11-19 16:16] seven1m commented on #110
It's just metadata we thought might be helpful to people consuming the API. :smile:

[2015-11-23 01:14] cs3johnSchurman opened #111 "PCO Services LIVE control"
Hey,
I see in the old API that there is commands to control Live, but when I'm looking through the docs for the new API I don't see anything similar.  Can we still use the old API or is there a new implementation?  I am attempting to move throughout my Service plan using Qlab for our Christmas production.  This would be so amazingly helpful if I'm able to do this.  Thanks for your help!!

John S.

[2015-11-23 15:45] seven1m commented on #111
@cs3johnSchurman you'll need to continue using the old API to control LIVE for a little while longer. We have full intentions of making LIVE controls available as an endpoint on the new v2 API, but I can't give an estimate on when that will be ready. Once it's ready, we'll update our docs [here](https://planningcenter.github.io/api-docs/#pco-services-%28beta%29). Thanks!

[2015-11-23 15:45] #111 closed

[2015-11-23 21:12] johnmnorthway opened #112 "API not returning email addresses"
Hi Support,
I am logged in as a particular user for a church.  That user is not the site owner but an Admin.  When I issue the following https://api.planningcenteronline.com/people/v2/emails, I get a 403 error.  When I log in to North Way under my account (I am the site owner) the same command returns a bunch of emails (as JSON) correctly.  Any ideas why it doesn't work under the other account? Al

[2015-11-23 21:23] seven1m commented on #112
@johnmnorthway are you sure the other user is at least a Viewer in People?

One way to check would be to request https://api.planningcenteronline.com/people/v2/me using the user's account and take note of the `people_permissions` attribute.

[2015-11-23 21:27] johnmnorthway commented on #112
The other user people permissions is null.

john

From: Tim Morgan [mailto:notifications@github.com]
Sent: Monday, November 23, 2015 4:24 PM
To: planningcenter/developers
Cc: McGuire, John
Subject: Re: [developers] API not returning email addresses (#112)

@johnmnorthway<https://github.com/johnmnorthway> are you sure the other user is at least a Viewer in People?

One way to check would be to requ

[2015-11-23 21:29] seven1m commented on #112
@johnmnorthway thanks for checking. If the `people_permissions` attribute is null and the `site_administrator` attribute is false, then they won't be able to access most of the People endpoints (except for `/me`). Does this answer your question?

[2015-11-23 21:33] johnmnorthway commented on #112
Thanks!  That explains it.

john

From: Tim Morgan [mailto:notifications@github.com]
Sent: Monday, November 23, 2015 4:29 PM
To: planningcenter/developers
Cc: McGuire, John
Subject: Re: [developers] API not returning email addresses (#112)

@johnmnorthway<https://github.com/johnmnorthway> thanks for checking. If the people_permissions attribute is null and the site_administrator attribute is false

[2015-11-23 21:39] kenmulford opened #113 "403 Forbidden on v2 People API"
I'm trying to access the People v2 API and am getting the following. Where can I enable access? My user is a PCO Admin but I'm not finding the setting. Thanks!

[code]

[2015-11-23 21:51] johnmnorthway commented on #112
Hi Tim,

I am the Site Owner for North Way.  However, my people_permissions is null.   My site_administrator is set to true.  How do I set my people_permissions to something other than null?

john

From: Tim Morgan [mailto:notifications@github.com]
Sent: Monday, November 23, 2015 4:29 PM
To: planningcenter/developers
Cc: McGuire, John
Subject: Re: [developers] API not returning email addresses (#1

[2015-11-23 21:55] seven1m commented on #113
@kenmulford your user must be either an "Org Admin" [here](https://accounts.planningcenteronline.com/organization) or a "Viewer" or higher in the PCO People app.

You can check your permissions with the API by requesting https://api.planningcenteronline.com/people/v2/me. Check the `site_administrator` (aka Org Administrator) attribute and the `people_permissions` attribute. `site_administrator

[2015-11-23 21:58] seven1m commented on #112
@johnmnorthway `site_administrator=true` should be enough to access the API.

What happens when you visit https://people.planningcenteronline.com?

[2015-11-23 21:59] johnmnorthway commented on #112
Correct.  It works when site_administrator = true. However, I am curious about the people_permissions value and how it is set.  Can you advise me on that?  Thanks!

john

From: Tim Morgan [mailto:notifications@github.com]
Sent: Monday, November 23, 2015 4:58 PM
To: planningcenter/developers
Cc: McGuire, John
Subject: Re: [developers] API not returning email addresses (#112)

@johnmnorthway<https:/

[2015-11-23 22:01] seven1m commented on #112
Ahh, ok I misunderstood. To set a person's `people_permissions` attribute from the website, visit the [People](https://people.planningcenteronline.com/) application, open the person's profile page, then click the "Applications" tab on the left side. There you should see a drop-down menu that allows you to change and save the permissions for that particular user.

[2015-11-23 22:09] johnmnorthway commented on #112
Thanks Tim!

From: Tim Morgan [mailto:notifications@github.com]
Sent: Monday, November 23, 2015 5:01 PM
To: planningcenter/developers
Cc: McGuire, John
Subject: Re: [developers] API not returning email addresses (#112)

Ahh, ok I misunderstood. To set a person's people_permissions attribute from the website, visit the People<https://people.planningcenteronline.com/> application, open the person's

[2015-11-23 22:10] #112 closed

[2015-11-24 13:28] johnmnorthway opened #114 "date last served..."
Hi Guys,
I was wondering if there is a quick way, in new API, to pull the last time a person served, or accepted or was invited for a position.  The old version of the API had a field called Last_Scheduled_Dates that I used a lot.  Thanks in advance.

John McGuire

[2015-11-24 15:19] seven1m commented on #113
@kenmulford let me know if this answers your question or not.

[2015-11-24 15:19] #113 closed

[2015-11-24 15:28] kenmulford commented on #113
Fantastic - yep, it fixed the issue. I got promoted to org admin and the tokens are working now. Appreciate it!

[2015-11-24 15:29] seven1m commented on #113
\o/ glad to hear it!

[2015-11-24 16:49] bensie commented on #114
@johnmnorthway Can you point me to the endpoint you currently use to get last_scheduled_dates? Want to make sure we're referencing the same thing.

[2015-11-24 16:57] johnmnorthway commented on #114
Hi James,

It would be the version 1 (deprecated) API call, https://www.planningcenteronline.com/people/NNNNN.json, where NNNNN is my legacy ID.  Last_Scheduled_Dates is one of the fields returned in the JSON.

Thanks!
john

From: James Miller [mailto:notifications@github.com]
Sent: Tuesday, November 24, 2015 11:50 AM
To: planningcenter/developers
Cc: McGuire, John
Subject: Re: [developers] date l

[2015-11-24 18:23] Redbeard25 opened #115 "POST/UPDATE/DELETE not documented for the Attachments API in Services"
What's the ETA for documenting these calls for Attachments? I see them for Songs and Arrangements, but need them for the Attachments too.

Thanks,

Patrick

[2015-11-27 12:26] stuartnfloyd opened #116 "OAuth problem"
Hi,

I'm attempting to use OAuth 2.0 to validate PCO logins. I registered an app at api.planningcenteronline.com/oauth/applications. I'm sending a request to: https://www.planningcenteronline.com/oauth/request_token.

My Authorization string looks like this:

OAuth realm="", oauth_consumer_key="[my_client_id]", oauth_signature_method="PLAINTEXT", oauth_signature="[my_secret_id]%26", oauth_timestam

[2015-11-27 16:50] seven1m commented on #116
@stuartnfloyd, the authorization url should be `https://api.planningcenteronline.com/oauth/authorize`. We have an example Ruby/Sinatra app showing the process here: https://github.com/planningcenter/pco_api_oauth_example

[2015-11-27 17:41] stuartnfloyd commented on #116
@seven1m Thanks. It is my understanding that https://api.planningcenteronline.com/oauth/authorize requires a validated request token to proceed. Is this not the case? If I don't receive a valid request token from https://www.planningcenteronline.com/oauth/request_token, where would I receive one?

[2015-11-28 22:22] ahardin commented on #116
@seven1m **Caution:** I'm not from PCO and I just started working with the API this morning.

It looks like your request is using OAuth 1.0, not 2.0. The format for 2.0 is much more straightforward.

I got it working by getting the `authorization_code` from https://api.planningcenteronline.com/oauth/authorize and then passing the `authorization_code` along with the `client_secret` to https://api.p

[2015-11-30 00:08] PXStudios commented on #108
Hey there,
Did this end up getting implemented? I can't seem to find the sequence info anywhere.
Kind regards.

[2015-11-30 02:56] skylarsch commented on #108
@PXStudios Whoops, it did get implemented, just not deployed.  I'll ping you here when it's out.

[2015-11-30 17:58] skylarsch commented on #108
@PXStudios This should be live now.  Thanks!

[2015-12-01 04:56] ahardin opened #117 "Services API Not Returning Media or Attachments"
I am trying to get media files and other attachments associated with songs and items but the arrays being returned are always empty. If I actually login to PCO like a normal user I see what I'm expecting. Here is an example of some JSON that I would expect to have a few items inside:

    {
        links: {
            self: "https://api.planningcenteronline.com/services/v2/people/1704793/plan_peo

[2015-12-01 05:44] PXStudios commented on #108
Perfect, exactly what I was after. Thanks heaps!

[2015-12-01 17:08] seven1m commented on #116
Thanks @ahardin!

@stuartnfloyd let me know if you need more help.

[2015-12-01 17:10] ahardin commented on #116
No problem @seven1m!

[2015-12-01 17:13] skylarsch commented on #115
@Redbeard25 We can't give an exact timeline, but there is some infrastructure for uploading files that is currently being worked on that will allow for editing / creating of attachments.

[2015-12-01 17:19] skylarsch commented on #117
@ahardin Currently, you can fetch attachments for the resource they are attached to.  So you would have to get `/service_types/1/plans/1/items/1/attachments` `/service_types/1/plans/1/items/2/attachments` `/service_types/1/plans/1/items/3/attachments`.  We're going to be working on an endpoint that returns all attachments for a plan that also returns sub-attachments for items, media & songs, etc.

[2015-12-01 17:24] ahardin commented on #117
Thanks @skylarsch! That makes sense.

[2015-12-01 17:29] ahardin opened #118 "Download attachment with OAuth token?"
Is there a way to allow a user to download an attachment via their OAuth token? The attachments API calls provide a URL like `https://services.planningcenteronline.com/attachments/xxxxxxx`, but it looks like that URL authenticates against a cookie, which doesn't exist in the OAuth flow.

I tried passing the OAuth token to that URL like any other API call, but that didn't do the trick.

By the way

[2015-12-01 17:33] skylarsch commented on #118
@ahardin Currently we don't have the ability to open the attachment from the OAuth API.  I've opened a ticket internally to add that ability.  And again, I can't give a timeline on when that will become available.

Thanks!

[2015-12-01 17:33] #118 closed

[2015-12-01 17:35] ahardin commented on #118
Thank!. I can just send them to the file in a browser for now.

On Tue, Dec 1, 2015 at 11:33 AM Skylar Schipper <notifications@github.com>
wrote:

[2015-12-01 20:37] ahardin commented on #117
Hi @skylarsch,

Sorry, thought we had this nailed. When I hit the following URLs I get 500 errors from the API. Any ideas?

https://api.planningcenteronline.com/services/v2/service_types/129375/plans/22154209/items/316697897/attachments
https://api.planningcenteronline.com/services/v2/service_types/129375/plans/22154209/items/316700332/attachments
https://api.planningcenteronline.com/services/v2/s

[2015-12-02 00:51] skylarsch commented on #117
@ahardin Thanks for letting us know!  I have a fix, and it should go live tomorrow morning.  I'll ping you here when it does

[2015-12-02 00:59] ahardin commented on #117
Sweet, happy to help!

On Tue, Dec 1, 2015 at 6:51 PM Skylar Schipper <notifications@github.com>
wrote:

[2015-12-02 16:18] ahardin opened #119 "403 error when getting team members for plan"
I'm trying to create a screen to show all the people that are assigned to a plan. It looks like the endpoint I want is `https://api.planningcenteronline.com/services/v2/service_types/129375/plans/22154209/team_member` but I get a 403 when trying to access that.

It seems like anyone on the plan should have permissions to that resource since the information is commonly available in the apps and on

[2015-12-02 16:37] skylarsch commented on #117
@ahardin The fix for getting those attachments should be live

[2015-12-02 16:37] #117 closed

[2015-12-02 17:44] jsmarvin commented on #119
I came here to ask about the same thing. I'm developing an app based on the new api (I've never used the old one, so I figured I'd start with the new one). I also need to get a list of the people assigned to a specific plan. I ran into the same error, so I thought perhaps I needed permissions in the people app.So I wanted to address that before coming here.

But with scheduler permission in the se

[2015-12-02 17:50] skylarsch commented on #119
@ahardin @jsmarvin Looks like we're being a bit too greedy on those permissions.  Looking into a fix

[2015-12-03 00:18] skylarsch commented on #119
@ahardin @jsmarvin A fix has been deployed for the `team_member` endpoint.  It should be behaving how you would expect it to.

[2015-12-03 00:18] #119 closed

[2015-12-03 06:54] jsmarvin commented on #119
Yes, it now works. Thanks!

[2015-12-10 00:36] dmitche opened #120 "API Token - associated user"
The attached screenshot shows an email sent to Mark from PCO about a change to his email address. It was sent because Mark's account is associated to multiple instances of PCO. This is fine.

However, notice it says Dan Boorn as the person who changed the profile. This is the developer of the tool which did the update. We are unsure how to get this to say Life.Church Administrator or something els

[2015-12-10 00:41] bensie commented on #120
@dmitche Let me think about this some and poke around, I'll get back to you tomorrow or Friday.

[2015-12-19 10:51] nerdondon opened #121 "OAuth 2 Implicit Flow"
Hi! I'm building an SPA with angular.js and am trying to integrate information from PCO. I just wanted to ask if PCO supported OAuth2's implicit flow. Since the app I'm building is a single page app, it would be nice to not have a way to not expose the client secret on the client side.

I see that you guys are using the OAuth 2.0 authorization flow (requires a client secret), but don't see any exa

[2015-12-20 14:51] tomtrumpet opened #122 "OAuth2 401 Access denied"
I'm attempting to consume the PCO API with Node.js. In a browser, if I sign in as me and go to https://api.planningcenteronline.com/people/v2 I can see the resources. In Node, when I craft the OAuth2 URLs and attempt to get a token back I get a 401 "HTTP Basic: Access denied" from PCO. I have successfully set up the application in PCO which gave me the client id and client secret.

Here is the aut

[2015-12-21 00:08] tomtrumpet commented on #122
I took a look in the ruby oauth2 package used in the working sample and found the token URL was /token and not /access_token.

[2015-12-21 00:08] #122 closed

[2015-12-21 00:16] tomtrumpet opened #123 "403 Bad Scope. The API credentials do not have access to the application check-ins."
If I authenticate with PCO and visit https://api.planningcenteronline.com/check-ins/v2/ in a browser I get access to the resources.

When I successfully authenticate using OAuth2 with Node.js which was scoped to "people" and "check_ins", I received a bearer token that results in a 403 Bad Scope when accessing the same check-ins URL above. If I use the bearer token to GET https://api.planningcenter

[2015-12-21 03:17] rmosolgo commented on #123
Does https://api.planningcenteronline.com/check_ins/v2/ work via OAuth? (Underscore, not dash?)

[2015-12-21 13:21] tomtrumpet commented on #123
That works great now. Underscore and dash both work in the browser, but only underscore works in Fiddler with the bearer token.

I also had to guess the scope by trial and error for check-ins. Is there any documentation detailing those? It not, that would be a useful addition.

Thanks Robert.

[2015-12-21 13:21] #123 closed

[2015-12-24 16:37] rmosolgo commented on #123
I'll find a place to add it when we're back in January!

[2015-12-24 21:54] tomtrumpet commented on #123
Thanks. I also noticed some other strange behavior when requesting multiple
scopes. If I request a single scope like people, check_ins or services I am
presented with the grant/deny screen. If I request a combination like
people and services I am also presented with the grant/deny screen. But if
I do a combination of people and check_ins or services and check_ins I am
authenticated without been as

[2016-01-06 16:48] adamscott-enfinitas opened #124 "Empty Households"
Hello,
We've got an issue where in the event that the last person in a household is deleted before the household is deleted, then we are left with a stale record. When exporting the data from Planning Center People, they are just empty household records.

How do we delete these or exclude them?

![capture1](https://cloud.githubusercontent.com/assets/11445144/12148223/333e0058-b495-11e5-8897-8ddeeb

[2016-01-06 17:18] seven1m commented on #124
@adamscott-enfinitas thanks for bringing this to our attention! I've created an issue in our internal system so we can get this fixed. I'll let you know here when it's done.

Thanks!

[2016-01-06 17:36] seven1m commented on #121
@nerdondon sorry for the late reply!

We don't support implicit flow, and after talking it through with the team, we've decided we should not implement it for security reasons.

Please see here for more info: http://alexbilbie.com/2013/02/a-guide-to-oauth-2-grants/

Specifically:

[2016-01-06 17:36] #121 closed

[2016-01-06 22:36] seven1m commented on #124
@adamscott-enfinitas this has been fixed. You shouldn't see empty households from now on!

[2016-01-06 22:36] #124 closed

[2016-01-06 22:38] #116 closed

[2016-01-07 11:00] adamscott-enfinitas commented on #124
Amazing!

Thanks for your quick turnaround, and I’m happy to report that your changes have worked perfectly.

Adam

[Enfinitas]

Adam Scott MBCS MInstLM Infrastructure Architect

T: 0330 202 0383 | M: 07540 050234

E: adam@enfinitas.com<mailto:adam@enfinitas.com>

W: www.enfinitas.com<http://www.enfinitas.com/>

[http://static2.exclaimer.com/icon-linkedin_28x28.jpg]<http://uk.linkedin.com/in/adams

[2016-01-07 14:50] ahomburg opened #125 "What happend to the live api?"
I can't find functions like these in the new api:

GET https://services.planningcenteronline.com/live/1.json
POST https://services.planningcenteronline.com/live/1/next.json
...

Are you planning on supporting those functions?

[2016-01-07 15:34] seven1m commented on #124
Great!

[2016-01-07 15:56] bensie commented on #125
Yes, we're planning to add Services Live to APIv2. Unfortunately I don't have an ETA and you'll need to continue using APIv1 in the meantime :cry:

I'll take a peek later today to see if this is something that could be implemented quickly and report back here.

[2016-01-13 20:03] Redbeard25 commented on #115
Skylarsch, any updates? We're ready to develop against it! :D

[2016-01-13 20:58] bensie commented on #115
@Redbeard25 This is my current project. I'll post an update here when something is available!

[2016-01-15 05:23] mcolinburch opened #126 "Is there a better way to retrieve songs from recent plans"
Hello,
I am working on a widget to to include on our website & possibly in our mobile app. We would like to display a list of songs we've played grouped by plan date. Something like this:

I have my PHP code working with the PCO API using a personal app id, but it's a bit slow because my code is quite inefficient at the moment. Here is the basic logic I am using - I am hoping there is a better (fa

[2016-01-15 15:46] seven1m commented on #126
@mcolinburch Would the following parameters get you closer to what you want?

[code]

[2016-01-15 17:22] mcolinburch commented on #126
Thanks, @seven1m ! I gave it a try and it is definitely much faster.

My one concern is that the **created_at** does not always sort the same as the **last_time_at** or **sort_date**. Many times our plans are not created in a chronological order.

I just tried the other date attributes, but they do not seem to work. I used the same syntax:

```... &order=-last_time_at ... ```
and
```... &order=-so

[2016-01-15 17:24] seven1m commented on #126
You're right. I don't see why we can't allow sorting by `sort_date`. @skylarsch can we add that to this endpoint?

[2016-01-15 17:33] skylarsch commented on #126
@mcolinburch We're looking into making `sort_date` orderable, but it is a computed property so I can't make any promises.

For the second part about getting songs & attachments.  When you `include=song` on the Items endpoint, it's still returning all the items that belong to the plan.  But, we're including the `Song` in the `included` key

`https://api.planningcenteronline.com/services/v2/service_

[2016-01-16 01:18] mcolinburch commented on #126
Thanks so much! I really appreciate all of your help. I know this is not what you need to be focusing on; it's not exactly a big demand for this sort of thing.

[2016-01-16 01:32] bensie commented on #126
@mcolinburch Lots of progress was made on this today, expect an update on Monday :calendar:

Turns out we have a legit need for being able to sort on computed properties, so you're in luck. It also just seemed unkind that we had an attribute called `sort_date` and you couldn't sort on it. :sunglasses:

[2016-01-16 01:39] mcolinburch commented on #126
@bensie, @skylarsch & @seven1m ... you guys are the best!

[2016-01-19 13:46] stuartnfloyd opened #127 "Medical Notes"
Hi,

I'm tracking people objects fairly well, but I'm struggling to find a way to update the field "medical_notes". It is not returned in the get for /people/v2/people/id# and a post to the same with an updated medical_notes attribute returns an invalid parameter error.

The corresponding /check-ins/v2/people/id# contains the medical_notes attribute, but I get a "Forbidden Access" return code when

[2016-01-19 14:34] seven1m commented on #127
@stuartnfloyd we don't have a way with the API to update the medical notes field, but I'll add it to our internal issue system to get that added. I'll update you here when it's available.

[2016-01-19 14:38] stuartnfloyd commented on #127
Thanks, Tim. I will appreciate this enhancement.

On Tue, Jan 19, 2016 at 9:34 AM, Tim Morgan <notifications@github.com>
wrote:

[2016-01-19 21:10] tomtrumpet opened #128 "Check-Ins API - Filtering event/event period/checkins by location"
Hi,

I'm writing a register against the Check-ins API so that we know all the kids arrived at their groups (locations) and didn't get lost along the way when attending Sunday school (an event) on any given Sunday (event period).

I can retrieve the check-ins for an event and event period and include the location as follows: https://api.planningcenteronline.com/check_ins/v2/events/1/event_periods/1

[2016-01-19 21:18] tomtrumpet commented on #128
After struggling I find the answer straight after asking!

https://api.planningcenteronline.com/check_ins/v2/events/1/locations/1/location_event_periods/1/check_ins

[2016-01-19 21:18] #128 closed

[2016-01-19 21:23] seven1m commented on #128
@tomtrumpet glad we could be of assistance! :wink:

[2016-01-19 21:51] tomtrumpet opened #129 "Scoped to check_ins and granted with oauth but getting 403"
I can successfully call other endpoints after authenticating with oauth and have the application scoped to check_ins (I've tried scoping to check_ins, services and people too).

When I try and call this particular endpoint: https://api.planningcenteronline.com/check-ins/v2/events/25582/locations/61260/location_event_periods?include=event_period

I get 403 Request outside authenticated scope
The AP

[2016-01-19 21:52] rmosolgo commented on #129
Try an underscore in your URL `check_ins/v2/...` ?

We had some issues with that earlier, I tried to update the docs! Did I miss a spot?

[2016-01-19 22:02] tomtrumpet commented on #129
Caught me again. I was forming URLs in the browser for testing and copying into the app. Any chance that you can pick up both hyphen and underscore on your side? It's an easy oversight and a little confusing when it works in the browser.

Thanks for the help.

[2016-01-19 22:06] rmosolgo commented on #129
Yes, I'll take a look at it tomorrow morning! It would be nice to make it match the app subdomain, too.

[2016-01-19 22:09] tomtrumpet commented on #129
Great! Thanks.

[2016-01-19 22:09] #129 closed

[2016-01-20 20:41] simube opened #130 "SongSchedules - order dates AND see when dates have changed"
I just saw, that you finally included SongSchedules into the new API, great! (see #76 )

Now i have 2 additional problems:

- Is there a simpler way to have the dates sorted than transferring into an array and doing a sort? the dates are not in chronological order sometimes

- At the moment, I do a request for all songs in our PCO, and then getting the SongSchedules for each song.
But when no date

[2016-01-21 21:03] skylarsch commented on #130
@simube Glad you found the SongSchedules.

1.  I've opened a ticket in our internal system to see what we can do about adding a sort parameter.

2.  We don't have any plans to add an attribute to `Song`

[2016-01-21 21:05] skylarsch commented on #99
This isn't something we will be adding to APIv2

[2016-01-21 21:05] #99 closed

[2016-01-21 21:06] skylarsch commented on #104
The docs should be updated to correctly reflect the data that can be included with a Person

[2016-01-21 21:06] #104 closed

[2016-01-21 21:08] skylarsch commented on #126
@mcolinburch You should now be able to order plans by `sort_date` in the API.

[2016-01-21 21:08] #126 closed

[2016-01-23 19:32] stuartnfloyd opened #131 "Household Creation"
I have attempted to POST to /people/v2/households with data for a new household. I've tried including householdmemberships as an array in data and as an included object to no avail. Here's are a few examples of bad URL requests I've attempted:

{”data”:[{"type":"Household", "attributes":{"member_count":"0","name":"Bob Household”,”primary_contact_id":"12671512"}},{"type":"HouseholdMembership", ”att

[2016-01-25 15:11] imcdonagh opened #132 "People v2 update or create attributes, emails and custom fields in a single request?"
Is it possible to perform an update or create and specify the attributes, emails and custom fields all in a single request, or is the only way to do this with separate requests?

[2016-01-25 15:17] seven1m commented on #132
@imcdonagh You'll need to make separate requests to the `people`, `emails`, and `field_data` endpoints.

[2016-01-25 15:17] #132 closed

[2016-01-25 15:18] seven1m commented on #131
@stuartnfloyd let me look into this. I think it might be a bug.

[2016-01-25 19:41] seven1m commented on #131
@stuartnfloyd this issue is fixed now. You can now create a household like this:

[code]

[2016-01-25 19:41] #131 closed

[2016-01-27 15:45] imcdonagh opened #133 "What is the correct call for creating a custom field value on a Person using v2 API?"
The API documentation shows how to create a FieldDatum, but not how to associate it with the FieldDefinition on the Person.

Am I missing something?

Request:
https://api.planningcenteronline.com/people/v2/people/<personid>/field_data

Payload (as per documentation):
{"data":{"type":"FieldDatum", "attributes":{"value":"Some Value"}}}

Response:
422
{
"errors": [1]
0:  {
"detail": "can't be blank"

[2016-01-27 15:53] seven1m commented on #133
@imcdonagh you'll need to specify the field definition id also, like this:

[code]

[2016-01-27 15:53] #133 closed

[2016-01-27 16:30] imcdonagh commented on #133
Thanks, that works!

[2016-01-28 14:18] jemcguire opened #134 "Person_ID no longer populated..."
Hi Guys,

I noticed that the Person_ID field is no longer returned under the attributes tag for the following JSON request https://api.planningcenteronline.com/services/v2/service_types/xxxxxx/plans/xxxxxxxx/team_member?per_page=100&offset=0

I was able to find the Person_ID (named ID) under the relationships/person/data tag now.  I was curious about the change as I was caught off guard by it.  Pl

[2016-01-28 16:20] skylarsch commented on #134
@jemcguire going forward we're putting all foreign keys into the `relationships` hash.  While we're in Beta we'll also be removing them from the attributes.

[2016-01-28 16:20] #134 closed

[2016-01-28 16:55] skylarsch opened #135 "Services API v2 Changes"
These are a list of changes in the Services API v2.

[2016-01-28 16:57] skylarsch commented on #134
@jemcguire We're going to be posting API changes while we're in Beta here.  https://github.com/planningcenter/developers/issues/135

[2016-01-29 00:08] skylarsch commented on #135
We will be deploying breaking changes to Services APIv2 (Beta) Monday, Feb 1st.

- `Folder`: Moved `parent_id` from `attributes` into `relationships`

- `ServiceType`: Moved `parent_id` from `attributes` into `relationships`

- `Person`: Moved `created_by_id` from `attributes` into `relationships`

- `Person`: Moved `updated_by_id` from `attributes` into `relationships`

- `Plan`: Removed `service

[2016-02-01 05:00] mcolinburch commented on #126
Hi Guys, I just want to say thanks again for adding `sort_date` to the API. It works perfectly in our mobile app. I really appreciate it.

[2016-02-01 06:48] imcdonagh opened #136 "How to update or create field datum checkbox values"
What is the request format to create or update multiple checkbox field datum values? (Using People v2 API.)

[2016-02-01 15:05] seven1m commented on #136
@imcdonagh you'll need to make a POST requests like this one, one for each checkbox that's checked. To uncheck a checkbox, DELETE the FieldDatum.

[2016-02-01 15:11] seven1m commented on #136
Hold up, I just noticed a bug with this. Stand by.

[2016-02-01 16:53] seven1m commented on #136
@imcdonagh this should be fixed now. If the `value` attribute matches an existing checkbox option, then that option will be used. If the value doesn't match an existing option, then a new option will be created for you. Let us know if you have any more questions!

[2016-02-01 16:53] #136 closed

[2016-02-02 18:25] skylarsch commented on #135
We're moving this to [pcoapi.zendesk.com/](https://pcoapi.zendesk.com)

[2016-02-02 18:25] #135 closed

[2016-02-02 19:48] jwgergen opened #137 "FieldDatum -> Tab/Field_Definition"
Hello,  I am looking for a way to associate a field_data item to a field_Definition (which I would conclude would associate it with a tab.  I do not see this in the API reference (at least under the Tab/Field_Definition/Field_Data portion.
What I am trying to do is implement a "point" system.  Where if our children achieve certain criteria they are awarded points and these are tallied over a speci

[2016-02-02 21:07] seven1m commented on #137
@jwgergen make a POST request to `/people/v2/people/field_data` like this, specifying the FieldDefinition relationship, like this:

[code]

[2016-02-02 21:07] #137 closed

[2016-02-03 06:55] jwgergen opened #138 "Deleting FieldDatum - calling sequential calls timeout"
While trying to delete field_data items sequentially, the third try times out.

[2016-02-03 06:59] jwgergen commented on #138
Additionally:  After deleting 2 field_data items, then attempting a post to put a new item; timeout.

[2016-02-09 02:52] jwgergen opened #139 "API support for check in..."
I am looking for a way to actually check a person in via the API.
I am not finding a clear path for doing so.
I see in the API for Check-Ins that we have a lot of access for GETing data.
How would I go about accomplishing a check-in via the API?

Thank you in advance.
The API is very rich with a lot of features.  Thank you.

[2016-02-09 02:56] jwgergen opened #140 "Query results with "OR" condition"
Hello,

I notice that there are methods to search using `where[column] = value`. but I do not see that there is a way to use "OR".  or "<>".  Have these been developed into the API?  Is there a method similar to the SQL "like" clause or the "OR"?

Thanks,
Jim Gergen

[2016-02-09 15:39] Redbeard25 commented on #115
Making my monthly checkup - closer to creating attachments?

[2016-02-09 16:20] rmosolgo commented on #139
Sorry, there's currently no way to do that! The Check-Ins API is read-only.

I'll be sure to follow up here if/when we implement an API for creating check-ins!

[2016-02-09 16:20] #139 closed

[2016-02-09 16:22] seven1m commented on #140
@jwgergen I'm sorry there is no way currently to do an "OR" search. We'd like to add that ability at some point, but I don't know when we'll do it. I'll leave this issue open until it's implemented.

[2016-02-09 16:24] seven1m commented on #138
@jwgergen I'm not able to reproduce this issue. Can you try using a different Internet connection to eliminate your connection/network/firewall as a possibility?

[2016-02-09 16:24] #138 closed

[2016-02-09 20:04] dakjr opened #141 "Person Attachment Data"
Is there a way to grab the file attachment data tied to a person via the People v2 API?  For example, if I login to PCO Admin, navigate to a person, click on the "Details" tab and upload a JPG under the "Files" section, could I access this from the People v2 API? (Hint: we're trying to store higher-resolution, non-square, non-cropped images for each person that would augment the avatar.)

I'm unab

[2016-02-09 21:25] seven1m commented on #141
@dakjr one can create custom fields for their org which accept file uploads -- I think this is what you're referencing.

You can access custom field data using the [FieldData](http://planningcenter.github.io/api-docs/#fielddata) endpoint.

[2016-02-09 21:25] #141 closed

[2016-02-10 16:07] dakjr commented on #141
Thanks, @seven1m... I was actually referencing the file upload box within the services module, but setting up a custom field in the people module did the trick.  Thanks!

[2016-02-10 16:08] seven1m commented on #141
Oh, ok, cool!

[2016-02-10 16:11] dakjr commented on #141
Another question, if you don't mind.  How does the ?filter=future discriminator decide what is "future" in the services API?  `https://api.planningcenteronline.com/services/v2/service_types/1/plans/?filter=future` returns the first item as this upcoming Sunday, but will it still be returned on Sunday morning or will it be removed and put in the past plan listing?  We're trying to figure out how to

[2016-02-10 16:21] seven1m commented on #141
@dakjr would you open that as a new issue? We'll get that question directed to the Services team.

[2016-02-10 16:22] dakjr commented on #141
Sure thing, thanks for the assist!

[2016-02-10 16:25] dakjr opened #142 "Future versus Past filter discriminator in Services API"
How does the `?filter=future` discriminator decide what is "future" in the services API? `https://api.planningcenteronline.com/services/v2/service_types/1/plans/?filter=future` currently returns the first item as this upcoming Sunday, but will it still be returned on Sunday morning or will it be removed and put in the past plan listing? We're trying to figure out how to get an "in-progress" plan.

[2016-02-10 16:43] skylarsch commented on #142
@dakjr It uses the `plan times start date > (current date at 00:00)`.  So a plan with a time at `02-10-16T00:09:00X` should be returned until `02-10-16T23:59:59X` (Where X is your Organization's time zone.)

[2016-02-10 17:03] dakjr commented on #142
@skylarsch Great, thank you for the quick response!

[2016-02-10 17:03] #142 closed

[2016-02-10 18:19] jwgergen opened #143 "Check-Ins filtering"
I would like to have the ability to query by created_at and updated_at.
If that is possible now, please let me know.

Thanks you.

[2016-02-10 18:20] jwgergen opened #144 "order by desc"
I would like to be able to order by in descending order.

[2016-02-10 18:21] jwgergen commented on #140
Is there a way to do a "like" search?

[2016-02-10 18:22] skylarsch commented on #144
Just add a `-` before the order param.  E.G. `?order=-sort_date`

[2016-02-10 18:22] #144 closed

[2016-02-10 18:25] jwgergen commented on #144
Thank you.

[2016-02-10 18:30] seven1m commented on #140
Yes, add a `%` on the beginning, end, or both.

[2016-02-10 18:37] jwgergen commented on #140
just tried: `.../people/v2/people?where[last_name]=e%` I am getting nothing returned.

[2016-02-10 18:40] seven1m commented on #140
@jwgergen you'll need to encode the percent sign, like this: `%25`.

https://api.planningcenteronline.com/people/v2/people?where[last_name]=e%25

[2016-02-10 18:41] jwgergen commented on #140
Thank you.

[2016-02-10 20:09] rmosolgo commented on #143
Hmm... No, that's not available now.

Right now, you can filter check-ins by event, event_period (week) or event_time, then sort by `created_at` or `updated_at`. Could those do the trick?

[2016-02-11 04:15] jwgergen commented on #143
From what I can see in the documentation you cannot filter check-ins by any of the fields you suggested.  These may be included in the results, but I do not see a way to use filtering on results that are returned in relationships or included[].  Sure, these can be filtered after the fact - using client side queries on the results, but to query check-ins and include all the suggested relationships

[2016-02-11 17:27] rmosolgo commented on #143
Sorry, I said "filtering" but that's not quite right! You can access check-ins through their associations, for example,

Association | Note | URL
---|---|---
Event | |  `/check_ins/v2/events/1/check_ins`
Event Period | | `/check_ins/events/1/event_periods/1/check_ins`
Event Time | | `/check_ins/v2/event_times/1/check_ins`
Location | | `/check_ins/v2/events/1/locations/1/check_ins`
LocationEventPer

[2016-02-11 20:25] rdybarra opened #145 "500 error on API requests for /emails/[emailid]/person"
I'm attempting to find the person record for a given email address, via the API.

My takeaway form the api docs (specifically the "Associations for an email" heading in the [email section](http://planningcenter.github.io/api-docs/#emails)) is that if I tack on the word 'person' to the end of the email detail endpoint I will get the person record of the owner of that email address.

If that's not t

[2016-02-11 21:32] seven1m commented on #145
A 500 error here is certainly not expected. Thanks for letting us know. I'll let you know when this is fixed.

[2016-02-12 18:28] jwgergen commented on #143
Thank you for putting these on the list.
And...  I am able to accomplish the filtering I want using a combination of the above and client side code.
Thanks again.

[2016-02-12 18:28] #143 closed

[2016-02-14 12:12] simube opened #146 "Songs API, exclude hidden songs"
It would be nice to have a parameter to filter the request by hidden status.
Now I get 300 songs, but only 70 are visible when I log into PCO.

[2016-02-16 20:37] gonger opened #147 "How long will v1 api work? Php example code for v2 api?"
We are using the v1 of the people api to pull information from fellowship one to planning center. I see that it has been depreciated. How long will the v1 api continue to work?

I see the v2 api has a Ruby gem wrapper example code. Do you have any php example code for v2 of the api?

[2016-02-16 20:43] bensie commented on #147
APIv1 has been deprecated and we are no longer issuing new client application keys, but we have no date where we expect to remove support. Just keep in mind we are no longer adding new features to APIv1 and it only supports PCO Services, whereas APIv2 works across our applications and all new features will be added to it.

We don't have example PHP code for APIv2.

[2016-02-16 20:43] #147 closed

[2016-02-18 17:18] smaddock opened #148 "API change notifications?"
How can I be notified when a change to the API is made? I know it's still in beta, but it would be helpful to be notified directly instead of waiting for our scripts to break.

[2016-02-18 17:22] skylarsch commented on #148
@smaddock We're posting breaking changes to the Services API here:  https://pcoapi.zendesk.com/hc/en-us

[2016-02-18 17:22] #148 closed

[2016-02-22 14:16] dakjr opened #149 "Updating Services PlanPerson Status via API v2"
Is there a way to update the `status` field for a given `PlanPerson` ID to a specific value (either `C`, `U`, `D`) using the Services API v2?  For example, I'd like to make an update to somebody's confirmation status on a Sunday morning if they didn't confirm but arrived to serve.

I located this [https://github.com/planningcenter/developers/issues/33] closed issue which hints at a possible soluti

[2016-02-22 14:20] skylarsch commented on #149
@dakjr This is currently being worked on.  I'll post here when it's available.

[2016-02-23 05:24] rdybarra commented on #145
@seven1m

Do you know of any workarounds for finding a person from an email address without hitting this endpoint? A cool feature would be to include the person id in the email object response.

Thanks!

[2016-02-23 22:01] seven1m commented on #145
@rdybarra you could do this:

https://api.planningcenteronline.com/people/v2/people?include=emails&where[emails][address]=tim@example.com

[2016-02-24 16:17] rdybarra commented on #145
@seven1m Awesome! You're my hero!

[2016-02-24 17:18] mcarter00 opened #150 "Add field for /check_ins/v2/stations to tell if a station is offline / online."
Currently, you can get a list of stations, but you can't tell if they are online or offline via the API.  This information is available here in GUI form: https://check-ins.planningcenteronline.com/stations, so it would seemingly be easy to add to the API.

[2016-02-25 00:45] seven1m commented on #145
😄

[2016-02-25 15:19] calvarychatt opened #151 "Fellowship One to PCO Sync help"
We are trying to setup a FellowshipOne to PCO sync application that was developed under the open source project (http://developer.fellowshipone.com/blog/fellowship_one_planning_center_online_mash-up/) by the FellowshipOne development team. We created and received keys from the current PCO API but they appear to be OAuth 2 keys and don’t appear to work with the sync application. Is it possible to g

[2016-02-26 15:54] rmosolgo commented on #150
Yep, we can add this on Monday! I'll follow up here when it's live.

[2016-02-26 16:07] mcarter00 commented on #150
That's awesome, thanks!

[2016-02-26 16:32] mcarter00 opened #152 "Add association for /check_ins/v2/check_ins to get the labels that should have been printed"
The check_ins endpoint currently doesn't return the `Label` that should be printed associated with that check_in. This data would be needed to actually start a print from the check_ins web app, so it's seemingly available somewhere?

Also, it doesn't seem that the API returns the data that gets inserted into the label anywhere (i.e. Name, room number, etc, etc). Maybe this could be a datatype of `

[2016-02-27 04:37] xmanflash opened #153 "Demo PHP php-library app not working.."
"Although CUSTOMER NAME subscribes to Planning Center Services, your personal account doesn't have access to it."

This is using the default PHP examples that came with the file downloads.

I am trying to retrieve data from the people and events system.

My user has permission to acess, but not edit and manage PEOPLE, but has permissions to manage and edit everything else (Resources / and the defa

[2016-02-28 20:16] mcarter00 commented on #152
Nevermind, you can get this data by `GET`'ing:

GET `/check_ins/v2/check_ins/<check_in id>/location/location_labels/<location_label id>/label`

[2016-02-28 20:33] mcarter00 opened #154 "Add field for /check_ins/v2/check_in/:id for security code"
It doesn't seem like this is currently included, but would be needed in the app to print the label.

[2016-02-29 17:44] #152 closed

[2016-02-29 17:48] rmosolgo commented on #152
There are also [Event Labels](http://planningcenter.github.io/api-docs/#eventlabels)! [Options](http://planningcenter.github.io/api-docs/#options) can have labels too but it looks like that's not in the API yet ... hm...

[2016-02-29 17:53] seven1m commented on #153
@xmanflash the example code _should_ work, if you have an OAuth 1 key already issued to you.

However, if you are building a new app/tool using our API, we strongly encourage you to use the v2 API as we are no longer issuing keys for the v1 API.

[2016-02-29 17:57] mcarter00 commented on #152
@rmosolgo

So labels could be printed as a result of a check in based on:

- Event Labels
- Location Labels
- Options

Do any of these have overlap (i.e. print the same labels)?

Trying to implement my own print server so I don't have to run the checkins webapp on a headless Mac Mini <-- proves to be VERY unreliable.

[2016-02-29 17:57] mcarter00 commented on #152
Could you guys add labels to the options api?

[2016-02-29 18:09] rmosolgo commented on #152
yup!

[2016-02-29 18:13] rmosolgo commented on #154
Hmm, I'm torn on this. Technically, this would enable someone to print a duplicate security label, which would not be good!

Given a group of Check-ins, I think you could use _your own_ security code when printing labels. As long as they match, that works, right?

You'd only lose one feature. With the built-in security code, you can type it in to a station to check people out. If you generated you

[2016-02-29 18:25] mcarter00 commented on #154
Regarding security: Could this field only be scoped to admin users?

I'm a little confused about what the `CheckInGroup` is needed for? What is in a `CheckInGroup`? I assume the security label is printed for a parent when a group of kids check-in together?

[2016-02-29 18:29] mcarter00 commented on #154
Realizing now: I will definitely need the `CheckInGroup` exposed for my use case

[2016-02-29 19:47] rmosolgo commented on #150
:sparkles:

![image](https://cloud.githubusercontent.com/assets/2231765/13406764/496cb9ae-def3-11e5-8abd-89e615c33970.png)

[2016-02-29 19:47] #150 closed

[2016-02-29 19:48] rmosolgo commented on #152
It's up now, I added `option.quantity` field and `option.label` association! I'll update the docs shortly.

[2016-02-29 21:11] xmanflash commented on #153
Hi Tim,

Ah - that probably explains it - I am using the OathV2 key...

I could not see a similar example of the PHP code that uses Oauth2, and my skills are not good with Oauth yet to rewrite the existing PHP code - is there an update for this code ?

I am looking at calling various events functions to integrate into a calendar in a Church website and just need to query the Events from Planning C

[2016-02-29 21:20] seven1m commented on #153
@xmanflash we don't have any PHP examples of using the new v2 API, sorry.

Given your needs, though, I think you might be ok using a personal access token instead of OAuth. You can create a "Personal Access Token" here: https://api.planningcenteronline.com/oauth/applications

Then, all you have to do is use the toke and secret as HTTP basic auth username and password. Here's how you'd do it with c

[2016-02-29 21:28] xmanflash commented on #153
Hi Tim,

Thanks for answering so quickly!

As I understood it, in the Planning Center API page, I can only get my own results using a personal token (although I am an admin..) - I do want to get all the events from the system - so was my interpretation wrong, and will a personal key work ?

Thanks,
Pete

[2016-02-29 21:30] seven1m commented on #153
You should be able to see the same results from the API that you would be able to see in the web view -- if you can see all the stuff you need from the web, I would expect you to also see that using a personal access token with the API.

...but actually I'm not sure what you mean by "events", so it's possible I've misunderstood.

[2016-02-29 21:39] xmanflash commented on #153
Hi Tim,

"A recurring event which people may attend. Each recurrence is an event period (which often corresponds to a week). Event periods have event times where people may actually check in."

http://planningcenter.github.io/api-docs/#events

# to list records...
curl -v -u token:secret "https://api.planningcenteronline.com/check_ins/v2/events"

The Church are hoping to use Planning Center to add

[2016-02-29 21:41] seven1m commented on #153
Ahhh, ok! I may have to loop @rmosolgo in on the recurring events question, as I don't work on that team and don't know the answer. :smile:

[2016-02-29 21:44] xmanflash commented on #153
Great - thanks - I'll try the simple way in the meantime.. you never know!

[2016-02-29 21:57] xmanflash commented on #153
OK,

  $result = json_decode(file_get_contents('https://' . CONSUMER_KEY . ':' . CONSUMER_SECRET . '@api.planningcenteronline.com/people/v2'), true);

  $result = json_decode(file_get_contents('https://' . CONSUMER_KEY . ':' . CONSUMER_SECRET . '@api.planningcenteronline.com/check_ins/v2/events'), true);

  $result = json_decode(file_get_contents('https://' . CONSUMER_KEY . ':' . CONSUMER_SECRET .

[2016-02-29 22:03] seven1m commented on #153
@xmanflash try https://api.planningcenteronline.com/check-ins/v2/events (using a hyphen instead of an underscore)

By the way, you can test any API URL in your browser to see what you're going to get! :smile:

[2016-02-29 22:33] xmanflash commented on #153
file_get_contents(https://...@api.planningcenteronline.com/check-ins/v2/events): failed to open stream: HTTP request failed! HTTP/1.1 404 Not Found

Unfortunately the dash didn't help - looks like the Events API either needs a different key, or is not yet functional ?

Cheers,
Pete

[2016-02-29 22:40] jwgergen opened #155 "Using filters..."
Are filters, like includes, comma separated values?
https://api.planningcenter.../check_ins?filter=regular,guest

What is the difference between a guest and an one_time_guest?
What is the difference between a regular and an attendee?

is there any more verbose documentation than that found here on github?

Thank you.

[2016-02-29 22:58] seven1m commented on #153
@xmanflash can you access the URL https://api.planningcenteronline.com/check-ins/v2/events with your browser? How about https://api.planningcenteronline.com/people/v2 ?

[2016-02-29 23:04] seven1m commented on #155
@jwgergen for now, we only allow a single filter to be used at a time.

@rmosolgo can you answer the other question about the different filters for Check-ins?

[2016-02-29 23:45] xmanflash commented on #153
Hi Tim,

'events' gives me {"errors":[{"status":"404","title":"Not Found","detail":"The resource you requested could not be found"}]}

'People' works fine..

[2016-03-01 13:32] mcarter00 commented on #154
Something else on this issue, I think the `labelSetXml` includes some fields not documented [here](
http://planningcenteronline.screenstepslive.com/s/check-ins/m/check-ins/l/199068-creating-custom-dymo-labels) I listed below: Is that number the index within the `CheckInGroup`?

- Number
- Numbers
- Numbers with Names
- Numbers with Locations

[2016-03-01 14:01] mcarter00 opened #156 "Add LocationFolders to Check Ins API"
I hadn't previously realized this but it looks like location folders can also have labels? Could you guys add those to the API as well?

[2016-03-01 14:29] rmosolgo commented on #154
The "Number" in that case is exposed as `check_in.number`. "Numbers" is a `, `-joined list of numbers for check-ins in a given Check-in group.

I'll be working on getting Check-in groups in the API today :)

[2016-03-01 14:36] rmosolgo commented on #156
Yep, if you assign a label to a folder, that label is "inherited" by the locations (or other folders) in that folder.

Folders are implemented as locations with `kind="Folder"`. "Normal" locations have `kind="Location"`. You can get a location's parent folder using the `parent` association. If a location has any children, you can fetch them through the `locations` association (only folders can hav

[2016-03-01 14:55] Redbeard25 commented on #115
Status on updates? Thanks!

[2016-03-01 14:56] Redbeard25 commented on #115
FYI, I'm primarily interested in creating a **link** as an attachment, not transporting a file. So, the attachment would be a link out to a different site that opens in a new window. Think like a link to a YouTube video.

[2016-03-01 15:11] rmosolgo commented on #155
Here's a little rundown on check-in filters:

- `regular`s, `guest`s, and `volunteer`s correspond to the option selected when checking in. Here's the corresponding UI:

  ![image](https://cloud.githubusercontent.com/assets/2231765/13430902/1c86a81c-df95-11e5-9aed-4a69d7cc8402.png)

  The corresponding data value is `check_in.kind`, which may be one of {Regular, Guest, Volunteer}

- `attendee`s are

[2016-03-01 15:57] mcarter00 commented on #156
Awesome, didn't realize that!

[2016-03-01 15:57] #156 closed

[2016-03-02 01:36] mcarter00 commented on #154
Just realized that another endpoint PCO has (not public, but used in the app) exposes the labels to print as a result of a check in into a single, flattened response (including the security code):
`https://check-ins.planningcenteronline.com/event_periods/<event_period id>/check_ins/<check_in id>/reprint.json`

<img width="638" alt="reprint screenshot" src="https://cloud.githubusercontent.com/asset

[2016-03-02 01:38] mcarter00 commented on #152
Thanks a bunch! :tada:

[2016-03-03 20:41] MurphCCC opened #157 "Possible to lock station to an event?"
Is it possible using the API to lock a particular station to a particular event?  We currently have a total of 10 check in stations and we are looking for an easy way to lock 8 of them to a particular event at a particular time.

[2016-03-03 21:06] rmosolgo commented on #157
Sorry, it's not possible in the API right now!

In the meantime, you can use the "Station template" feature for this purpose:

![image](https://cloud.githubusercontent.com/assets/2231765/13509493/d1594982-e159-11e5-8597-a35b1512c649.png)

When your stations are configured in the way you like them, create a new station template. It will "freeze" those settings into the database, then you can apply

[2016-03-03 21:12] MurphCCC commented on #157
That works.  When did this get added?

[2016-03-03 21:13] rmosolgo commented on #157
It's been there since the start, but the UI got a make over a few months ago! Glad that'll do the trick.

[2016-03-03 21:13] #157 closed

[2016-03-04 07:55] xmanflash commented on #153
Hi Tim,

Was there any further assistance available with my 'Events' issue ? - It looks like the API is not working properly - did  @rmosolgo have anything to add ?

[2016-03-04 14:37] rmosolgo commented on #153
A few thoughts:

- Check-Ins API currently requires an underscore (https://github.com/planningcenter/developers/issues/129#issuecomment-172999742)

- If you're looking for Events, it's important to note that each app has its _own_ set of events. That is,

  - Resources has events where you can reserve resources
  - Check-ins has events where you can check people in
  - Registrations has events whe

[2016-03-04 15:56] xmanflash commented on #153
Hi Robert,

Thanks for your suggestions..

"Check-Ins API currently requires an underscore (#129 (comment))"  - Thats what I tried first and it means the documents are correct :)

 "it's important to note that each app has its own set of events"   Ah - I figured events was a unified events system that the other apps used.  We have setup resources and may setup reservations - Checkins are what I wa

[2016-03-04 16:16] rmosolgo commented on #153
Oh.... unfortunately, Resources doesn't have an API yet!

If you're looking for some options for getting a calendar "out" of Resources, you could check out these features:

- Kiosks: https://pcoresources.zendesk.com/hc/en-us/articles/204263004-Hardware-Options-for-Kiosks
- Calendar feeds: https://get.planningcenteronline.com/2014/resources-more-enhancements%20copy/

[2016-03-04 16:41] ReaganHelms commented on #151
@calvarychatt sorry that we haven't responded sooner. We are no longer actively supporting the V1 API, and we're strongly encouraging folks to use our new V2 API. You're right in saying that F1's tool would need V1 keys in order for it to work at all. We can certainly provide you with those, but we're not sure how well this (very old) piece of software will fare.

Here's what we'd rather recommend

[2016-03-04 16:49] skylarsch commented on #146
@simube That's something we can add.  I can't give you a time frame, but I'll update here when it's live

[2016-03-04 21:14] MurphCCC commented on #151
One of the problems regarding this issue is the fact that their is currently no easy way to add new people into the system.  Every week we have multiple households signing up on our Wufoo form to be added into the system however we are having to go through each week and manually add these entries into planning center.  Because of the way that Wufoo exports the data I do not know of an easy way to

[2016-03-04 21:49] ReaganHelms commented on #151
@MurphCCC Looks like Wu Foo allows you to export your form results into a CSV file, so you should be able to import those results to People every week to create profiles for your new families. http://www.wufoo.com/guides/quick-tip-how-to-export-all-your-data-from-a-form/

[2016-03-07 19:45] skylarsch commented on #149
@dakjr This is available now.  Documentation will be updated shortly but PATCH to a PlanPerson object should work

[2016-03-07 19:45] #149 closed

[2016-03-07 21:45] skylarsch commented on #149
Documentation has been updated

[2016-03-11 12:32] simube opened #158 "Missing Songs?!"
### Detailed Description of the Problem/Question

Hi
On my page i have a loop which reads all songs from PCO.
There are about 180 songs total, when I log into PCO i see 69 visible.
So far so good.

But when I do my loop, I get only 31 NOT hidden songs.
Last time I tried (a week ago) it worked.

Snippet of my code, which loops through all pages and shows the counter and title of every non-hidden so

[2016-03-11 14:43] mlimbocker opened #159 "API Integration"
Hi,

My name is Matt Limbocker. I'm a developer at Brushfire Technology. We are a company that provides online event management solutions to churches. We are looking to provide a solution for our customers that will sync their attendee data in the Brushfire system with their people in Planning Center.

Ideally, this would consist of creating a one-time event through the Planning Center API and the

[2016-03-11 15:15] tomtrumpet opened #160 "What are location_event_periods ordered by?"
### Detailed Description of the Problem/Question

https://api.planningcenteronline.com/check-ins/v2/events/X/locations/Y/location_event_periods/

What are location_event_periods ordered by? I have a situation where I'd like the most recent period but I can't guarantee that it's the last one in the list. The only way I can see would be to request every period one by one and check the dates against

[2016-03-11 15:31] rmosolgo commented on #160
It looks like they're sorted by `id ASC`. At first I thought, "oh, we could sort by `id DESC`". But that wouldn't help -- there are cases where a `LocationEventPeriod` could be created for an _earlier_ `EventPeriod` , then it would show up "first" on  the list, despite being older.

Would it suit your needs to fetch that data for a _specific_ `EventPeriod`? If so, you could use this other endpoint

[2016-03-11 15:32] seven1m commented on #159
@mlimbocker thanks for reaching out!

What you're describing sounds like it would need integration with PCO Registrations (to sync events), but we don't have an API for that application yet.

Alternatively, you could sync a boolean custom field into PCO People, which would allow the PCO customer to create a List showing all attendees of that event. That doesn't seem ideal, but it might be the best

[2016-03-11 15:38] mlimbocker commented on #159
Thanks! The fields idea sounds like a good temporary solution. Any info you could give me on a timeline for when you guys would be planning on implementing an API for Registrations?

Also, how can I go about setting up a sandbox account for when we're ready to start working on an integration?

[2016-03-11 15:40] seven1m commented on #159
@mlimbocker you can create a free Planning Center account. The People app is free and unlimited.

I don't have any idea on the Registrations API timeline, though. :grimacing:

[2016-03-11 15:40] #159 closed

[2016-03-11 15:40] skylarsch commented on #158
@simube What's the Organization ID that's returned when you go to https://api.planningcenteronline.com/services/v2

[2016-03-11 15:47] tomtrumpet commented on #160
This could work thanks.

Is there a way in the short term to remove the higher number event period (which has the lower date) to resolve my bug in the interim for this weeks Sunday service please?

[2016-03-11 16:08] simube commented on #158
The ID is 47667

[2016-03-11 17:44] skylarsch commented on #146
@simube You can now pass `?where[hidden]=false` or `?where[hidden]=true` to the songs endpoint.

[2016-03-11 17:44] #146 closed

[2016-03-11 17:46] skylarsch commented on #158
@simube I'm not able to reproduce this behavior.  Can you try opening `https://api.planningcenteronline.com/services/v2/songs` in a browser and let me know what the `total_count` is near the bottom.

[2016-03-11 17:55] simube commented on #158
total_count is 270

Now I added the where[hidden]=false (thanks!) and I get the missing songs again?! *confused*

Seems to be some kind of server-side change, because I changed the hoster a few days ago...

[2016-03-11 17:56] skylarsch commented on #158
We changed how the `next` link is calculated.  I'm wondering if using a non-default per_page is causing issues.  I'm digging into it.

Thanks for bringing this to our attention!

[2016-03-11 17:56] #158 closed

[2016-03-11 18:58] rmosolgo commented on #160
Hmm, I expect that situation to be pretty rare -- only occurs if someone adds check-ins in bulk to a previous week.

I'm not sure I can just delete them -- I'm concerned that the application depends on them being there!

[2016-03-11 19:12] tomtrumpet commented on #160
That's exactly what we did. We're bringing another kids group onto this app and we backfilled the previous week so that this week's Check-ins will have the prepared tickbox checked during the check in process.

Because this week didn't have any Check-ins associated, I deleted the week and recreated it. It brought the location's event periods back in date order.

I'll be sure to avoid this as we br

[2016-03-11 19:12] #160 closed

[2016-03-11 23:29] seven1m commented on #120
@dmitche sorry it took awhile to get back to you on this. We have found the cause of this bug and will be rolling out a fix on Monday.

[2016-03-14 14:30] seven1m commented on #120
@dmitche this bug has been fixed!

[2016-03-14 14:30] #120 closed

[2016-03-14 14:32] seven1m commented on #114
@johnmnorthway I believe you can get the information you need from the Activities endpoint here:

`https://api.planningcenteronline.com/services/v2/people/NNNNN/activities`

(Replace NNNNN with the person ID)

[2016-03-14 14:32] #114 closed

[2016-03-14 14:39] dmitche commented on #120
Thanks @seven1m I appreciate the follow up!

[2016-03-14 15:12] seven1m commented on #127
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;S6oiDyEk&#x2F;1404-add-medical-notes-to-the-api"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Add medical_notes to the API</a>

[2016-03-14 15:23] seven1m commented on #127
@stuartnfloyd we just added `medical_notes` to the People endpoint!

[2016-03-14 15:23] #127 closed

[2016-03-14 15:28] seven1m commented on #145
@rdybarra the original bug you mentioned (the 500 error) has also been fixed. Thank you!

[2016-03-14 15:28] #145 closed

[2016-03-14 15:28] #151 closed

[2016-03-14 15:35] #153 closed

[2016-03-14 15:36] #155 closed

[2016-03-15 05:18] jacobwegner commented on #119
@skylarsch: Wondering if documentation can be clarified on the permissions for the `team_member` end point.

Logged in to the PCO app as an editor, I can view and add people to a service.

Authenticating with the same user against the API, I'm unable to access the `team_member` end point _unless_ I happen to be scheduled for the particular service I'm trying to access.

I think it makes sense to a

[2016-03-15 06:44] xmanflash commented on #153
Hi Folks,

The client has decided the Events system will not need to be used in the website now!  However I still am trying to work out how to authenticate properly using the users logins and Oauth2..

Can somebody tell me what the return url is supposed to be if the login is correct?

I only seem to get back a URL with my domain name in it - nothing confirming either way what the results were...

[2016-03-15 14:13] seven1m commented on #153
@xmanflash the two URLs you'll need to use for OAuth2 is:

https://api.planningcenteronline.com/oauth/authorize
https://api.planningcenteronline.com/oauth/token

You set the callback URL when you created your app here: https://api.planningcenteronline.com/oauth/applications

There is a Ruby example that's fairly readable here: https://github.com/planningcenter/pco_api_oauth_example

I hope that he

[2016-03-16 01:03] korygorsky opened #161 "Creating a Workflow Card via the API"
### Detailed Description of the Problem/Question

I'm loving the fact that you're opening up the Workflow API. Wondering if its on the docket to open up the ability to create a Workflow Card via the API?

Thanks.

[2016-03-16 14:17] seven1m commented on #161
@korygorsky good news! We're working on an update to the API to enhance what you can do with workflows... I can't give you a timeline, but soon!

[2016-03-16 14:17] #161 closed

[2016-03-19 16:20] mcarter00 commented on #154
@rmosolgo Did `CheckInGroups` get added to the API? Do you need any more info from me? Thanks.

[2016-03-20 21:43] neil-citywide opened #162 "Api/v2/attachments - external URLs"
Hi support,

I am creating a website page featuring "songs this Sunday" and would like to embed relevant Youtube clips and provide Spotify/Amazon/etc links.

This was all possible in the old API but I can't seem to locate the external URLs in /v2/.

After linking Youtube/Spotify/iTunes/Amazon to songs within PCO, here is an extract of the API data I have been able to access:

"filename": "YouTube:

[2016-03-21 17:25] rmosolgo commented on #154
Hey, sorry i didn't follow up earlier -- the code is ready to go but we're on hold for Easter! It's a busy weekend so we want to keep the apps pretty stable until then. Hopefully the Monday after that!

[2016-03-21 18:17] dhockenberry opened #163 "Check In API"
### Detailed Description of the Problem/Question

Just reviewing the APIs currently available for check in, and based on my review, it seems that most of the functions are pulls for reading details out, and there only seems to be headcount # posting functionality (as opposed to individuals person check in) via the API?Did I miss how to do this in the docs? If not, is this something being worked on

[2016-03-21 18:29] rmosolgo commented on #163
Hi! Yes, as you noted, the Check-Ins API is _read-only_ at the moment. I'd definitely _like_ to add some write operations to the API but it's not in the works right now.

Did you have a project in mind that would check people in through the API? If so, I'd love to hear about it -- it could help us figure out how (& when) to add that functionality!

[2016-03-24 23:53] tomtrumpet opened #164 "Server side caching"
### Detailed Description of the Problem/Question

I would like to ask if server side caching is on the road map? I've gone with a background process to retrieve PCO data over a more traditional client side caching system because a cache miss would leave the end user with 4 x ~700ms calls, dramatically slowing their user experience. Our usage is trying to count 50 kids into class as quickly as poss

[2016-03-24 23:57] TheBerg commented on #164
700ms, seems really long.

Can you post some of the URLs you are hitting?

[2016-03-28 07:09] geoffhouse opened #165 "Get currently logged in user"
Hi. Great API! :)

I've managed to get Oauth2 working from PHP (phew!) but I'm struggling with one thing:

How do I return details for the currently logged-in user/organisation? I can see how to get info for a particular user by ID, but that doesn't help...!

Cheers!

[2016-03-28 13:12] rmosolgo commented on #165
Woo hoo, congrats on getting it working!

For the currently logged-in person, each app has a `/me` endpoint, for example:

- https://api.planningcenteronline.com/people/v2/me
- https://api.planningcenteronline.com/check_ins/v2/me

For the currently logged-in organization, you can visit the API root. For example:

- https://api.planningcenteronline.com/services/v2/
- https://api.planningcenteronlin

[2016-03-28 19:35] rmosolgo commented on #154
Ok, just got this baby out!

Now you can see check-in groups for a particular station with `/check_ins/v2/stations/:station_id/check_in_groups`. To see unprinted groups, add `?filter=ready`.

Also, I added a `security_code` attribute to the Check-in API. If the signed-in person doesn't have permissions to see the "admin" side of check-ins, it's `null`.

How does that sound, does that work for you?

[2016-03-29 12:03] mcarter00 commented on #154
That should work perfectly for our use case! Thanks so much for taking the time to get this added. Great API all-around.

[2016-03-29 13:12] #154 closed

[2016-03-29 21:14] tomtrumpet commented on #164
Hey,

Here are a couple of example calls with payload size and timings. I'm in the UK so that might add some network lag over the wire.

https://api.planningcenteronline.com/check-ins/v2/events/X/locations/Y/location_event_periods?include=event_period - 1.7k, 562ms

https://api.planningcenteronline.com/check-ins/v2/events/X/locations/Y/location_event_periods/Z/check_ins?include=person,location&sor

[2016-03-29 21:44] rmosolgo commented on #164
Hmm thanks for the details, I'll take a look at those endpoints and see if there's anything we can do to speed them up!

[2016-04-01 14:29] geoffhouse commented on #165
That works for me. Thanks!

[2016-04-01 14:29] #165 closed

[2016-04-01 14:30] #163 closed

[2016-04-01 14:37] geoffhouse opened #166 "Services API - beta"
Hi all.

I understand from docs that the Services API is read-only at the moment (during the beta). Is that still true?

If so, do you have any timescale for when (or if) this might be writeable? If you can't give a definite date, are we talking weeks, months or years do you think?

I don't mind either way, it would just help with planning our worship projects - and help us decide which path to ta

[2016-04-01 14:47] skylarsch commented on #166
@geoffhouse Some of the endpoints have write functionality already.  If they do, there will be a `create a new XYZ` & `update and existing XYZ` section for that resource in the docs.

I can't give a timeline for when it will be completed, but I can say that the API is being actively worked on and we're adding things all the time.

[2016-04-01 14:47] #166 closed

[2016-04-01 14:50] geoffhouse commented on #166
Thanks!

[2016-04-01 15:06] skylarsch commented on #162
@neil-citywide for some attachments we have to return a URL generated with time sensitive authentication params.  To keep the API uniform, we will now be requiring all attachments to do the same thing.

You can fetch the real URL for an attachment by POSTing to it's `/open` action.

e.g. `/services/v2/songs/11923461/arrangements/13383311/attachments/45376151/open`

That will return an `AttachmentA

[2016-04-03 08:20] knizek opened #167 "api2 and plan items' attachments + media downloads"
Hi,

I've been writing a simple python scpript to download all service items' attachments and media for our prejection PC, using personal access token and I experienced two problems. Maybe I just don't understand it well but I just wasn't able to come up with a solution.

- The first thing is that when I list items' attachments I can't see any attachments (https://api.planningcenteronline.com/serv

[2016-04-03 22:06] joplju opened #168 "Get individual's blockout dates via API"
### Detailed Description of the Problem/Question

Would it be possible to add the ability to get users' blockout dates? This is something that I would find highly useful in automating scheduling.

***

##### Steps to reproduce:
N/A

##### Endpoint I'm using:
N/A

##### Language I'm using:
English

##### Authentication method I'm using:

- [ ] OAuth 2

- [ x] Personal Access Token

- [ ] Cookies in

[2016-04-03 22:23] joplju commented on #168
My mistake, I asked this before reviewing the v1 API documents. Is there a timeline for the deprecation of the v1 API?

[2016-04-03 22:34] neil-citywide commented on #162
@skylarsch, that works!  Many thanks.
Cheers,
Neil

[2016-04-03 22:34] #162 closed

[2016-04-04 17:22] seven1m commented on #168
@joplju we don't yet have blockout dates in API v2, but we plan to add it very soon.

As for API v1, we've already stopped actively supporting it and we're no longer issuing new API keys for it, but we do plan to keep it running for awhile so people already using it can have time to transition and we finish out v2.

[2016-04-04 17:22] #168 closed

[2016-04-04 17:42] skylarsch commented on #167
@knizek

The `.../item/1/attachments` endpoint will only return attachments that are directly attached to the item itself.  To get all attachments for an `Item` you would have to fetch item, media, song, arrangement & key attachments.

There is a `all_attachments` endpoint on plan.  `.../plans/1/all_attachments` that returns all attachments that are attached to anything that is a part of the plan.

[2016-04-04 19:30] tomtrumpet opened #169 "Missing location_event_period"
### Detailed Description of the Problem/Question

We are currently running a live system called Re:Count against your API which I think a few of your developers are aware of. This Sunday raised a few challenges when kids began to check-in to  locations for our Sunday school event. We have rolled out to 2 locations so far on this system. As the check-ins began, the "Re:Build" location successfully

[2016-04-04 20:54] rmosolgo commented on #169
Hey, sorry about this issue and thanks for the great description of the problem!

I'm looking at this URL: https://api.planningcenteronline.com/check-ins/v2/events/25582/locations/122408/location_event_periods?include=event_period

I see two items in the response and two included event periods:

![image](https://cloud.githubusercontent.com/assets/2231765/14262783/3b43f4ca-fa85-11e5-8793-8fc5be8aec

[2016-04-04 21:21] tomtrumpet commented on #169
Hi,

Yes 1147333 looks the same. But using https://api.planningcenteronline.com/check-ins/v2/events/25582/event_periods/1147333/location_event_periods?include=location leads me to https://api.planningcenteronline.com/check-ins/v2/events/25582/event_periods/1147333/location_event_periods/1095010/location/check_ins which gives me all check-ins I've ever had for that related location which only then

[2016-04-06 15:56] tomtrumpet commented on #169
Hi, We'll be running the same system this coming Sunday and I'm getting a bit concerned I don't have any alternative solutions. Were you able to find anything out about the missing location_event_period please?

Thanks.

[2016-04-06 16:01] rmosolgo commented on #169
It looks like you've just "outgrown" the first page. The most recent entry is on the next page, which you can access by adding `offset=25`:

https://api.planningcenteronline.com/check-ins/v2/events/25582/locations/61260/location_event_periods?include=event_period&offset=25

By the way, the presence of a next or previous page is indicated by the `meta` object. This `meta` indicates where to find th

[2016-04-06 16:09] tomtrumpet commented on #169
Great! I'm paging in other places but it didn't cross my mind this was happening here. Thanks for the information.

[2016-04-06 16:09] #169 closed

[2016-04-06 20:18] simube opened #170 "Timeout (Error 429)"
Hi

Since some days I have the problem, that my requests abort because of too many requests.

Did you change something on this?

I'd like to continue with my procedure, but it seems, that this is not allowed anymore by the API:

Walk through all non-hidden songs
get arrangements, schedule and tags to every song

Because there are about 70 songs, this makes >210 requests...
As I do a multiple curl

[2016-04-07 15:56] seven1m commented on #170
@simube we did implement request throttling on our end recently. I'm sorry for the inconvenience, but we want to make sure we can provide quality service to all our customers.

The easiest solution might be for your to call `sleep 0.1` (or whatever value works) in order to slow down your requests just a bit.

A better solution would be to catch the 429 error, do a sleep, then retry.

Here is some

[2016-04-07 15:56] #170 closed

[2016-04-07 15:56] #167 closed

[2016-04-10 11:02] knizek commented on #167
Hi @skylarsch

thanks for your reply! I got confused with the POST, now downloading media attachemnts for fine.

What I haven't figured out yet is service item attachments. When I list one particular item I get this which i ok I suppose:

There is ...items/1/attachments mentioned. When I open it i only get:

but in PCO I can see this attachment directly attached to that item, as you explained. I h

[2016-04-11 01:52] jeremyjhamel commented on #161
I see **Create A New Workflow Card** in the API (https://planningcenter.github.io/api-docs/#workflowcards) but it doesn't have listed any resource attributes. Is this still being worked on or should it be working? Thanks!

[2016-04-11 15:10] seven1m commented on #161
@jeremyjhamel good eye! We're still working on it and there are a few pieces left to put in place.

[2016-04-12 11:09] simube opened #171 "SongSchedules - view past schedule"
Is there a way to get the past schedule too?
I found nothing in the API Docs.

[2016-04-14 12:02] simube opened #172 "Error 500 when doing Basic http request"
Until yesterday connecting via curl worked perfect
Today (no changes to the code) I get a error page with a error 500.

`We're sorry, but something went wrong. If you are the application owner check the logs for more information.`

When I post the requested url to the browser, it works as expected, but not with my personal access token and curl.

Why that?

Simon

[2016-04-14 12:21] JohnnySheppard commented on #172
I was just about to post about the same error (after mistakenly requesting support in the main support system). I have the exact same problem with the same symptoms.

I did try creating a new token and secret just in case, but it didn't help.

It was working for me during the day (UK time - GMT+1) but by 7:30pm it was not.

Hopefully someone will have an idea of what's going on.

[2016-04-14 13:53] seven1m commented on #172
Which URL are you hitting?

[2016-04-14 14:02] seven1m commented on #172
We found the problem... So sorry about that! Should be all fixed now.

[2016-04-14 14:02] #172 closed

[2016-04-14 14:06] JohnnySheppard commented on #172
I can confirm it now works :)

[2016-04-14 14:17] simube commented on #172
Thanks! Can you tell something about it? Or can we asse it'll not happen again? ;)
Simon

[2016-04-14 14:24] seven1m commented on #172
@simube we deployed a change yesterday that logged the User-Agent header. What we failed to catch is that some clients don't send a User-Agent header, and this is where the code was failing.

It's all fixed up now!

[2016-04-14 14:29] simube commented on #172
Great, thanks!

[2016-04-16 00:18] chadharms opened #173 "Check-In in App"
Is there an embed code that I can put into our mobile appl and make it a place parents can check in?

[2016-04-17 17:45] hcctk opened #174 "Deleting people from services using the API"
### Detailed Description of the Problem/Question

Am I missing something or is there no way to delete a person from Services using the API?  I've got 1500+ people to delete and doing it manually isn't an option.  I've looked through the API documentation for Services and it doesn't mention deleting a person.

[2016-04-18 14:15] seven1m commented on #173
@chadharms sorry, we don't have anything like that.

[2016-04-18 14:15] #173 closed

[2016-04-18 14:27] seven1m commented on #171
@simube currently there is no way to get the past schedule for a song.

You can get items in a plan using the [Items](http://planningcenter.github.io/api-docs/#items) endpoint.

[2016-04-18 14:27] #171 closed

[2016-05-05 06:08] knizek opened #175 "getting team leader through api"
Hi,

I'm working on setting up a script that would notify our team leaders few days before the service that they have unscheduled needed positions.

I managed to get needed positions for a service with no problems `https://api.planningcenteronline.com/services/v2/service_types/1/plans/1/needed_positions` but I wasn't able to find a team relationship to its team leader to find his email address. Is

[2016-05-05 15:48] lukewduncan opened #176 "Anyway to pass through Stripe meta-data to PCO?"
### Detailed Description of the Problem/Question

Hi guys,

Am I understanding it correctly in that, once a Stripe purchase takes place, we would then have to go into PCO and then tag the payments with a specific label once it has processed?

Trying to figure out if we would need to use the Give API at all. We are setting up a custom form in PHP to collect donation information through Stripe, whic

[2016-05-05 16:41] danott commented on #176
Howdy @lukewduncan! Let's get to answering those questions:

Great question. We use Stripe as the payment processor for Stripe Charges initiated by an administrator at https://giving.planningcenteronline.com and Stripe Charges initiated by a donor at https://[your-subdomain].churchcenteronline.com/giving. Stripe Charges that occur outside of these forms (like the custom PHP form you described) wil

[2016-05-05 16:59] lukewduncan commented on #176
Hi Dan,

Thanks for all the answers. Clears a lot up and your guys response times are seriously awesome. Is there any way to connect custom forms with PCO or does all the payments have to go through that specific form on https://[your-subdomain].churchcenteronline.com/giving?

[2016-05-05 20:51] danott commented on #176
Correct. All donor initiated payments are handled through the donation form on `https://[your-subdomain].churchcenteronline.com/giving`.

[2016-05-05 22:02] tim-smart opened #177 "Create barcodes / passes for people using API?"
Using the CSV import you can attach barcodes to people using a `barcode` column.

Is this possible / could it be implemented using the API?

[2016-05-06 07:41] lookitstracey opened #178 "404 error when requesting blockout dates"
### Detailed Description of the Problem/Question
I'm getting a 404 error when I send a GET request for blockout dates. I see in #168 that accessing blockout dates within APIv2 isn't supported yet, but I recently got started using Planning Center, so I don't have any existing APIv1 code to fall back on. Any suggestions for what I can do?

***

##### Steps to reproduce:

##### Endpoint I'm using:
ht

[2016-05-06 14:36] seven1m commented on #178
@lookitstracey I just tried querying blockouts using a similar URL and it worked.

To view blockouts you must be either viewing yourself or have the Scheduler role in Services.

[2016-05-06 14:54] lukewduncan commented on #176
Cheers Dan. Guess we will just go through the donation form. Saves me time from building a custom Stripe form!

[2016-05-06 14:54] #176 closed

[2016-05-07 07:46] lookitstracey commented on #178
Ah, I found my issue - realized I needed to request blockouts for each individual person by their id. Thanks!

[2016-05-07 07:46] #178 closed

[2016-05-09 16:43] skylarsch commented on #175
@knizek Currently there isn't a way to get the leaders for a team.  It's on our list of things to do before leaving beta.  I'll update here when this is live!

[2016-05-09 17:24] ReaganHelms commented on #174
@hcctk Nope! You're not missing anything. When someone is deleted from Services all of their scheduling history, permissions, and positions are wiped with them. Until we have a valid need for this, we're not going to allow something with such drastic consequences.

[2016-05-09 18:38] seven1m commented on #177
There isn't a way currently via the API, but we'll try to get that added!

[2016-05-09 22:06] hcctk commented on #174
Hmmmm......   So if I have to purge several hundred users I'm going to have to do it manually through the web interface?  Seems like the API should allow us to do bulk data manipulation irregardless of what that manipulation might be.  Secondary question being why can I delete a person from People using the API if it's considered drastic?  Obviously y'all can decide to whatever you want but, IMHO

[2016-05-09 22:21] bensie commented on #174
@hcctk It's only possible to delete people records from People if they're not in any other app, making it as non-destructive as possible. As Reagan mentioned above, there are too many permanent consequences to deleting people in Services to make it available as public API. Even our web UI sends you through a few clicks to delete a person to ensure it's what you really want to do.

If you have a la

[2016-05-09 22:21] #174 closed

[2016-05-10 04:12] abigailcave opened #179 "First time open source user"
### Detailed Description of the Problem/Question
Hi, I have never used an open source project before and am unsure as to where to start with set up. I know how to fork and clone a git repository, but I am not sure how to run the app after I have made changes to it. I am also not sure how to have my changes used in the app that is available for my church. Any information on tutorials you would reco

[2016-05-10 15:28] ReaganHelms commented on #179
Hi @abigailcave,

All of the open source code that we have is for developers who are wanting to use data from their Planning Center accounts in their own applications (using our API). None of our applications themselves are open source. Is that what your question is regarding?

If you're looking in ways of getting set up with other program languages, or new ways to develop, I'd recommend checking

[2016-05-10 16:23] abigailcave commented on #179
Ah this makes so much more sense, thank you!
The church I am working with previously spoke to you over the phone. They are wanting to use your PCP app but have a way for new user to create their own account and log in. Currently it seems that new user accounts are only created by admins? It was mentioned to them that this was possible through your API's. We do not have our own app though, so is th

[2016-05-10 16:30] ReaganHelms commented on #179
Hum, not quite sure of the use case there. It'd be much more secure to have someone create those profiles, instead of having a public way for someone to add themselves. You can even create users in bulk using a CSV import. Once someone has a login to your church's account (Planning Center People, or Planning Center Projector), they'll either have access to everyone's contact information (People) o

[2016-05-10 17:30] abigailcave commented on #179
@ReaganHelms Ok yes, I see what you mean. Thanks for your help, this has been really helpful!

[2016-05-10 17:35] #179 closed

[2016-05-12 03:24] mcarter00 opened #180 "Field for Security / Regular Label on EventLabel, LocationLabel and Label"
### Detailed Description of the Problem/Question
When I get an `EventLabel` or `LocationLabel`, I'd like to be able to tell if it is a regular or security label. Could you guys add a field that will allow me to determine that? Would be useful on `Label`s too.

***
##### Endpoint I'm using:
CheckIns

##### Language I'm using:
NodeJS

##### Authentication method I'm using:

- [x] OAuth 2

- [x] Pers

[2016-05-12 04:11] mcarter00 commented on #180
Would it also be possible to add EventLabel and LocationLabel associations for CheckInGroups?

[2016-05-12 11:13] simube opened #181 "Getting only lyrics without chords?"
Hi

Are there plans to extend the api to only get the lyrics of a song?
When I request:
https://api.planningcenteronline.com/services/v2/songs/12161540/arrangements/13652912
there is the attribute "chord_chart".
But on your website, there is a link to a "lyric_chart".

Thanks for your help!
Simon

[2016-05-12 14:32] rmosolgo commented on #180
Security / Name label is exposed by the Label's `prints_for` attribute:

- name labels have `prints_for: "Person"`
- security labels have `prints_for: "Group"`

(http://planningcenter.github.io/api-docs/#labels)

hmm, interesting, would this be the security labels for the group? or merge of all the name labels?

[2016-05-15 23:00] mcarter00 commented on #180
Oh perfect, I didn't notice that field! No need for the association for the `CheckInGroup` then. Thanks for setting me straight.

[2016-05-17 23:25] #180 closed

[2016-05-18 01:30] emersonian opened #182 "Services: 403 Forbidden on a plan's team_members"
### Detailed Description of the Problem/Question

My account is a Scheduler for a plan, yet I am receiving a 403 Forbidden error when trying to access content which I have access to through the official web interface.

Ruby:
[code]

It seems silly that this would be forbidden when I can view all of the team members just fine in the web interface. Bug?

I submitted a Zendesk ticket (#231820) before

[2016-05-18 15:02] skylarsch commented on #182
@emersonian That defiantly doesn't sound right.  I'll take a look and update you here with what I find!

[2016-05-18 18:25] skylarsch commented on #182
@emersonian I'm having some trouble tracking this down.  Can you give me your Planning Center ID?

You can find this by opening https://api.planningcenteronline.com/services/v2/me in your browser

[2016-05-18 18:26] emersonian commented on #182
Hi skylarsch - thank you for the quick response!

15994098

[2016-05-18 21:16] skylarsch commented on #182
@emersonian Give it a shot now

[2016-05-18 21:27] emersonian commented on #182
Works perfectly, thank you! This again confirms our confidence in your company and product. Happy customers here, have a blessed evening!

[2016-05-18 21:27] skylarsch commented on #182
Glad I could help

[2016-05-18 21:27] #182 closed

[2016-05-20 11:15] DuckyDisciple opened #183 "Getting 404 error when trying to add email/phone"
### Detailed Description of the Problem/Question
I'm trying to add new people to PCO people using the API. I've been able to add a person, but when I want to create an email address or phone number to link up with the person, I keep getting a 404 error. I use the url from the documentation under Create A New Email and send using POST with the correct headers/authentication.

Here's the error I'm g

[2016-05-20 13:40] DuckyDisciple commented on #183
After looking at the documentation a bit more, I realized that the url is looking for the person id and I had 1 left in as the default value. I don't know if I just missed it from not being as knowledgeable with the JSON API standards, but it might help to clarify /person/_id_/emails in the documentation to make it clearer.

[2016-05-20 13:40] #183 closed

[2016-05-22 22:14] brycemck opened #184 "PCO Live API (v1)"
Hi, I know this isn't supported in API v2 yet, but I'm having a hard time getting it to work in v1. Is it not supported/available anymore?

Here's what I'm doing:
`curl -u app_id:secret https://services.planningcenteronline.com/live/plan_id/control.json`

I get a 404 when I run that from terminal. Any tips?

[2016-05-23 14:53] seven1m commented on #184
@brycemck that particular endpoint is used to gain control of the plan in LIVE. You need to send a POST request to it.

[2016-05-23 17:05] DuckyDisciple opened #185 "Assign person to team in Services"
I'm trying to automate a system of having people created and assign them to a team in Services. I've been successful in getting the person created in People, but I can't quite tell from the API documentation how to assign people to a team. I would think that would be done through PersonTeamPositionAssignment, but I only see schedule_preference and preferred_weeks listed as attributes, and not a wa

[2016-05-23 17:38] skylarsch commented on #185
@DuckyDisciple We currently don't have the functionality to create a Person or assign them to a team.  It will be coming sometime in the future, but I can't give you a timeline on when.

[2016-05-23 17:38] #185 closed

[2016-05-23 17:46] DuckyDisciple commented on #185
@skylarsch Thanks for the update! Is there somewhere I can subscribe to or keep an eye out for future developments with the API?

[2016-05-23 17:51] skylarsch commented on #185
You can check out https://pcoapi.zendesk.com/ but for additions you'll have to check the docs.  You can watch https://github.com/planningcenter/api-docs to see updates to docs there

[2016-05-23 21:11] brycemck commented on #184
@seven1m so what's the correct endpoint for just viewing the live data of a plan?

[2016-05-23 21:17] seven1m commented on #184
@brycemck the v1 LIVE API is documented [here](http://get.planningcenteronline.com/api/live/). If you have old v1 API credentials, then you should be able to use it.

If you don't already have v1 API credentials, I'm afraid you'll have to wait until we make the LIVE endpoints available on the v2 API, documented [here](https://planningcenter.github.io/api-docs/), since we are no longer providing cr

[2016-05-23 21:19] brycemck commented on #184
Is there any kind of approx time that'll be available?

[2016-05-23 21:19] #184 closed

[2016-05-23 21:22] seven1m commented on #184
I'm sorry, we don't have an idea right now when that will be done.

[2016-05-23 21:28] skylarsch commented on #175
@knizek You can now get team leaders from `https://api.planningcenteronline.com/services/v2/service_types/1/teams/1/team_leaders`  This should allow you to compute the team leaders from a `NeededPosition`'s `team` relationship

[2016-05-23 21:28] #175 closed

[2016-05-23 21:29] skylarsch commented on #130
@simube You can now sort `SongSchedule` by `plan_sort_date`

[2016-05-23 21:29] #130 closed

[2016-05-23 21:36] skylarsch commented on #181
@simube Sorry for the long delay.  It's something we will be adding.  I can't give you an exact timeline on that.

[2016-05-23 21:50] rmosolgo commented on #164
Hey there, sorry I failed to get back to you sooner! We took a look at what we could to on those endpoints but I forgot to follow up.

How is it going for you lately?

[2016-05-25 19:13] seven1m commented on #88
@azturner You can now update profile avatars in People via the API! Check out the docs here: https://planningcenter.github.io/api-docs/#file-uploads

[2016-05-25 19:13] #88 closed

[2016-05-26 17:04] seven1m commented on #140
We don't have any immediate plans to add 'OR' conditions, so I'm going to close this. We may add this at a later date, but for now, the best way to do this would be to make separate API calls and combine the results on the client end.

[2016-05-26 17:04] #140 closed

[2016-05-26 20:51] danielmurphy commented on #177
Hey @tim-smart, we just added this to the Check-Ins API. https://planningcenter.github.io/api-docs/#passes

Hope this helps!

[2016-05-26 20:51] #177 closed

[2016-05-26 21:01] tim-smart commented on #177
Thanks!

[2016-05-27 19:43] austinspooner opened #186 "404 Error"
We are trying to sync data using PCO Api version 1. We have been using it for multiple years but it stopped working today. We get a 404 error back.

[2016-05-27 19:45] seven1m commented on #186
@austinspooner can you give some more details please?

* What URL is returning the 404?
* What HTTP method (GET, POST, PUT, etc.) are you using?
* What is your church name? (In case we need to check authentication still works.)

[2016-05-27 19:49] austinspooner commented on #186
I am not 100% on the URL- it did work before though - we are doing a get , and post. We are New Covenant Bible Church. I think I need my API credientials again from you guys for the version 1 API. I cannot find them to double check what they should be. I thought I did this all on the planning center website before.

[2016-05-27 19:52] austinspooner commented on #186
Is the token / secret information we are using for credentials still available on the internet some where for us to manage?

[2016-05-27 20:06] seven1m commented on #186
@austinspooner there isn't a way to manage v1 API keys on the web. If you can see the configuration or sourcecode of the sync tool you are using, perhaps you can look up the OAuth key and send it to me directly? (Please don't post publicly on this issue.)

If you could email me the first 5 characters of your OAuth key (*not* the secret) to tim@ministrycentered.com I can try to find out some more i

[2016-05-27 22:01] #186 closed

[2016-06-02 18:54] joshaidan opened #187 "Ability to POST (create) CheckIns"
Just a small feature request. My understanding from reading the API docs is that this is not possible yet, but if it is, let me know.

It would be nice if it were possible to create (POST) new CheckIns from the API. Reason I'm asking this is because I recently ordered 100 MiFare 1k RFID cards for a capture the flag game I'm creating for youth, and it occurred to me that we could probably also use

[2016-06-02 19:45] seven1m commented on #187
@joshaidan we would like to eventually add the ability to check in via the API, but we don't yet have a time frame for when that will happen.

[2016-06-02 19:45] #187 closed

[2016-06-10 02:05] tim-smart commented on #177
@danielmurphy I have an issue: The person doesn't exist in check-in yet. Is there a way to programmatically make sure they exist in check-ins so I can add a pass to them?

[2016-06-10 19:07] OnlineCampus opened #188 "PCO API Oauth"
### Detailed Description of the Problem/Question

I was asked to post this question here by Clay Rector.

We are building out a new website for an online campus and really need to hold our users in PCO so that we can incorporate all the other apps like payments etc. However we need a way to authenticate these users to access certain areas of our website depending on an auth level.

I am not a deve

[2016-06-10 20:55] azturner opened #189 "Update Services Permission"
Looking at the Services API and trying to find a way to update a person's permission level (scheduled viewer, viewer, scheduler, etc.). I don't see this as an option. Am I just missing it?

[2016-06-11 19:19] danielmurphy commented on #177
Ask theberg, he's working in something similar right now.

[2016-06-11 19:50] tim-smart commented on #177
@theberg ;)

[2016-06-11 19:52] TheBerg commented on #177
@tim-smart This is definitely an issue we need to address. I will talk with the team next week, we will update the ticket once we figure out a solution.

[2016-06-11 19:54] tim-smart commented on #177
Thanks, appreciate it!

On Sun, 12 Jun 2016, 07:52 TheBerg <notifications@github.com> wrote:

[2016-06-13 16:08] seven1m commented on #188
You could do this with OAuth, yes. We have an example in Ruby [here](https://github.com/planningcenter/pco_api_oauth_example) of an app that allows the user to authenticate, authorize the app, then the app is able to query information from People. This would allow your app to query custom fields as well ... you can see the relevant API documentation here: https://planningcenter.github.io/api-docs/

[2016-06-13 16:08] #188 closed

[2016-06-13 16:25] seven1m commented on #189
Sorry, there is no way to update a person's permissions in Services via the API.

[2016-06-13 16:25] #189 closed

[2016-06-21 22:05] tomtrumpet commented on #164
Hey,

Sorry for the late reply. I've decided to carry on running everything in the background and serving that up to the parent process. Everything looks great.

Thanks,
Tom.

[2016-06-21 22:05] #164 closed

[2016-06-23 03:39] neil-citywide opened #190 "Music Stand session (Gamekit/Pusher) API"
Hi.

I'm not sure this is the best place to ask this, but I couldn't find anywhere more appropriate ...

I am developing an application that integrates Ableton (for backing tracks / stems) with ProPresenter, and provides easy on stage control.  This has allowed me to drive the slide selection in ProPresenter from the backing track such that the song words auto sync with the progress of the song.

[2016-06-23 15:34] skylarsch commented on #190
@neil-citywide

Unfortunately this isn't possible at this time.  I would take a significant amount of engineering work to make Sessions public & documented.  This isn't something I can provide you with.

[2016-06-23 15:34] #190 closed

[2016-06-24 20:05] cyrjm opened #191 "WordPress Integration"
### Detailed Description of the Problem/Question
Hey guys...sent this to your support email and they told me to post here:

...I'm a WordPress designer and developer (not a full stack dev but I get my hands dirty) and just landed a small project with a local church. They are already a client of yours and are planning on using more of your features in the next few months. One thing they are wanting

[2016-06-28 03:22] tim-smart commented on #177
@TheBerg Any updates? We have a conference on the 21st July and it would be great to have everything automated!

[2016-06-28 04:17] keithcoffey commented on #47
Is there a way to pull all people? Right now I'm only getting people that have checked in or are in Services.

[2016-06-28 11:50] simube opened #192 "Very long execution time on getting Song Tags"
I have the problem that my request to
https://api.planningcenteronline.com/services/v2/songs/8066576/tags
has a very long execution time of over 7 seconds!
Other requests (attachments, arrangements) work around 0.5s

Is there some issue on your side as I didn't change something on this script?

Output of curl_getinfo() (PHP):

[code]

[2016-06-28 14:45] seven1m commented on #191
@cyrjm we support OAuth 2 for logging in -- you could use that to implement your sign on.

We have an example in Ruby [here](https://github.com/planningcenter/pco_api_oauth_example) of an app that allows the user to authenticate, authorize the app, then the app is able to query information from People. This would allow your app to authenticate and then check the user id/name/email/whatever.

[2016-06-28 14:45] #191 closed

[2016-06-28 14:49] seven1m commented on #192
Thanks for that info @simube... we'll look into that!

[2016-06-28 16:24] TheBerg commented on #177
@tim-smart sorry about that. I am working on a solution to import a person into a specific app.

In the mean time you can search for the person you want to import into to check-ins by using our `people` API. (if using oAuth, make sure you ask for the `people` scope). I am working on adding an API to the `people` api that allows you to make sure a person is in that app.

[2016-06-28 20:44] tannermares commented on #192
Thanks for bringing that to our attention @simube. That endpoint should be much faster now!

[2016-06-28 20:45] #192 closed

[2016-06-28 23:17] TheBerg commented on #177
I didn't get to this today, we are working towards launching groups. :) but this tab is still open for me, I will get to it tomorrow.

[2016-06-28 23:20] tim-smart commented on #177
Thanks for the update! Excited to see groups by the way

[2016-06-29 01:20] cyrjm commented on #191
Tim, thanks for your reply.  Do you have anyone on your team available for
hire?

[image: photo]
*Jason Cyr*
Owner | Head Geek, Jason Cyr Design
p:678.383.9387 | e:jason@jasoncyrdesign.com | w:jasoncyrdesign.com |
a:Marietta,
Georgia
<http://www.facebook.com/pages/Jason-Cyr-Design/280583638690341>
<http://www.linkedin.com/in/jasonmcyr/>  <http://twitter.com/JasonCyrDesign>
Get a signature like thi

[2016-06-29 17:33] TheBerg commented on #177
@tim-smart http://get.planningcenteronline.com/groups :)

[2016-06-30 20:31] ifedotov opened #193 "API Oauth token response"
### Detailed Description of the Problem/Question

I am creating simple chrome app that uses Planning Center data.
With the help of @seven1m I was able to get past initial part of Oauth authorization.

I can successfully authorize and get "code" back in the response_uri. #
If I understand correctly code needs to be used to get token by using
https://api.planningcenteronline.com/oauth/token end poin

[2016-07-03 23:30] tim-smart commented on #177
@TheBerg Looking great! One feature that would be awesome is creating groups structures / trees :)

I'll create another issue for adding people to apps.

[2016-07-03 23:32] tim-smart opened #194 "Add people to apps"
Could we get the ability to add people to different apps?

I.e. We have a sync script that tries to add check-in passes for every person added to PCO. But to add check-in passes to someone with the API they first need to be added to the Check-ins app.

See #177 for more details.

Thanks!

[2016-07-07 15:40] seven1m commented on #193
@ifedotov here is the flow:

1. Send a GET request to `https://api.planningcenteronline.com/oauth/authorize?client_id=CLIENT_ID&redirect_uri=http%3A%2F%2Flocalhost%3A4567%2Fauth%2Fcomplete&response_type=code&scope=people` (replace `CLIENT_ID` and `http%3A%2F%2Flocalhost%3A4567%2Fauth%2Fcomplete` with your actual redirect URI)
2. Planning Center will redirect back with a `code` param.
3. Send a POS

[2016-07-07 15:48] TheBerg commented on #194
@tim-smart FYI, @tannermares has a PR in for this, hopefully it gets deployed today. If not, it will be early next week.

[2016-07-07 20:20] tim-smart commented on #194
Perfect, thanks!

On Fri, 8 Jul 2016, 03:48 TheBerg <notifications@github.com> wrote:

[2016-07-08 16:19] ifedotov commented on #193
This works great. Thanks.

[2016-07-08 16:19] #193 closed

[2016-07-08 21:18] seven1m commented on #193
Great! 😄

[2016-07-12 17:30] skylarsch commented on #194
@tim-smart This just shipped.  The docs can be [found here](https://planningcenter.github.io/api-docs/#personapps)

[2016-07-12 17:30] #194 closed

[2016-07-12 19:23] bensie commented on #125
@ahomburg Sorry for the monster delay on this. Still have the same answer for you at the moment, we'll eventually have Live in APIv2 but I don't have an ETA at this time.

[2016-07-12 19:23] #125 closed

[2016-07-12 19:29] bensie commented on #115
@Redbeard25 It looks like Songs and Arrangements are as far as we're going to go for now on uploading attachments in APIv2, but I'm sure support for other attachment types will land at some point. At this point I cannot provide an ETA though.

[2016-07-12 19:29] #115 closed

[2016-07-12 20:22] tim-smart commented on #194
Thanks!

On Wed, 13 Jul 2016, 05:30 Skylar Schipper <notifications@github.com> wrote: