[2019-07-17 20:26] danielma commented on #654
:wave: hi @evangunter

I'm going to pass this idea further along to the team, and I'll comment on this issue if there are any updates.

In the meantime, could you provide more details about the specific scenario you're dealing with? Would you envision some sort of automatic cutoff (say, if the donation is more than one year old), or some way to specify in the API request whether creating a donatio

[2019-07-18 15:02] evangunter commented on #654
Absolutely. I'm frequently importing giving history for church's. They want to maintain their records using the giving platform, but often times they will have inactivated folks in the system, and when a donation from 5 years ago is upload, the system will re-activate that person.

I don't particularly want to specify whether to reactivate a person or inactivate them, but possibly setting some sor

[2019-07-18 15:10] danielma commented on #654
Thanks for the extra details! We've started a conversation internally about it, and I'll comment on this issue with updates.

I'm closing the issue for now, since we're tracking it internally

[2019-07-18 15:10] #654 closed

[2019-07-18 18:40] jbarrieault commented on #653
Hello again, @BionicButchie! 😄

The unexpected label was due to a bug in the `ArrangementSection` endpoint that has existed since its creation. A fix has been deployed! 🎉

As always, thanks for reporting.

[2019-07-18 18:40] #653 closed

[2019-07-18 20:16] BionicButchie commented on #653
Thanks, @jbarrieault !

[2019-07-22 21:18] maddiesch commented on #624
@trevorgehman are you still seeing this issue?

[2019-07-23 15:51] BionicButchie opened #655 "Some songs with "Misc" stanza labels don't result in proper ArrangementSection data"
**Affected Applications**
PCO Services (APIV2)

**Describe the bug**
Some songs as imported from SongSelect with "Misc" stanza labels don't parse properly into corresponding ArrangementSections data

*PLEASE DO NOT INCLUDE YOUR CLIENT ID, APPLICATION ID, OR SECRET IN THIS ISSUE. WE WILL REVOKE YOUR TOKEN IF YOU DO.*

**To Reproduce**
Steps to reproduce the behavior:
1. Add a new song in Services -

[2019-07-26 14:15] trevorgehman commented on #624
@maddiesch We added a small delay after the token was refreshed to mitigate the issue. I haven't had it surface since, but we also haven't tested it recently without the delay.

[2019-07-27 02:58] maddiesch commented on #624
Okay. I'm going to close this for now. Let us know if you start seeing it again.

[2019-07-27 02:58] #624 closed

[2019-07-27 04:47] josiaho opened #656 "401 after 20min of Auth"
**Affected Applications**
People

**Describe the bug**
For 20min(ish) after the original Auth, I can make calls and refresh tokens fine - and then I can’t. Both calls and refresh token requests fail until I login again - then I get another 20min.

I might try creating a new app and see if I experience the same thing?

**Context (please complete the following information):**
- Endpoint: People: Cam

[2019-07-27 04:48] josiaho commented on #656
**Affected Applications**
People

**Describe the bug**
For 20min(ish) after the original Auth, I can make calls and refresh tokens fine - and then I can’t. Both calls and refresh token requests fail until I login again - then I get another 20min.

I might try creating a new app and see if I experience the same thing?

**Context (please complete the following information):**
- Endpoint: People: Cam

[2019-07-27 04:48] josiaho commented on #656
Description didn’t post

[2019-07-27 17:41] josiaho commented on #656
I had been using the latest version of the API. When I switched to the stable it seems to work fine - thanks!

[2019-07-27 17:41] #656 closed

[2019-08-05 15:03] Martinaude opened #657 "Check-Ins API - Event Period Check Ins (Checked In At) Missing from call."
**Affected Applications**
API Calls to the Check Ins App when trying to include check_in_times

**Describe the bug**
When using the API Explorer, I am able to do a call to the following address:
https://api.planningcenteronline.com/check-ins/v2/events/{{event_id}}/event_periods/{{period_id}}/check_ins?include=check_in_times,checked_in_at,person

I get all three "Included" objects delivered with th

[2019-08-06 10:17] #657 closed

[2019-08-06 10:18] Martinaude commented on #657
Was using the wrong version of the API for Check-Ins (2018-08-01)
Needed to use the new (2019-07-17)

[2019-08-07 14:27] KnightRiderAW opened #658 "Looking for Account Info"
**Related Applications**
Which application(s) is this question related to?

Services

**Describe the question**
Trying to find the original email account used for API access for MediaShout.

**What have you tried that worked?**

**What have you tried that didn't work?**

**Additional context**
Contacted PCO directly and they recommended I come here and submit a ticket.

## I have..

- [x] Reviewed

[2019-08-07 16:06] ReaganHelms commented on #658
Hi @KnightRiderAW,

Sorry about this. You shouldn't have been sent here for figuring this out. I tried to find your original request with our support team, but I'm not seeing anything on your Github profile that would help me with that. Please let me know the ticket number of your original request, and I'll follow up with you through the support channel.

[2019-08-07 16:14] KnightRiderAW commented on #658
Thanks for the help. There isn't an original request that I'm aware of. We
are simply preparing to update our API interaction with PCO in MediaShout,
but realized the account is not under my email address (as it doesn't show
any products under my developer account). We are simply trying to figure
out whose email address it is under for the MediaShout API integration.
Thanks!

[image: avatar]

*Aar

[2019-08-07 17:46] ReaganHelms commented on #658
Thanks Aaron! The team here shared your original email with me, and I'll follow up there, so we're not posting any private info on a public forum. Talk soon!

[2019-08-07 17:49] dobrite commented on #655
Hey @BionicButchie! We talked about this internally and we will not be changing the way we parse chord chart headings. It would be up to Planning Center users to fix these style of CCLI chord charts. Thank you for your detailed write up. They are appreciated.

[2019-08-07 17:49] #655 closed

[2019-08-07 17:49] #658 closed

[2019-08-12 17:47] jrdn91 commented on #649
Is there any way to access this API in the meantime? I see I can get to it by messing with the URL but it seems the 0Auth login won't accept it as a scope and I've had issues with the other auth method to get any data. I would love to start building some functionality around this into our app I'm working on

[2019-08-12 17:59] bweave commented on #649
@jrdn91 soon my friend, soon! We're working through a few last steps before release to make sure everything is ready for you. We're excited to get it into your hands! 😄

[2019-08-12 17:59] #649 closed

[2019-08-13 22:01] j6mes opened #659 "Team ID in POST PlanPerson"
**Related Applications**
Which application(s) is this question related to?
Services

**Describe the question**
From what I've seen in the PCO API docs. There appears to be no way to programatically associate PlanPerson with a Team when POSTing a PlanPerson to a service, (https://developer.planning.center/docs/#/apps/services/2018-11-01/vertices/plan_person).

When I POST a PlanPerson, the team tha

[2019-08-14 12:50] dobrite commented on #659
The team can be assigned by providing a team relationship nested in the `team` key. Here is a sample request. In general you can use the format provided by a `GET` to see how to format the request.

[code]

Hope that helps! If not, feel free to reopen or create another issue. If you could provide the request in the issue is would help us to get you an answer quicker.

Thanks,
Dave

[2019-08-14 12:50] #659 closed

[2019-08-14 20:13] j6mes opened #660 "GET plan team members gives 403 error"
**Related Applications**
Which application(s) is this question related to?
Services

**Describe the question**
Question: I've been developing an app that consumes the following API endpoint: ```/services/v2/service_types/$service_type_id/plans/$plan_id/team_members```. With a test site I set up with an organization admin and an editor user I created, I can call this endpoint without error using a

[2019-08-15 15:17] michaelhvisser opened #661 "Workflow Card Creation Doesn't Update Person"
**Affected Applications**
People

**Describe the bug**
When we create a workflow card via the API the person object does not get a change to the updated_at timestamp. We query and update our connected databases based off of people that have been updated. Since you add a workflow card to a person it seems odd that is doesn't update the parent object.

*PLEASE DO NOT INCLUDE YOUR CLIENT ID, APPLICAT

[2019-08-16 02:08] countcyrillus commented on #660
I'm having this same issue.

[2019-08-16 16:14] eattrig opened #662 "Total Check-Ins"
**Related Applications**
Which application(s) is this question related to?
Check-Ins

**Describe the question**
My task is to pull the same totals you display in the graph from the Event Check-Ins Admin area for Event Listings (i.e. https://check-ins.planningcenteronline.com/events) for a specific event, for all times (i.e. an entire weekend).  I have figured out how to use your API to get the hea

[2019-08-17 12:02] j6mes commented on #660
I resolved this myself by creating a new personal access token. What could cause the old token to raise this error for this endpoint only?

[2019-08-17 17:34] countcyrillus commented on #660
@j6mes Thanks. I did the same. It seems like the issue is with the '2018-11-01' version of services. I created a new one with that version and it didn't work but when I created one with the '2018-08-01' version it worked.

[2019-08-17 18:57] j6mes commented on #660
Same

[2019-08-22 11:57] j6mes opened #663 "DELETE PlanPerson object with "declined' status still visible in plans"
**Affected Applications**
Services

**Describe the bug**
I DELETE a PlanPerson via the web api. This works as expected if the PlanPerson is confirmed. However if I call DELETE on a PlanPerson with a "Declined" status. Even though I get a 204, the PlanPerson is not actually deleted from the service:

[code]

If I then GET, DELETE or PATCH the PlanPerson, after calling delete, I get a 404. As expect

[2019-08-23 03:24] eattrig commented on #662
I don't know whether anyone monitors this site, but I've learned some more information since I posted this question.  For the most recent weekend at my church, focusing in on the Regular Check-Ins, I have 3 numbers that I expect to match but they don't.  The number displayed in the graph in Event Listings (https://check-ins.planningcenteronline.com/events) is 378.  The number included in this week

[2019-08-30 11:11] Martinaude opened #664 "Check-In Registration for Certain Fields."
Hey There PCO Developer Team,

I know that currently there is no POST or PATCH for the Check-Ins APIs.
Is there any possibility that in the future, certain fields may be open to POST and PATCH actions?

I know that in general we don't want to enable it because of how we would need to authenticate for users, but we use quite of bit the the APIs (for all the apps) for Admin tasks, and would like to

[2019-09-02 12:58] jemcguire opened #665 "Console App with OAuth"
I'm writing a console app that runs nightly as a service to pull some data from PCO via the API.  I'd like to use the OAuth authentication method.  However, step 1 of your OAuth 2.0 guide requires the user to redirect to get the "code", https://developer.planning.center/docs/#/introduction/authentication.  Since there is no interactive user in my nightly service, how can I skip/replace Step 1 and

[2019-09-02 13:19] Rowdybullgaming commented on #665
You want to use the Basic Authentication not OAuth? If you are using .Net C# I can send you a sample later. I have a console app I grab data from no problem. It is always running under my credentials.

Personal Access Token
Create a Personal Access Token and use HTTP Basic Auth if you just need access to your own account:

Visit api.planningcenteronline.com/oauth/applications.
Create a new "Person

[2019-09-02 13:28] jemcguire commented on #665
Thanks!  I've written a couple apps using Basic before so it is fairly straightforward.  However, I plan to offer this to other PCO churches as a paid service and thought that the OAuth method is required for that sort of thing.  Is that true??  If not, then I'll stick to the basic auth.

[2019-09-02 13:37] Rowdybullgaming commented on #665
I use oauth in the web for my church, but I don't know how you would do it in the console. I struggled writing an owin oauth provider for .net mvc. The refreshing of the token still needs some work.

I'd like to know if you find a way.

If you stay with basic you will just have to allow them to enter their app_id and secret.

[2019-09-02 13:58] jemcguire commented on #665
As long as using Basic is ok for a paid (pro) service offering, I'll stick with basic.  is there someone at PCO who can confirm?

[2019-09-03 12:53] dobrite commented on #663
I'm going to close this since there has not been a response. Please feel free to reopen, or open another issue.

Thanks,
Dave

[2019-09-03 12:53] #663 closed

[2019-09-03 16:32] jenniferbrogee opened #666 "how to sort by Events"
Hi, I'm struggling with using the Events API to get the most recent events. Can I enter a range into the querystring for updated_at? Or is there a sort option for one of the columns? I've tried some guesses using the API explorer but I haven't found the right combination of query values to get recent/ upcoming events.
Thanks

[2019-09-03 17:00] danielma commented on #665
:wave: @jemcguire thanks for checking in about this.

If you're working on a tool that will be distributed to customers, you **do** need to use OAuth as the authentication method. Basic authentication is available as a convenience for individuals who are comfortable accessing the API on their own. We are clear on the API page that basic authentication keys should **never** be shared with anyone.

[2019-09-03 17:00] #665 closed

[2019-09-04 15:42] sheck commented on #664
Hi @Martinaude,

We don't have any current plans to open up the Check-Ins API for writing, but it is something we are interested in doing in the future! Thanks for letting us know about your use case, we'll keep it in mind if/when we add support for that.

[2019-09-04 15:42] #664 closed

[2019-09-04 22:21] jordangrogan commented on #664
I would like to +1 the feature request for making Check-Ins writable! It would be really helpful for importing historical headcount data.

[2019-09-09 16:43] bilderbach commented on #650
Another vote for this PLEASE!  At least read only...

[2019-09-09 16:54] bweave commented on #649
@jrdn91

We launched the Groups API Beta.
- [Documentation](https://developer.planning.center/docs/#/apps/groups/2018-08-01)
- [API Explorer](https://api.planningcenteronline.com/explorer)

[2019-09-09 16:54] bweave commented on #529
@dhock194

We launched the Groups API Beta.
- [Documentation](https://developer.planning.center/docs/#/apps/groups/2018-08-01)
- [API Explorer](https://api.planningcenteronline.com/explorer)

[2019-09-09 16:55] bweave commented on #216
Hi folks, we launched the Groups API Beta.
- [Documentation](https://developer.planning.center/docs/#/apps/groups/2018-08-01)
- [API Explorer](https://api.planningcenteronline.com/explorer)

[2019-09-09 16:56] bweave commented on #347
Hi folks, we launched the Groups API Beta.
- [Documentation](https://developer.planning.center/docs/#/apps/groups/2018-08-01)
- [API Explorer](https://api.planningcenteronline.com/explorer)

[2019-09-09 16:57] holbrocr commented on #216
Thank you!!!!!!!   Looking forward to digging in.

Regards,

Clarence

[2019-09-09 17:04] dhock194 commented on #529
Excellent! Is this an open or closed Beta?

[2019-09-09 17:06] dhock194 commented on #529
Also, first glance, all is read-only so far? Any timeline on the ability to post or patch?

[2019-09-09 17:11] dhock194 commented on #216
Thank you!! Excellent!

First glance, all endpoints are get/read-only, correct? Any timeline to add post/patch?

[2019-09-09 17:14] d-davis-321 commented on #650
Yet another vote!  The would help in keeping our HubSpot account up-to-date when someone changes data.

[2019-09-09 17:43] bweave commented on #529
@dhock194 open Beta, and read only for now. Writing to the API is on the docket, but we've got some other features to address first.

[2019-09-09 17:44] bweave commented on #216
@dhock194 You're correct, read-only for now. Writes are on the docket, but we don't have a timeline.

[2019-09-09 18:38] simplepath opened #667 "Refresh issue"
**Related Applications**
Which application(s) is this question related to?
Authorization

**Describe the question**
Hi. We had thought we had this issue resolved but we are experiencing an issue with Token Refresh for our application.

We can authorize no problem and get an access token and refresh token. In addition, we can make API calls but our refreshes fail as follows:

401: {"error":"invalid

[2019-09-09 18:55] dhock194 commented on #529
Ok -- thanks for confirming. I am doing initial testing, just doing browser curls with the exposed endpoints (https://api.planningcenteronline.com/groups/v2/group) and getting 404s for a couple of my accounts. Since you said this is open, I would expect this. Ideas?

[2019-09-09 19:03] bweave commented on #529
@dhock194 To clarify, "open Beta" means there's nothing special you need to sign up for in addition to your Planning Center Groups account. Pulling up endpoints in your browser will only work for the account that you're currently logged in to. I'd recommend giving the [Authentication Docs](https://developer.planning.center/docs/#/introduction/authentication) a read if you haven't already. Creating

[2019-09-09 19:08] dhock194 commented on #529
When I say a couple of my accounts did not work, I mean full authenticated in the browser via my primary church account, my dev test account, and 2 churches I do PCO dev work for. I am pretty aware of the authentication requirements and process. I did this via the browser, but I can also test with one of my 5-6 apps that are known working integration with the PCO api, to see if I get the same resu

[2019-09-11 12:37] jenniferbrogee commented on #666
I've found that there is a "future" parameters option on Event_Instances but not Events. I'm assuming there isn't a way to enter a date range on either API, but wanted to verify?

[2019-09-11 15:13] evangunter opened #668 "Submitting an anonymous donation"
**Related Applications**
Which application(s) is this question related to?
Giving

**Describe the question**
Is there a way to designate a donation as anonymous instead of using a specific personId when posting a donation object?

**What have you tried that worked?**
Haven't tried anything that worked

**What have you tried that didn't work?**
Attempted to post a donation without a personId and go

[2019-09-11 15:19] molawson commented on #668
Hey @evangunter.

Creating a donation without the `person` relationship should create an [anonymous donation](https://developer.planning.center/docs/#/apps/giving/2018-08-01/vertices/donation#relationships).  Can you comment here with the payload (without any private information) that you sent without a person id that resulted in an error?  If you've got the error handy also, that would be helpful

[2019-09-11 15:39] glosie commented on #666
👋 Hi Jennifer,

Assuming we're talking about the Resources API, you're right—there's a `future` filter for the `/event_instances` endpoint but not for `/events`. That's something we can take a look at adding, so I'll forward the request to the team.

In the mean time, it should be possible to query for ranges using the operators found here:
https://developer.planning.center/docs/#/introduction/dat

[2019-09-11 15:39] #666 closed

[2019-09-13 16:42] hambling03 opened #669 "Oauth Error?"
**Related Applications**
Which application(s) is this question related to?
OAuth

**Describe the question**
Creating a simple OAuth post from backend using (javascript) fetch I receive an error and can not figure it out. Help, please!

([{"error":"invalid_request","error_description":"The request is missing a required parameter, includes an unsupported parameter value, or is otherwise malformed."}

[2019-09-13 16:51] bensie commented on #667
Sorry for the confusion @simplepath! We've fixed this in our documentation.

[2019-09-13 17:09] simplepath commented on #667
Thanks much! Have a great day.

Derek Maxson
Front Porch
dmaxson@frontporch.com<mailto:dmaxson@frontporch.com>

Sent from my iPhone

On Sep 13, 2019, at 9:51 AM, James Miller <notifications@github.com<mailto:notifications@github.com>> wrote:

Sorry for the confusion @simplepath<https://github.com/simplepath>! We've fixed this in our documentation.

—
You are receiving this because you were mention

[2019-09-16 20:53] epsso opened #670 "/groups/v2/groups/1/location not returning full_formatted_address"
When requesting a group location via /groups/v2/groups/1/location the string being returned for full_formatted_address is not returning a full formatted address but rather only the city, state zip.

For example, https://api.planningcenteronline.com/groups/v2/groups/xxxxx/location returns

"full_formatted_address": "City Name, State, zipcode"

When it should return

"full_formatted_address":"#### S

[2019-09-17 05:06] dhock194 opened #671 "Check-ins object fails with event_times include"
**Affected Applications**
API

**Describe the bug**
Doing basic pull against Check-ins endpoint. Typically include several other objects, all working. Just added event_times, and generating 500 error
(https://api.planningcenteronline.com/check-ins/v2/check_ins?include=event_times)
-->
{
status: "500",
title: "Internal Server Error",
detail: "An internal server error occurred on our end and we've b

[2019-09-17 15:37] kylemellander commented on #671
@dhock194 Thanks for reporting this error.  We are aware of this issue and it is in our queue to tackle soon.  I'll attach your request to the issue and we will let you know when we have been able to address the issue.

Let me know if you have any questions in the meantime.

[2019-09-17 16:55] dhock194 commented on #671
@kylemellander Thanks! I believe i saw this before and did not report it (just created a workaround for what I needed). Sorry for the delay!

[2019-09-18 17:33] MattTimmons opened #672 "Get Service Type for Plan?"
**Related Applications**
Which application(s) is this question related to?

Services

**Describe the question**
Is there a way to retrieve the service type Id when all you have is the planID?

**What have you tried that worked?**
I do not remember seeing an endpoint..
on the web we can do..
https://services.planningcenteronline.com/plans/43514374.json

Right now on the API.
https://api.planningcen

[2019-09-19 14:43] michaelhvisser opened #673 "FieldDatum Patch Not Found In UI"
**Affected Applications**
People

**Describe the bug**
Hey I’m currently struggling do understand why the field_datum attached to a person is not visible in the UI.

We are using custom tabs to store additional data on classes attended. The UI shows that that date field is empty, for the field we are trying to modify on our custom tab. When I attempt to patch using the ID found within the fieldDat

[2019-09-19 15:02] molawson commented on #668
@evangunter Is this still an issue for you?  Since I haven't heard anything in about a week, I'm going to close the issue, but feel free to reopen it if you need to.

[2019-09-19 15:02] #668 closed

[2019-09-19 16:14] #669 closed

[2019-09-19 16:16] shanebonham commented on #673
Hi @michaelhvisser,

I tried reproducing this problem but was not successful. That is, when I `PATCH` to `https://api.planningcenteronline.com/people/v2/people/{person_id}/field_data/{field_datum_id}`, I immediately get a valid response showing the data changed, and I can also see the change on the person's profile.

Is there more information you can provide?

[2019-09-19 20:21] michaelhvisser commented on #673
So the issue that I submitted this request for no longer seems to be a
problem. The data for many of the records that were not showing data in the
UI, now have the data found via the API request, in the fields in the UI.
So I don’t fully understand why they fields didn’t show the data to begin
with. Do you run some short of batch job on this? I am just trying to make
sure that we dont experience t

[2019-09-19 20:57] shanebonham commented on #673
Hi @michaelhvisser,

There is batching or backgrounding for that request. I'm not sure why you would have seen a delay, but if the issue persists, please reach out again. In the meantime, I'll close this issue.

[2019-09-19 20:57] #673 closed

[2019-09-20 15:30] jbarrieault commented on #672
Hey @MattTimmons, great question.

You can fetch the plan without the Service Type ID by going through the organization (API root) rather than the Service Type. That is, by omitting the `service_types/:id` portion of the endpoint.

If you'd still like the Service Type ID, notice that **A)** it redirects to a URL that includes the Service Type and **B)** the ID is within the response body's `relati

[2019-09-20 15:30] #672 closed

[2019-09-23 12:13] jeremyjcpaul opened #674 "Invalid client error"
**Affected Applications**
authentication via OAuth 2

**Describe the bug**
We have a developer application which connects to accounts but currently we aren't able to authorise/reauthorise clients as the API just returns the invalid_client error ("Client authentication failed due to unknown client, no client authentication included, or unsupported authentication method."). We have followed the inst

[2019-09-23 15:32] kylemellander commented on #671
@dhock194 This issue has been fixed!  Thanks for making us aware of the issue.  Let us know if you have any other comments or questions.

[2019-09-23 15:32] #671 closed

[2019-09-23 15:36] dhock194 commented on #671
Excellent -- thanks!

On Mon, Sep 23, 2019 at 8:32 AM Kyle Mellander <notifications@github.com>
wrote:

[2019-09-23 15:44] bensie commented on #674
@jeremyjcpaul Can you ensure that you're setting `client_id`, `client_secret`, `refresh_token`, and `grant_type` in your request?

[2019-09-23 16:17] jeremyjcpaul commented on #674
@bensie feeling slightly silly, I was sending the client_secret as "secret" rather than "client_secret". Did it used to be simply "secret"?

[2019-09-24 19:10] brettbymaster opened #675 "OAUTH failure for scope=group"
I am trying to access the group api using OAUTH2.  When I set scope=groups, I get an error message when trying to authenticate.  If I pass a request for groups information, I get an error saying I don't have access to groups data.

For example, if I try to set the scope to people (or services or anything else), everything works fine:
https://api.planningcenteronline.com/oauth/authorize?client_id=X

[2019-09-25 00:47] MattTimmons commented on #672
Hi all,
Yes, I can get some info with this but:

`https://api.planningcenteronline.com/services/v2/plans/$planID/items?per_page=100&include=item_notes,arrangement,item_times`

Fails with:

[code]
So I guess I can just work through the redirect.. but it would be nice not to :)

Thanks!

[2019-09-25 19:04] tylerbodway commented on #670
@epsso Every location has a display preference of either `hidden`, `approximate`, or `exact`. In order to respect those privacy settings, if a location has an approximate display preference we only divulge the city, state, and zip. If you would like to capture the address with street information, you would need to update that preference to be `exact`. As far as renaming the attribute, we will defi

[2019-09-25 20:27] timgregoire opened #676 "Giving Patch Requests Scope Limited?"
**Related Applications**
Which application(s) is this question related to?

Giving

**Describe the question**
Using https://api.planningcenteronline.com/giving/v2/donations/<id> to assign labels to donations based on which campus someone attends. Works fine for donations in a batch, but when trying it on donations from the web interface (and from the Planning Center payment source, which I assume

[2019-09-25 21:05] lemgon opened #677 "Add fees, payment method and last 4 to the giving API to better support external donation sources"
**Related Applications**
Which application(s) is this feature related to?
Giving

**Is your feature request related to a problem? Please describe.**
We use Square to take donations on Sundays (for folks that are not comfortable transitioning to Church Center or online giving).  We'd like to be able to import those donations in "fully"; meaning capturing information that right now isn't possible vi

[2019-09-25 21:15] jeremyricketts commented on #677
Thanks for the feature request!

Just for clarification, I think you can pass the payment `method_type` and `last4` to Giving in the API on the [payment method](https://developer.planning.center/docs/#/apps/giving/2018-08-01/vertices/payment_method). Let us know if you mean something different.

As far as tracking the processing fee in a donation from an external payment source, you're right – it'

[2019-09-25 23:26] danielma commented on #676
:wave: hi @timgregoire

You've got it right, the API does not allow any updates to donations that use the `Planning Center` payment source.

For clarity's sake, this first version of the API was aimed primarily at importing tools, and that resulted in tightly scoped rules.

With that said, we appreciate this feature request. I'll bring it back to the team and we'll update this issue with any news.

[2019-09-25 23:26] #676 closed

[2019-09-25 23:36] tylerbodway commented on #675
@brettbymaster Thanks for letting us know! ‘groups’ is now available as a scope. Are you still receiving that error?

[2019-09-25 23:54] brettbymaster commented on #675
It is now fixed.  Thanks for the quick reply & fix!!

[2019-09-25 23:55] #675 closed

[2019-09-26 20:01] bjohnston-paperless opened #678 "Error (422) unprocessable Entity"
**Related Applications**
Which application(s) is this question related to?
Giving

**Describe the question**
We have a developer application for importing batches from our check scanning software into Planning Center. When we try and push in a barch this is what we are receiving back.

9/19/2019 6:09:57 PM:40: {"data":{"type":"Batch","id":"40","attributes":{"committed_at":null,"created_at":"2019-0

[2019-09-26 20:13] molawson commented on #678
Hey @bjohnston-paperless!

Thanks for all the detail.  That helped a lot.  It looks like the donation your integration tried to create is using a `PaymentSource` (ID: 2966) that does not belong to the organization the organization you're making requests on behalf of (ID: 31825).

Those `PaymentSource`s are unique to each organization, so you'll want to use an ID from the `https://api.planningcente

[2019-09-26 20:13] #678 closed

[2019-09-26 21:09] molawson commented on #677
Hey @lemgon!

I did a little more digging and it looks like we already have the ability to pass all of the data you're wanting to store in Giving.  You should be able to create donations and update existing donations (provided they have a `payment_source` other than `planning_center`) via the API with all of the following fields:

- `payment_method`
- `payment_method_sub`
- `payment_last4`
- `paym

[2019-09-26 21:09] #677 closed

[2019-09-30 13:16] jbarrieault commented on #672
@MattTimmons good news! We've resolved this limitation.

You are now able to hit any path nested under `/plans/:id` directly, without being nested within `service_types/:id`.

Thanks for pointing the issue out.

Happy Monday 🎉

[2019-10-02 15:27] JonSeale opened #679 "Groups API - Group Type"
**Affected Applications**
Groups API

**Describe the bug**
API does not expose the Group Type in the Group Object, therefore there's no way to know the group type from the data.

**Context (please complete the following information):**
- Endpoint: [e.g. API endpoint I'm using]
https://api.planningcenteronline.com/groups/v2/groups

**Additional context**

[2019-10-02 18:08] bweave commented on #679
Hi @JonSeale, thanks for reaching out. The GroupType ID should now be available for you under a Group's "relationships" key. Enjoy!

[2019-10-02 18:08] #679 closed

[2019-10-02 19:02] reneesubsplash opened #680 "403 Forbidden on /giving/v2/batches request..."
**Related Applications**
Which application(s) is this question related to?
Giving (batches)

**Describe the question**
I work for Subsplash and we offer integration with planning center online. I have a client now that is getting back the following status when trying to access batches:

https://api.planningcenteronline.com/giving/v2/batches?offset=0&per_page=100

HTTP403 - Unauthorized for an edit

[2019-10-02 22:28] danielma commented on #680
👋hi @reneesubsplash

If you're seeing a 403 for a request like that, it probably means the access token you're attempting to use was revoked, deleted, or no longer has access to this resource. This could happen if the end user revoked the token directly, if the user who completed the OAuth flow with your application no longer has access to Planning Center Giving, or if that user was deleted from t

[2019-10-02 22:28] #680 closed

[2019-10-03 15:22] michaelhvisser opened #681 "Services - Team Position Tag ID's"
**Related Applications**
Services

**Is your feature request related to a problem? Please describe.**
When using the API team position tags do not appear to have an ID. We get a string that is denoted as name. Would this be something you can add to the API?

**Describe the solution you'd like**
Team position tag id added to the services/v2/teams/{team_id}/team_positions object.

**Describe alterna

[2019-10-03 19:45] bperry11 opened #682 "Query Giving -> funds by "Visibilty""
**Related Applications**
Giving

**Is your feature request related to a problem? Please describe.**
Just running into a situation where'd I'd like to be able to fetch our "hidden" funds specifically.

**Describe the solution you'd like**
Add 'visibilty' to the query_by ability of funds

[2019-10-03 21:49] MattTimmons commented on #672
Thank you!!

[2019-10-03 22:20] molawson commented on #682
Hey @bperry11.

Thanks for writing in with the feature request.  I think that use-case makes a ton of sense.  I'll bring this back to our team and I'll update this issue with any further developments.

For now, I'm going to close this issue, but feel free to respond if you have any other comments/questions about this feature and I'll see them.

[2019-10-03 22:20] #682 closed

[2019-10-04 13:48] lemgon commented on #677
Thanks.  I was able to pass all of those parameters via the API, even though some of them are not available via the UI.  A third party import tool we were assessing didn't handle those fields adding to the further confusion.  I appreciate the prompt responses though; it helped me get back on track and we've successfully imported our square data.  It's not pretty (I'm not a developer per se), but I

[2019-10-04 15:23] michaelhvisser opened #683 "Marital Status - Cannot be updated for a person"
**Affected Applications**
People

**Describe the bug**
We are attempting to update the marital status of a person via the API. The documentation shows we can create new status's but doesn't show how to update the person.

**To Reproduce**
Steps to reproduce the behavior:
Attempted a post and a patch request

**Expected behavior**
To be able to update the person object to have a new martial status.

[2019-10-04 20:59] molawson commented on #677
I'm glad that's working out well for you @lemgon!  If you hit any other rough spots or have any more questions, feel free to open another issue.

[2019-10-10 22:54] geolessel commented on #683
@michaelhvisser You can simply pass in a `marital_status_id` attribute along with your person.

[code]

Our documentation is auto-generated based on how we have our endpoints configured and it _should_ have picked that up as well. I'll look into why it did not.

[2019-10-10 22:54] #683 closed

[2019-10-11 20:31] CWebster-mbts opened #684 "API Posts Forbidden on Resources"
**Related Applications**
Which application(s) is this question related to?
Resources

**Describe the question**
I am working to develop an integration with the Resources Application. The end goal will be to sync users over to Resources automatically. We just want to get them over with a first name, last name, and email.

My account is an organizational administrator for Planning Center. I am using

[2019-10-15 10:45] ascoarchitect opened #685 "Connect Lambda to API using Python"
Which application(s) is this question related to?
People

I'm trying to create a Lambda function in AWS to connect into the PCO API, but am not sure how to format the authentication app_id and secret. Please could you advise on the best approach and limitations of what can be done using this method.

[2019-10-15 15:41] awortham commented on #681
Good morning @michaelhvisser, unfortunately this would require restructuring how this data is accessed in our API, which would in turn make each of our apps that are already using this endpoint change how they are accessing these tags. I've discussed amongst the team here and this is something that we have agreed not to tackle at this time.

Please let me know if you have any other questions.

[2019-10-15 15:41] #681 closed

[2019-10-15 15:52] bensie commented on #685
@ascoarchitect If your Lambda function is always performing operations as a single user, you probably want to use a [personal access token](https://developer.planning.center/docs/#/introduction/authentication). You'll want to configure HTTP Basic auth in your Python code and set the `app_id` as the username and `secret` as the password. Hope that helps!

[2019-10-15 16:25] glosie commented on #684
👋 Hi @CWebster-mbts!

The Resources API is currently read-only, which explains the 403 error on `POST`. While I don't have a timeline, this _is_ something we're interested in opening up in the future, and knowing about your use case is helpful as we prioritize endpoints to enable writes for.

I'm closing this issue, but if you have additional details that you think might be helpful, feel free to i

[2019-10-15 16:25] #684 closed

[2019-10-15 17:10] ascoarchitect commented on #685
Thanks so much James,

I’ll have two functions; one which will be performed by a single account, but the second will be designed to allow people to register their account and use their Alexa to run queries against records in PCO that they’re allowed access to, in addition to being able to update their profile details. It’s this function which I’m interested in getting an idea on how to approach fr

[2019-10-15 18:16] CWebster-mbts commented on #684
Greg,

Thank you for the response. Does the Resources application support any other way to sync data over, such as a bulk upload?

Christopher Webster
MBTS

From: Greg Losie <notifications@github.com>
Sent: Tuesday, October 15, 2019 11:25 AM
To: planningcenter/developers <developers@noreply.github.com>
Cc: Christopher C. Webster <CWebster@mbts.edu>; Mention <mention@noreply.github.com>
Subject: Re

[2019-10-15 19:08] bensie commented on #685
@ascoarchitect The fact that it's running on Lambda / API GW is an implementation detail - you'll need to handle the OAuth flow so you can get access tokens for users authorizing your app, store them somewhere, then make API calls to our applications as-needed. I can't provide general guidance on getting up and running with OAuth, but feel free to drop any PCO specific questions here!

[2019-10-15 19:08] #685 closed

[2019-10-15 21:17] thepoetic opened #686 "Looking for CCLI Reporting for songs in PCO Services API"
I'm having trouble finding where the CCLI reporting per-song numbers (i.e. Print, Digital, Recording and Translation numbers) are located in the API - I'm trying to write a script that will update the numbers for me based on the service type, but I'm not having luck getting those particular parameters (either by song, by plan item, or anywhere else I can find). They don't appear to be documented -

[2019-10-16 15:22] ReaganHelms commented on #686
@thepoetic sorry, but those fields aren't available through the API, which is why you're not finding documentation for them. If you need access to the information recorded there, it's available through our **CCLI Copy Activity** report at the top right of your Songs page.

[2019-10-16 19:30] craigwi opened #687 "Rooms in a reservation block may be marked primary, but that fact is not in the API"
**Affected Applications**
Resources

**Describe the bug**
A room in a reservation block may be marked primary.  This information is not in the API.

**To Reproduce**
For example, this reservation block: https://resources.planningcenteronline.com/event_templates/3727373 has four rooms, only one of which is primary.

I cannot see a property or field which indicates that.

**Expected behavior**
A boo

[2019-10-16 23:11] glosie commented on #687
Hi Craig,

Thanks for the feature request. This use case makes sense to me and I've added it to our board to track internally. We'll keep this issue updated as we release any API updates.

I'm closing the issue, but feel free to add any additional comments/information you think might be helpful and I'll seem them.

[2019-10-16 23:11] #687 closed

[2019-10-16 23:13] glosie commented on #684
@CWebster-mbts Sorry, unfortunately not at this time.

[2019-10-17 02:49] craigwi commented on #687
I see this more as a bug than a feature, but in any case I hope it is simple to implement and gets released soon!

[2019-10-24 15:05] shanebonham commented on #651
Hi @trouttdev!

We just released a change that will cause `relationships` to appear in `*.destroyed` webhooks. Please let us know if you have any other questions about this.

[2019-10-24 22:00] azturner opened #688 "Best way to Get Last Scheduled Date"
**Related Applications**
Which application(s) is this question related to?  Services

**Describe the question**
We've written an integration between Rock and Planning Center that syncs demographic data. One of our users has asked if we could pull the date that person was last scheduled when we sync their information from Planning Center. I've looked through the Services API, but it's not obvious t

[2019-10-28 22:54] phelmscc opened #689 "Check-in station not appearing in API"
Which application(s) is this question related to?

**Describe the question**
Hello!  We do API monitoring with our NMS against the station ID to determine when a checkin iPad is online.  We had to reprovision a station on Friday to clear up an issue on an iPad. The station was deleted and readded with the same name, however I'm not able to find the new checkin station in the API list.  I can see o

[2019-10-30 16:18] craigwi opened #690 "Request: increase API throughput"
**Related Applications**
Resources

**Describe the question**
We were told by support to post this request here.  I request an increase in the API throughput for PCO Resources from the default 100 per 20 seconds to at least 500 per 20 seconds.

Thanks!

**Additional context**
Org O3845
User P37584702

## I have..

- [x] Reviewed the documentation found at https://developer.planning.center/docs
- [

[2019-10-30 18:44] craigwi commented on #690
We use Resources as our master calendar.  Before I publish the calendar I need to transform it to upload to our website.  Once an hour I process changes.  As part of that processing I need to load all events and related records for the time period processed (1 year).  My current algorithm runs in a about 3.5 minutes with the current 100 / 20s threshold.

I am trying to workaround to a bug (or miss

[2019-10-30 19:05] bensie commented on #690
Thanks for the details @craigwi. As Greg mentioned in the other thread, it's on their radar to look into adding the primary room, but I can't provide any details as to when that will be available. Until then, you'll need to continue making requests within your current limits - it may just take a bit longer than you'd like for the script to complete.

[2019-10-30 19:05] #690 closed

[2019-10-30 19:46] craigwi commented on #690
How about a temporary increase in the throughput until the other request is addressed?

[2019-10-31 00:18] phelmscc commented on #689
An update: Learned the API list is paginated and we just needed to increase the view to 100 to get what we were missing.  Thanks!

[2019-10-31 00:18] #689 closed

[2019-10-31 16:45] bensie commented on #690
Sorry @craigwi, we're not able to raise these limits for you. We will post in #687 if/when there are updates.

[2019-11-03 19:34] emersonian opened #691 "API Rate Limit Increase"
Hi, is there any way we can have our API rate limits increased?

The current limit of 100 calls per period is causing a lot of errors in production as our church grows, eating our volunteer software team's hours. Increasing our API limits to 500, or even 200 would be a big help to buy us time for refactoring.

Please contact me privately ([redacted]) for our organization name and key information.

[2019-11-04 16:40] maddiesch commented on #691
@emersonian Our rate limits are not something we are currently planning on changing, and we don't provide per-application rate limit modifications. You can make use of includes for many API endpoints to cut down on the number of calls required to load sub-data for a resource. If you are still running into rate limit issues, you can use the [headers described in the docs](https://developer.planning

[2019-11-04 16:40] #691 closed

[2019-11-05 17:39] alexclowe opened #692 "Object relationships"
I'm working with my church and they have two PCO accounts. One they created a long time ago for the worship ministry and a more recent one for the newer PCO services. Naturally, they want to be on one account so we've been researching what migration would look like. I've done a bit of work and can migrate some pieces with a migration application I've written. However, there is no simple way to see

[2019-11-06 00:33] ReaganHelms commented on #692
@alexclowe got your support email too! I'll answer you there.

[2019-11-06 00:34] #692 closed

[2019-11-06 17:18] craigwi commented on #687
It appears that you added 'location' to the EventInstance.  Can you confirm that the feature described in https://pcoresources.zendesk.com/hc/en-us/articles/360038427253-New-Add-Locations-to-Events maps to the location in EventInstance?

If so, that will serve my needs; thanks!

[2019-11-06 17:28] glosie commented on #687
The update notes beat me to it! 😆

Yes, we've just added a `location` attribute to the `EventInstance` endpoint and its value maps to its Reservation Block's location. The request evolved a bit once the team got thinking about it, so I'm glad to hear it's helpful for your use case!

[2019-11-08 16:49] jbarrieault commented on #688
Hey, @azturner.

The good news is that you _can_ access this data using our API!

The bad news is that the API is not optimized for this specific data-point, so getting it requires a well-crafted query and a little processing of the response. Which probably contributed to your struggling to find a solution by reading the docs (thank you for trying).

To get the service time of the most recent plan

[2019-11-08 16:49] #688 closed

[2019-11-12 04:40] bergernetch opened #693 "Confusion about tab data per person"
**Related Applications**
Which application(s) is this question related to?
People

**Describe the question**
I am trying to get the activated check boxes for a person which are made under a custom tab.

**What have you tried that worked?**
Well, at least OAuth2 works :-D

**What have you tried that didn't work?**
I tried many api calls but I am confused.

e.g. This call gives me the activated boxe

[2019-11-12 16:16] shanebonham commented on #693
Hi @bergernetch!

What you probably want to do is something like `https://api.planningcenteronline.com/people/v2/people/AAA/field_data?where[field_definition_id]=ZZZ` where `AAA` is the `person_id` and `ZZZ` is the `field_definition_id`. That will return `FieldDatum` resources; typically just one, but for checkboxes, one for each checked option.

I'm going to close this issue, but please respond b

[2019-11-12 16:54] bergernetch commented on #693
This works, thanks for clearing up the confusion.

[2019-11-14 15:25] bittercoder opened #694 "400 errors when retrieving people (GET)"
**Affected Applications**
Which app(s) does this bug affect?

PCO people API

**Describe the bug**

Since 11th Nov, we have had persistent failures for all requests to the endpoint
https://api.planningcenteronline.com/people/v2/people?where[...

This is affecting the Pushpay integration for all our clients, and is a blocker for us right now.

Specifically these requests take a while to respond and

[2019-11-14 16:46] shanebonham commented on #694
Hi @bittercoder!

We're looking into this, but I'm wondering if you can provide the request ID from a failed request.

[2019-11-14 18:17] bittercoder commented on #694
Hi Shane,

In digging into our logs It actually looks like these requests may have been timing out or something similar - in that the content length of the response is 0 and does not contain any headers.

I could pass through a sample of the requests (Their all GET requests with query parameter such as email address or phone number that should allow you to locate them in logs) - but I wouldn't fee

[2019-11-14 18:20] bittercoder commented on #694
Here is an example of the queries we have been sending that are not getting a response (name or email value omitted due to PII)

https://api.planningcenteronline.com/people/v2/people?where[search_name_or_email]=********&include=addresses,emails,phone_numbers

In the 10th Nov PST period there was 53,193 requests that failed to return a response in this manner.

[2019-11-14 18:25] tylerbodway commented on #670
Closing this due to inactivity, feel free to open another issue if there are any other questions.

[2019-11-14 18:25] #670 closed

[2019-11-14 20:18] sebfort commented on #694
Hi Shane,
We have some `X-Request-Id` you asked @bittercoder for. We can provide thousands more if needed.

`e355a6d0-adec-43b1-8390-32b5200adb6f`
`ab409fce-9829-4ffd-87ac-af32f7a3d3f5`
`cb1fb3bd-5329-467d-a066-914946048129`

Cheers,
Seb

[2019-11-14 21:02] shanebonham commented on #694
Hi @sebfort,

The response status for each of those requests appears to be `401`, implying an unauthorized request. Is that the response code you are receiving as well? Do you have request IDs for any of the `400` responses that @bittercoder mentioned?

[2019-11-14 21:20] sebfort commented on #694
I think there is a bit of confusion that sneaked in here. There error codes we are observing are 401 and not 400s. The mentioned 400 error must have been a typo, sorry for this.

Requests with url that starts with
`https://api.planningcenteronline.com/people/v2/people?where[`
are failing with 401.

Requests with url
`https://api.planningcenteronline.com/people/v2/name_prefixes`
for the same accoun

[2019-11-14 21:37] mcfadden commented on #694
Hi @sebfort, can you provide the error message that was returned in the response body for some of the 401 requests? We can get some more specific information on what is causing the 401 from that.

[2019-11-14 23:21] sebfort commented on #694
Hi @mcfadden,
We are receiving responses with a content as below:
[code]

[2019-11-14 23:34] mcfadden commented on #694
Thanks! That’s super helpful.

That error means the OAuth access token has been revoked or expired.

Is it possible that you’re using a different token when getting a 401 than the token used when getting a 200?

[2019-11-15 00:54] sebfort commented on #694
We are having hundreds of customers and each of them use different refresh token and therefore different access token. Once we obtain an access token for a specific customer we keep it for reuse across all consecutive request, until is expired.
Once we get 401 from the API we are asking for a new access token and retrying the original operation.
The problem we are having affects our entire base of

[2019-11-15 01:34] mcfadden commented on #694
Thanks for the additional info!

 I don’t see any changes to our Auth code, or anything about that endpoint, around the 11th or the few days prior. We’ll keep investigating from our end, however we’re all off now until next week so it will take some time.

If you’d like to keep looking from your side, the 401, and the BABOON error specifically, infers that there is a problem with the token being s

[2019-11-16 19:09] zerbzman opened #695 "ItemTimes in Services"
**Related Applications**
Which application(s) is this question related to?
Services/Live

**Describe the question**
Why are there multiple itemTimes for some items in a plan_time? Why wouldn't there be just one itemTime for each item per plan_time?
### Example
3 services
* first item has 5 itemTimes
* second item has 6 itemTimes
* third item has 3 itemTimes

Thanks!
**What have you tried that work

[2019-11-18 13:35] dobrite commented on #686
@thepoetic I'm happy to report that we have added these numbers to the API. Documentation is [here](https://developer.planning.center/docs/#/apps/services/2018-08-01/vertices/ccli_reporting) and a nice way to get at these is through an `Item` in a `Plan`, like so:

`https://api.planningcenteronline.com/services/v2/service_types/<service_type_id>/plans/<plan_id>/items/<item_id>/ccli_reporting`

I'm

[2019-11-18 13:35] #686 closed

[2019-11-19 13:18] jedmartin93 commented on #691
I would like to add to this... Churches like North Point have a huge system in place which takes forever to be able to pull their data. Basically in our use we make a call to get all the folders & services... However for each service type we need to get the plans which require an API call per service. So in total to get all of their plans without the items within the plans that around 500-600 API

[2019-11-20 13:54] jbarrieault commented on #691
Hey, @jedmartin93.

While I don't know the specifics of your use case, I have a few suggestions that may help reduce the amount of API calls you're making.

- **Increase the page size.** This is done using the `per_page` param (max 100). i.e. `per_page=100`. Keep in mind that depending on the resouce, this may increase the response time noticeably.

- **Include associated records.** Some endpoints

[2019-11-20 14:09] jedmartin93 commented on #691
Yeah we do the first 3 options already... North Point Ministries is really just a beast of an organization. Should I make a feature request to include plans with services types? API V1 that issue wasn't present.

[2019-11-20 15:21] mcfadden commented on #691
Hi @jedmartin93,

I'll pass on your feature request for adding `plans` to the `include` option for service types. However, I'd like to at least mention that I think it's unlikely we will end up adding that. There are substantial performance implications surrounding that due to the number of plans that a single service type can contain.

All that said, I'd love to know a bit more about what it is y

[2019-11-21 16:58] nfedin20 opened #696 "Groups API => Events Attendances missing self link"
**Affected Applications**
Groups API => Events Attendances

**Describe the bug**
Groups API call to Event Attendance endpoint returns a data set that does not have a reference to self in links collection.

*PLEASE DO NOT INCLUDE YOUR CLIENT ID, APPLICATION ID, OR SECRET IN THIS ISSUE. WE WILL REVOKE YOUR TOKEN IF YOU DO.*

**To Reproduce**
Steps to reproduce the behavior:
1. Use API Explorer and e

[2019-11-21 18:03] bweave commented on #696
@nfedin20 thanks for reaching out. I wasn't able to reproduce what you're describing. When I use the API Explorer, this is what I'm seeing. Also, just to clarify, you're referencing the API Explorer here right? https://api.planningcenteronline.com/explorer

<img width="1329" alt="Screen Shot 2019-11-21 at 1 01 30 PM" src="https://user-images.githubusercontent.com/6437945/69363819-25926900-0c5f-11e

[2019-11-21 18:14] nfedin20 commented on #696
OK, I guess I didn't explain fully, my fault.  Find an event with attendees and drill down into the data collection.  The links collection in each data element is missing the self link

![groups_api](https://user-images.githubusercontent.com/58044491/69364755-e238fa00-0c60-11ea-805f-8b7fc898c859.jpg)

[2019-11-21 18:28] bweave commented on #696
@nfedin20 ahh, I see what you're talking about now. At the moment, since Groups API is read only, we're only exposing the collection of attendances for an event. I'm sure we'll revisit this as we begin working towards making things writable in the future. I don't have a timeline for that work at the moment, but if you could give us some details on your use case that could be helpful in our decisio

[2019-11-21 18:39] nfedin20 commented on #696
I am only reading data from the API.  I am writing python code and using Bill Deitrick's PyPCO module from GitHub.  https://github.com/billdeitrick/pypco  The code dynamically creates the python objects.  During the creation of the objects, the code references the "self" link to verify the correct object layout.

Exposing the "self" link for the attendances would seem be the standard layout.  Look

[2019-11-21 20:58] bweave commented on #696
@nfedin20 Gotcha. It sounds like PyPCO needs to account for collection-only endpoints. Nearly all of our APIs have them. I'm going to close this for now, but feel free to comment if something more comes up.

[2019-11-21 20:58] #696 closed

[2019-11-26 04:57] evangunter opened #697 "Posting the following request works in Giving 2018-08-01 but not 2019-10-18"
Posting to the following endpoint with the following body works in 2018-08-01, but not 2019-10-18

endpoint: https://api.planningcenteronline.com/giving/v2/payment_sources
Body: { "data": { "type": "PaymentSource", "attributes":  { "name": "Roll Call" } } }

Adding the Header - [key: X-PCO-API-Version] [value: 2019-10-18] returns a 403
Adding the Header - [key: X-PCO-API-Version] [value: 2018-08-0

[2019-11-26 15:53] wassimk commented on #697
👋 hello @evangunter

I see the problem and have added this to our queue to fix, soon. I'll attach your request to the issue, and we will let you know when we have addressed the issue.

Let me know if you have any questions in the meantime.

[2019-11-26 19:57] jbarrieault commented on #695
Hey, @zerbzman. Let's see if we can clear things up. 🙂

An `ItemTime` is a container for recording the live duration of a single `PlanItem` as it occurred in a single service (`PlanTime`).

`PlanTime` and `Item` both have a one-to-many association with `ItemTime`. That is, a `PlanTime` may have an associated `ItemTime` for each `Item` in the plan. Likewise, an `Item` may have an `ItemTime` for eac

[2019-11-26 19:57] #695 closed

[2019-11-27 02:17] zerbzman commented on #695
Ahh ok. So my example shouldn't occur?

Here is an actual example of multiple ItemTimes per Item/PlanTime.

`{"type":"ItemTime","id":"115704263","attributes":{"exclude":false,"length_offset":0,"live_end_at":null,"live_start_at":null},"relationships":{"item":{"data":{"type":"Item","id":"558693098"}},"plan_time":{"data":{"type":"PlanTime","id":"99554076"}},"plan":{"data":{"type":"Plan","id":"4124796

[2019-11-27 13:55] jbarrieault commented on #695
Well, that indeed should not have occurred. 😅

It appears a race-condition allowed for the creation of some duplicate `ItemTime` data for that Plan. On the bright side, we've cleaned up the errant (blank duplicate) records so you should be in the clear now. Fortunately the issue does not appear to be widespread throughout your organization.

Sorry about that.

[2019-11-27 14:04] wassimk commented on #697
The issue with creating payment sources in the new API version has been resolved, @evangunter. I appreciate you bringing it to our attention.

Have a great day!

[2019-11-27 14:04] #697 closed

[2019-11-27 14:57] zerbzman commented on #695
Thanks!

[2019-12-04 20:22] danielpalma-lw opened #698 "Question: More than one application."
If I add another application to the callback dashboard, does it REPLACE the application I have there now?  Or will it be an additional application?

[2019-12-04 20:28] mcfadden commented on #698
@danielpalma-lw What page do you mean by "callback dashboard"? Are you referring to this page: https://api.planningcenteronline.com/oauth/applications/

[2019-12-04 20:40] danielpalma-lw commented on #698
Ben,

Yes.  I'm sorry I wasn't clear.  That's the page.

Thank you,
Daniel Palma

[2019-12-04 20:43] mcfadden commented on #698
@danielpalma-lw The `New Application` button there will allow you to create an additional application. It won't replace any existing applications you have.

[2019-12-04 20:43] #698 closed

[2019-12-04 20:44] danielpalma-lw commented on #698
Ben,

Perfect!

Thank you,
Daniel Palma

[2019-12-05 15:38] danielpalma-lw opened #699 "QUESTION: SAME application but different domain name"
**Related Applications**
Which application(s) is this question related to?

OAuth

**Describe the question**
I asked a question yesterday about adding a developer OAuth application - if it would replace the existing one.  Well, that wasn't entirely accurate.  We actually are changing the domain name of our CURRENT application, so I needed to register the new name with a new callback - but it is th

[2019-12-05 20:42] mcfadden commented on #699
@danielpalma-lw Access Tokens and Refresh Tokens are specific to the Application. If you Create a new application with a new key and secret you will need to get new Access Tokens for the users. That means the users will need to authorize your new app.

However, you can have multiple authorized callback URLs per Application. You can [edit your existing application](https://api.planningcenteronline.

[2019-12-05 20:58] danielpalma-lw commented on #699
@mcfadden That's great!  So, I can add an ADDITIONAL domain?  It won't replace the existing one?  And an ADDITIONAL path as a permitted callback URL?  I could do that today, then change the redirect URL tomorrow morning before I restart the application?  And then the users WON'T have to reauthorize?

Thank you,
Daniel Palma

[2019-12-05 21:03] danielpalma-lw commented on #699
@mcfadden Okay - I just looked at the application registration page.  I can have only ONE domain, but I can have multiple callbacks.  So, I need to change the domain and add the call back.  But when I save the new domain, how does that affect my PCO/Application relationship?  Will it invalidate the current domain?  Thus, requiring for me to do it at the time of the application restart?  Or could I

[2019-12-09 21:17] mcfadden commented on #699
@danielpalma-lw Assuming you shipped your change before the weekend, this isn't relevant anymore.

<img width="829" alt="image" src="https://user-images.githubusercontent.com/1106039/70473009-2c620e00-1a9e-11ea-9df8-d3297b41e678.png">

However, assuming you mean the `URL` field when you say Domain, that field is a URL that people who are connecting with your app can visit to learn a bit more about

[2019-12-09 21:17] #699 closed

[2019-12-09 21:24] mcfadden commented on #694
@sebfort @bittercoder   We investigated this from our end from several angles and never were able to reproduce the problems you described.

Since I haven't heard anything on this for a while so I'm going to close it. If you're still having problems here feel free to respond and we will reopen it.

[2019-12-09 21:24] #694 closed

[2019-12-09 21:40] mcfadden commented on #674
@jeremyjcpaul It appears that we were errantly checking `secret` _and_ `client_secret`, and allowing either parameter name. An update to some things unexpectedly changed this. We also had a period of time where our documentation was wrong on the field name, which likely contributed to this problem.

[2019-12-09 21:40] #674 closed

[2019-12-10 13:00] danielpalma-lw commented on #699
@mcfadden Hey - thank you for this follow-up!  Yeah - All I did was replace my https://www.lifewayworship.com with https://worship.lifeway.com and then in the callback textarea, I just put https://worship.lifeway.com/oath/callback.  It worked perfectly as you said.  No one needed any refresh token renewals.  All good.  Thanks!

[2019-12-10 17:41] chadlamson opened #700 "Groups API Feature Request"
In the Groups API, can the 'Meeting Schedule' be added to the response data? This is just a standard text field set in PC for each group, and would be super helpful to have access to in the API.

[2019-12-10 20:38] bweave commented on #700
Hi @chadlamson, thanks for reaching out! I've added the meeting schedule attribute to groups. Hope that helps!

[2019-12-10 20:38] #700 closed

[2019-12-10 20:48] chadlamson commented on #700
Amazing! Thank you.

[2019-12-10 21:05] chadlamson opened #701 "Groups API Feature Request (Another)"
On the Groups API, can you include the group type _name_ for each group from the https://api.planningcenteronline.com/groups/v2/groups endpoint?

Currently, it shows the ID for the GroupType, but to get the name I have to make new requests for each group type to show the actual name.

Thank you for the amazing support you guys provide!

[2019-12-12 01:59] SFG-jgulbronson opened #702 "Posting a Donation to Giving API - 500 response returned"
**Affected Applications**
Which app(s) does this bug affect?
Giving

**Describe the bug**
Provide a clear and concise description of the bug. If it is something that was previously working and suddenly broke your application, please let us know.
I have never used this API before, so it has never worked.  When I post a donation, it returns a 500, with nothing helpful to describe what the issue may

[2019-12-12 04:24] SFG-jgulbronson commented on #702
Sorry, wrong attachment originally.  This is the one I was attempting.

[givingcenterposts.txt](https://github.com/planningcenter/developers/files/3953802/givingcenterposts.txt)

[2019-12-13 00:32] PaulElrich opened #703 "Pushing Submissions via API"
**Related Applications**
Which application(s) is this question related to?
 People

**Describe the question**
I'm hoping to add form submissions natively through my site without using your iFrame solution. I can't find any documentation for pushing submissions from a 3rd party app to planning center. I see that earlier this year there was a feature request for this that was denied, but [this featu

[2019-12-16 02:34] javb99 opened #704 "Query By on services/v2/people Missing Documentation"
**Affected Applications**
Services

**Describe the bug**
The [documentation](https://developer.planning.center/docs/#/apps/services/2018-11-01/vertices/person) of the `services/v2/people` endpoint does not list all the queryable fields that are present when using the API Explorer.

**Expected behavior**
I would expect the documentation to match the API Explorer and list the following fields:
`"can

[2019-12-16 17:31] SFG-jgulbronson commented on #702
I need to get an answer to this soon.  We have converted to Planning Center, but need to input all records from prior system for tax statement purposes.  Please advise on how to get a response to the issue.

[2019-12-16 19:36] cmoel commented on #701
Hi @chadlamson.

Our API conforms to the [JSON API](https://jsonapi.org/format) spec, which defines what fields which can include for a given resource. So while we can't add an ad-hoc field like `group_type_name` to the `attributes` for a group, we can add it as an [included resource](https://jsonapi.org/format/#fetching-includes).

I recently deployed an update to our `groups` endpoint so you can

[2019-12-16 19:38] #701 closed

[2019-12-16 20:54] wassimk commented on #702
👋 @SFG-jgulbronson, can you try posting the same payload to the specific endpoint for the batch without the `Batch` relationship in it? In this case post it to:

api.planningcenteronline.com/giving/v2/batches/25/donations

You should then get more helpful error messages to keep going. You can see more about creating donations, including the assignable attributes, and the create endpoint at https:/

[2019-12-16 23:08] SFG-jgulbronson commented on #702
I had started with this documentation, though admittedly I was not using the endpoint you referred me to here.

I have made the adjustments to both the endpoint and payload, as suggested.  Still, I get the unhelpful HTTP 500 response, with no details to provide clues about what might be going wrong.

What’s next?

From: Wassim Metallaoui <notifications@github.com>
Sent: Monday, December 16, 2019 2

[2019-12-16 23:47] wassimk commented on #702
I found the errors in our logs for this. It looks like the payload is not formatted correctly.

Here is a cURL command with all the same attributes that you are using. You can swap out your authentication and specific data points. Can you use this as a reference and let me know if there are any other issues?

We also made an internal ticket to try and improve the error response in this specific sc

[2019-12-17 00:27] shanebonham commented on #703
Hi @PaulElrich,

Thanks for the feature request. We don't currently have plans to implement this, but we've noted your request for further consideration.

The integration you linked to appears to offer 2-way syncing between their platform and Planning Center, which can be accomplished already with the API. It just isn't possible to generate form submissions.

I'm going to close this issue, but ple

[2019-12-17 00:27] #703 closed

[2019-12-28 03:35] pastorhudson opened #705 "Custom Reports in Services API"
**Related Applications**
Services

**Is your feature request related to a problem? Please describe.**
I've built [a site for sharing Planning Center Custom Reports](https://pcochef.com). Custom reports are a complicated part of Planning Center. I have sharing and one click import of People reports working. I would like to add Services reports but was surprised to find https://api.planningcenteronl

[2020-01-03 19:02] sophieroos opened #706 "Is there a way to get only the confirmed teammembers for one or multiple services?"
I'd like to get all scheduled people for a service. I use this `https://api.planningcenteronline.com/services/v2/service_types/x/plans/x/team_members` to get it, but I'm still looking for a way to only get the people that confirmed.

Actually the most perfect way for me is to get _all_ the upcoming services with the planned/confirmed people, but I didn't came closer than `https://api.planningcente

[2020-01-05 21:57] rohanmclure opened #707 "500 response creating user with Post to People"
**Related Applications**
People

**Describe the question**
Trying to invoke the 'Creating' method via a POST with respect to this documentation:
https://developer.planning.center/docs/#/apps/people/2019-10-10/vertices/person

Intend to generate a new user of People as a new contact (they don't need login credentials).

**What have you tried that didn't work?**
Using Basic HTTP authentication (link

[2020-01-06 13:58] jbarrieault commented on #706
@sophieroos thanks for opening.

You are correct that there was no way to query specifically for _confirmed_ people scheduled to a service. But good news! We added a `confirmed` filter to Team Members:

`/services/v2/service_types/x/plans/x/team_members?filter=confirmed`

Cheers.

p.s. In the future, please use one of our issue templates. They help us classify and respond to issues more efficientl

[2020-01-06 13:58] #706 closed

[2020-01-06 15:23] jbarrieault commented on #704
Good catch, @javb99.

This discrepancy is due to our API documentation generator omitting "Query By" options that aren't named after an attribute. We've added this issue to our backlog, although we offer no promise regarding if/when it will be fixed.

Thanks!

[2020-01-06 15:23] #704 closed

[2020-01-06 16:15] shanebonham commented on #707
Hi @rohanmclure,

It looks like the issue here is that everything needs to be inside of a `data` object: https://developer.planning.center/docs/#/introduction/json-api

A payload like this should work:

[code]

Sorry about the error message. It should definitely be more clear and we'll get that fixed up. I'm going to close this issue, but please comment if you have any other questions.

[2020-01-06 16:15] #707 closed

[2020-01-06 18:46] rohanmclure commented on #707
Great that works! Totally forgot to add that.

Just for clarity, if I use this POST method to generate a user and specify an ID as in your working example (you provide the ID 1), the response I receive back suggests that an alternative, unique ID is provided for the generated user. Is this ID a required field, or only for manually specifying ID (user-suggested IDs are accepted I presume only when

[2020-01-06 18:55] shanebonham commented on #707
@rohanmclure Sorry, I _only_ adjusted your sample payload to wrap it in a `data` object. I didn't notice it included an `id` there. In this case, it is discarded. We'll always auto-assign a new `id` for new records.

[2020-01-06 19:09] rohanmclure commented on #707
Thanks!

[2020-01-07 05:32] msaaron opened #708 "Trigger person updated webhook on household change"
**Related Applications**
People

**Is your feature request related to a problem? Please describe.**
Changing a person's household in any way, including adding them to and removing them from a household, does not cause the `people.v2.events.person.updated` webhook to trigger.

**Describe the solution you'd like**
Any change to a household triggers `people.v2.events.person.updated` for the people af

[2020-01-07 23:08] msaaron opened #709 "Webhooks not triggering"
**Affected Applications**
API

**Describe the bug**
`people.v2.events.person.updated` either takes a very long time to trigger (15 mins to 1 hour), or does not trigger at all when a person's information is updated.

**To Reproduce**
1. Set up webhook under account with access to People
2. Modify a person and click save.
3. Watch as webhook is not triggered.

**Expected behavior**
The webhook shoul

[2020-01-07 23:37] msaaron commented on #709
I can't even delete the troubled webhook right now. It times out in the browser and gives me a 500 through the API. It has over 7413 events in it, could that be part of the problem?

[2020-01-08 01:02] msaaron commented on #709
This seems to have been a minor service interruption. They are working correctly now.

[2020-01-08 01:02] #709 closed

[2020-01-13 19:18] mcfadden commented on #702
Closing due to inactivity. If you're still having problems please open a new issue.

[2020-01-13 19:18] #702 closed

[2020-01-14 19:56] cdoe opened #710 "Rate-limit headers missing when fetching people list"
**Related Applications**
Which application(s) is this question related to?
- People

---

**Describe the question**
Using a GET request to `https://api.planningcenteronline.com/people/v2/people`, rate-limit headers ( as described in the [documentation](https://developer.planning.center/docs/#/introduction/rate-limiting) ) don't appear in the response.

**What have you tried that worked?**
The 'me'

[2020-01-14 20:23] mcfadden commented on #710
Hi @cdoe,

I tried reproducing this, but I'm seeing the rate limit headers as expected in all requests. Here's a cURL example that returns the headers:

[code]

When I run that I see the headers in the response like this:

[code]

I also am able to hit the rate limit on that endpoint. In a moderately sized organization the `/people/v2/people` endpoint will likely take over 200ms to respond, so you

[2020-01-14 21:27] cdoe commented on #710
Thanks for the information and the quick reply!  That 200ms figure is good to know.

I figured out my issue and it turned out to be a silly mistake...
I'm using Postman to test/inspect requests. For auth, it was using a session cookie it had pulled in instead of a token.  Since replacing that cookie with a specified token, the headers are returning as expected!

[2020-01-14 21:27] #710 closed

[2020-01-14 21:30] natehend commented on #633
Hello! Any updates on this request? I would love for the joint donor info to be exposed in the public API.

**Use Case:** Ability to generate a list of giving units.

We would like to be able to see how many "giving units" we have. In our church's terms, two people who are joined would be considered one giving. Say you have 100 total donors, 50 of those are joint donors, you would have 75 giving u

[2020-01-15 19:05] kawikathomas commented on #705
@pastorhudson Thanks for your request.

We have added a reports endpoint to the API. You can now use it through `services/v2/report_templates`.

As far as getting Resources reports please open another issue so that it can get a Resources tag and that team will triage it.

Cheers

[2020-01-15 19:05] #705 closed

[2020-01-15 19:25] pastorhudson commented on #705
Wow! Thank you so much! I can’t wait to add this to pcochef!

[2020-01-15 19:44] pastorhudson opened #711 "Custom Reports in Resources API"
Related Applications
Resources

Is your feature request related to a problem? Please describe.
I've built [a site for sharing Planning Center Custom Reports](https://pcochef.com). Custom reports are a complicated part of Planning Center. I have sharing and one click import of People reports working. I would like to add Resource reports but was surprised to find https://api.planningcenteronline.com

[2020-01-16 17:30] warmach opened #712 "Email messages with multiple emails"
**Affected Applications**
People/Messages API, People Communications tab

**Describe the bug**
If a user has two email addresses in PCO People, any message activity is recorded using both in a comma delimited list.  Searching for just one of the emails does not return messages that was sent to that email.  Each email should be handled individually.

Why does it matter?  A message was sent but one

[2020-01-16 22:35] msaaron opened #713 "API date_time query with comparator tags does not respect time offset"
**Affected Applications**
Entire API

**Describe the bug**
Making a `GET` request to any endpoint that allows for a query by a `date_time` attribute does not respect the provided time offset if `[lte]` or `[gte]` is specified alongside the `where` parameter of the request.

For example:
- `GET /people/v2/people?where[created_at]=2020-01-01T15:30:00-05:00` will correctly return all People created a

[2020-01-19 23:16] brimworks opened #714 "Check-Ins Offline?"
Our church has no internet access and would like to use planning center check-ins.

I notice that check-ins has an API, so I was considering developing a Go application which would run on a Mac which is intermittently online (when it is taken home after the service when we can get internet). We could then run a local network that iPads can connect in order to run the planning center check-in app.

[2020-01-20 16:45] mcfadden commented on #714
@brimworks

I can appreciate your aspirations here, but to be honest this sounds unfeasible to me.

Your first hurdle is going to be that our public documented Check-Ins API is read-only.

However, there's still quite a few other challenges you'd run into besides that. You'd have to handle _a lot_ of application level logic in your proxy app such as security code generation and management, label g

[2020-01-20 16:45] #714 closed

[2020-01-21 19:12] brimworks commented on #714
Thanks for the feedback.

[2020-01-21 20:10] pastorhudson opened #715 "New Services Report Template is returning 500 error"
**Affected Applications**
Which app(s) does this bug affect?
Services API

**Describe the bug**
The endpoint https://api.planningcenteronline.com/services/v2/report_templates is returning a 500 error. I was just about ready to push a code change to enable report sharing and I started getting 500 errors on the endpoint. It started returning 500 error sometime around 11pm EST last night.

**To Repro

[2020-01-21 20:20] jbarrieault commented on #715
Sorry about that, @pastorhudson.

We've identified the issue and are determining the proper solution. Sit tight and we'll be sure to let you know when it's resolved.

[2020-01-21 20:23] pastorhudson commented on #715
Thanks! I’m glad it’s not my code. I Thought I was going crazy because the code was working and then all the sudden it stopped. I’ll use this moment to implement some error handling 😂

[2020-01-22 06:30] ssieb opened #716 "giving query returns 404 on new person"
**Affected Applications**
Giving

**Describe the bug**
I'm creating a new person and then trying to assign a giving number.  The creation is fine, but if I try to access their info through the giving api, I get a 404 on the first attempt.  Any further attempts will succeed.  It's equally reproducible by having the script create the person and then entering the giving endpoint in the browser.  The

[2020-01-22 19:45] msaaron opened #717 "Include People birthdates in Giving API"
**Related Applications**
Giving

**Is your feature request related to a problem? Please describe.**
In order to create Giving reports based on age, we first have to request all of the people from the Giving API, then go through and get them from the People API just so we have their birthdate for age calculations.

**Describe the solution you'd like**
Include each person's birthdate as an attribute

[2020-01-23 00:19] danielma commented on #716
👋 hi @ssieb

Just wanted to let you know we see this, and we're working on a fix

[2020-01-23 00:42] danielma commented on #717
👋 Hi @msaaron!

Thanks for opening the issue. At the moment, Giving has no features that depend on birth dates, meaning it doesn't grab that data from the People app, so we don't have any current plans to expose that through the API.

However, depending on your use case, People lists may help you get what you're after? You could create a list based on some Giving conditions, and use the [lists end

[2020-01-23 00:42] #717 closed

[2020-01-24 16:34] Psylocybit opened #718 "People API - Access Address Line 2"
Currently in the API there is no way to access the line 2 of the address. The API only exposes the entire address line. Could we get this feature implemented to access line 2 of the address field on a persons' profile?

Thanks

[2020-01-24 16:54] mcfadden commented on #718
@Psylocybit Both lines of the address are returned in the `address` attribute. If a second line was given, they will be separated by a newline character.

[2020-01-24 16:54] #718 closed

[2020-01-27 14:42] seiwonlee opened #720 "Giving API - Donations-to-Funds link missing??"
We are looking through the Giving API in order to find out how much was donated for which funds, but I cannot seem to find any examples of how to do that. I see Donations being tied to specific Designations, but there's no linkages from Donations->to->Funds that I can see in the api.Can you please give us an example of how to find all donations given to a specific fund?

[2020-01-27 16:51] danielma commented on #720
👋 hi @seiwonlee

As a first note, please use our issue templates when opening an issue. In the future, issues opened without following an issue template will be closed.

To this specific question, I'd recommend using `?include=designations`, as [documented here](https://developer.planning.center/docs/#/apps/giving/2019-10-18/vertices/donation#url-parameters), which will then include `Designation`

[2020-01-27 16:51] #720 closed

[2020-01-27 18:00] seiwonlee commented on #720
I've looked at that ?include=designations parameter already, but that doesn't allow me to bring back only the donations that have specific Designation/ID.  The current Dontations query parameters are created_at, payment_method, received_at, and updated_at...doesn't allow me to query related designations or labels.

How can I bring back all donations that have designation-id=123??  Or am I stuck to

[2020-01-27 18:06] seiwonlee opened #721 "Please allow for a way to query Donations that have specific designation"
**Related Applications**
Which application(s) is this feature related to?
Giving API

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I cannot query all donations tied to a _specific_ designation via the Giving API.

**Describe the solution you'd like**
A clear and concise description of

[2020-01-27 18:32] danielma commented on #720
Conversation moving to #721

[2020-01-28 01:31] trentcooper commented on #470
I am learning the pco_api and I am trying to implement code that will build the where clause at runtime. Which issue has the answer to expected get parameters?

Thanks ahead of time.

[2020-01-28 13:38] samm0923 opened #722 "Using Headcounts API in my App"
**Related Applications**
Which application(s) is this question related to? Headcounts

**Describe the question**
I tried using the API link to the headcounts app to our Church app and it keeps telling me that the password I entered was incorrect, however it did not give me an option for a password or anything like that.
**What have you tried that worked?**

**What have you tried that didn't work?*

[2020-01-28 15:16] mcfadden commented on #722
@samm0923 Headcounts is a feature in the Check-Ins product, and also a stand alone Mobile app.

I'm not sure what you mean by "I tried using the API link to the headcounts app to our Church app." Can you clarify what you're asking?

If you're looking for support for the Headcounts app, you want to go here: https://pcocheck-ins.zendesk.com/hc/en-us

[2020-01-28 15:34] samm0923 commented on #722
There is an open API for planning center that allows me to connect to the standalone app to Subsplash. Is there anyone that can help with getting them to work?

Thanks,
Samm

Sent from my iPhone

[2020-01-28 15:39] mcfadden commented on #722
@samm0923 Our API Documentation is available here: https://developer.planning.center/docs

[2020-01-28 15:41] mcfadden commented on #722
@samm0923 Our API Documentation is available here: https://developer.planning.center/docs

You'll need to reach out to Subsplash if you need help with their side of things.

We're not able to provide development help here, this is just for issues with our API. Since you said you have no coding experience you may want to look into contracting with a software developer to get whatever you're looking

[2020-01-29 14:35] ltn-snoopy opened #723 "Changing the case of First or Last name through api does not update household names"
I am changing/fixing the case of first names and last names through the people api using patch method, but it is not updating the case in the household names. If I do this interactively it updates both the name and the household names

[2020-01-29 14:52] mcfadden commented on #723
@ltn-snoopy Can you give us some more information?

An example request you're making (with any personal information changed, of course), and a clarification on what data is not getting updated?

Also, please use the Issue Template in the future. It helps make sure we have the information we need to reproduce a bug report.

[2020-01-29 15:14] ltn-snoopy commented on #723
Yeah – just realized you had a template (first timer).

**Affected Applications**
People

**Describe the bug**
I am changing/fixing the case of first names and last names through the people api using patch method, but it is not updating the case in the household names. If I do this interactively it updates both the name and the household names

**To Reproduce**
Steps to reproduce the behavior:

[2020-01-29 15:17] ltn-snoopy commented on #723
![2020-01-29 10_09_24- People](https://user-images.githubusercontent.com/34105089/73369364-7eded000-4280-11ea-85db-5e76b0c4c430.png)

[2020-01-29 17:51] geolessel commented on #723
@ltn-snoopy I've looked into this issue and have not been able to replicate it, nor has another member of the People team. Can you provide more information as to how you are submitting your request? Is it via some code you have written or a library you are using? Have you been able to replicate it on other Persons?

[2020-01-29 17:59] ltn-snoopy commented on #723
Make sure when you update you are using the same name, just changing the case.

I am implementing it through an JavaScript Ajax call through a message.

Passing in:
PCO_Auth – Username and password
personID – PCO personID
myAtt - Attribute to change (‘first_name’,’last_name’)
myVal – value to set (corrected case of the person)

            GM_xmlhttpRequest({
                method: "PATCH",

[2020-01-29 18:11] ltn-snoopy commented on #723
I just thought - I am updating the first_name in one call and almost immediately I am making a call to update the last_name. So two back-to-back calls to the same record.
If that makes any difference.

[2020-01-29 18:20] geolessel commented on #723
@ltn-snoopy yes, the back-to-back calls is likely the issue. I'll dig a bit deeper.

[2020-01-30 18:18] danielma commented on #721
👋 Hi @seiwonlee

Thanks for the feature request! I'm adding this to our development queue and closing the card, but we will comment back on this thread when it's complete

[2020-01-30 18:18] #721 closed

[2020-02-01 21:41] ltn-snoopy commented on #723
I combined into a single call and seems to work. So I think that is the issue. Probably still want to try to fix.

[2020-02-02 15:23] bergernetch commented on #693
For most users this call `https://api.planningcenteronline.com/people/v2/people/AAA/field_data?where[field_definition_id]=ZZZ` works and returns the expected data. But for some I get an 403 Forbidden "You do not have access to this resource". What permissions are required to read the data? I only try to read the users own data. I am using this to get "group" memberships for a nextcloud integration

[2020-02-03 16:53] shanebonham commented on #693
Hi @bergernetch,

Custom field data is only visible to those with whom the parent tab is shared. The shares are maintained in the Planning Center People web interface, at something like `https://people.planningcenteronline.com/customize#tab=the_tab_id`. The most permissive tab share is with "All Viewers and above", which implies that a user would at least need access to Planning Center People in o

[2020-02-04 08:18] ssieb commented on #716
This appears to be fixed now.  I'm not getting the errors any more.

[2020-02-04 21:40] bergernetch commented on #693
Hi @shanebonham,

Oh ok. So I understand that if the user does not have "People" module access, he cannot read his own tab data. I cannot give "People" module access to those users.

What other options do I have to get this custom tab data? I need it to create the groups in nextcloud, just after a successful OAuth.

[2020-02-05 02:11] shanebonham commented on #693
Hi @bergernetch,

API requests are made as a specific person, and permissions are enforced as such. If you need to access data on a person record, you will have to make the API request as someone who has permission to read that data.

I'm closing this issue, but let us know if there are any other questions we can answer.

[2020-02-05 02:11] #693 closed

[2020-02-10 03:13] camro opened #725 "Groups API feature request"
**Related Product**
Groups, API

**Is your feature request related to a problem? Please describe.**
At the moment, it seems there is no way to get the values a group has for tags through the groups API. I'm aware we can get the group tags, and their possible values, but there is no way to list out the values a given group has for each particular tag.

**Describe the solution you'd like**
I would l

[2020-02-11 22:51] pnomolos opened #726 "Songs: "Developer Use Only" field, or a `developer_options` key/value blob"
**Related Product**
Which product is this feature related to?
Services

**Is your feature request related to a problem? Please describe.**
I have a script mostly built to automatically generate Spotify playlists each week containing all the songs.  Because we can't rely on Spotify's search feature to retreive the song we actually want (Yes, I'm sure the congregation would just _love_ singing Freed

[2020-02-14 02:17] tannermares commented on #726
Hey there @pnomolos! I'm trying to understand what problem you're trying to solve so I can tell if we can get you what you need with the attributes already available on an attachment.

What exactly are you putting into the notes field and why?

### This is where I would start.
1. Attach the spotify song to the arrangement or key you're adding to your plan.
![image](https://user-images.githubuserco

[2020-02-14 06:10] pnomolos commented on #726
@tannermares This is *really* close to what I want, except you can't attach a Spotify link to the "All Arrangement" section.  Using Freedom as an example, I'm putting `spotify:track:5UKiOsxr7Q3NQT2LkyFt9n` (the Spotify URI) in the notes field at the top level (because we aren't worried about having the correct key for the linked song - this is more of a reference/for the team to listen to as they

[2020-02-14 16:53] tannermares commented on #726
@pnomolos AFAIK there isn't a way to attach a Song (the All Arrangement) directly to a plan item. You must choose at least an Arrangement (choosing a key is optional). So if the spotify song is attached to the arrangement, you should see it in the list of attachments for that plan item.

[2020-02-14 16:58] pnomolos commented on #726
@tannermares Yes, but what I’m currently doing is finding the arrangement attached to the plan and grabbing the root-level song from that (so I don’t have to worry about multiple arrangements or anything).  I guess we’re probably using the system not quite as intended since we only ever have a single arrangement of a song so we’re basically ignoring it :). I could probably move my script to utiliz

[2020-02-14 17:02] tannermares commented on #726
Yeah that sounds great! Using the "Default Arrangement" for those attachments is how it is intended. Glad we could clear it up for you! Feel free to open another issue if you have another request or bug to report.

[2020-02-14 17:02] #726 closed

[2020-02-20 16:39] CarbonTTV opened #727 "Pulling current live time from API"
**Related Product**
Which product is this question related to?
Services, specifically the Live portion of it.

**Describe the question**
Good day Planning Center Team, it is my first time working around with the API and am curious about how I can accomplish a specific task. My task being, pulling the currently running time from live items kind of like how (https://services.planningcenteronline.com

[2020-02-24 16:45] jbarrieault commented on #727
Hey, @CarbonTTV. Thanks for taking the time to explore the documentation.

The running time of the current item is calculated by the Services Live client. A basic way to calculate it yourself would be to get the `actual_start` of the current item (`https://api.planningcenteronline.com/services/v2/plans/*planid*/live/current_item_time`) and subtract if from the current time.

Hopefully that helps w

[2020-02-24 16:45] #727 closed

[2020-02-26 17:50] kenlkelley opened #728 "Attendance query"
**Related Product**
GROUPS

**Describe the question**
I need to access attendance by event/person without resolving attendance for the entire event. It seems reasonable that I should be able to do so with a query such as

  .../groups/v2/events/2101266/attendances?where[person]=value'

Is this a feature request or am I missing something already available?

**What have you tried that worked?**
.. g

[2020-03-02 05:48] vivetech opened #729 "Get person id for People profile associated with Groups person profile"
**Related Product**
Groups

**Describe the question**
Some people in Groups have a different person ID than the same person in People. Is there a way to navigate this link via the API to get the master person ID for the profile in People?

**What have you tried that worked?**
API docs do not specify any means to achieve this.

**What have you tried that didn't work?**
Attempting to retrieve a pers

[2020-03-02 16:37] mcfadden commented on #729
@vivetech Can you give us an `id` of someone in the Groups API and the `id` of the profile that you're expecting that to match in People?

[2020-03-02 19:43] vivetech commented on #729
Just figured out where the confusion came from. I use navigation URLs in People and Groups to validate references and didn't realize People supports IDs without the 'AC' prefix whereas Groups does not.

Once I include the 'AC' prefix, the person shows correctly in Groups.

Example:
https://people.planningcenteronline.com/people/48915181
https://groups.planningcenteronline.com/people/**AC**48915181

[2020-03-03 01:56] tcm614ce opened #730 "Receiving 400 Bad Request response when updating a person's avatar."
Our application is receiving a 400 "Bad Request" message when attempting to patch a person with a new avatar.  We are successful in uploading the image (per https://developer.planning.center/docs/#/introduction/file-uploads) and when attempting to patch the person with the new UUID, receive the 400 response.

We are using this request URL:
https://api.planningcenteronline.com/people/v2/people/xxxx

[2020-03-03 05:49] vivetech commented on #729
I do have one example where the IDs don't match:

https://people.planningcenteronline.com/people/60396260
https://groups.planningcenteronline.com/people/4275827

[2020-03-03 14:16] seven1m commented on #730
@tcm614ce I'm sorry you're having this problem!

We rolled out a new Uploader yesterday--that's the system that handles uploads.planningcenteronline.com--after extensive testing.

I just now tested with your Nissan image by posting to https://upload.planningcenteronline.com/v2/files. The response returned looked like this:

[code]

I then made a PATCH request to my own profile with curl like this:

[2020-03-03 14:25] tcm614ce commented on #730
I will go back and compare our upload response and patch to yours....if I can't detect a difference, I will post the full text here.

Other notes: Upload images and attaching to a custom field works as expected.  This is probably a separate thing, or not an issue at all, but I did notice a funny thing where the response on the file upload added an underscore to the file extension.  Is that normal/

[2020-03-03 14:51] tcm614ce commented on #730
Here is the response I receive from the file upload:
[code]
And the full text of the person patch:

[code]

[2020-03-03 14:56] mcfadden commented on #729
@vivetech First, those URLs are not the API. 😅 Accessing a person record in groups by the API would be a URL like `https://api.planningcenteronline.com/groups/v2/people/<id>`. The documentation for that is here: https://developer.planning.center/docs/#/apps/groups/2018-08-01/vertices/person

In the API, all person `id`s are the same, regardless of what product you're viewing them in. They also mat

[2020-03-03 14:56] #729 closed

[2020-03-03 15:00] #722 closed

[2020-03-03 15:08] jbarrieault commented on #715
@pastorhudson as you've probably noticed, this has been resolved for some time now. Sorry we forgot to let you know here in a more timely fashion 😅

[2020-03-03 15:08] #715 closed

[2020-03-03 15:22] seven1m commented on #730
@tcm614ce I believe I found the problem. The `name` field in your upload response contains escaped quote characters:

<img width="552" alt="quoted_name" src="https://user-images.githubusercontent.com/669/75790016-2fcd0480-5d30-11ea-90ef-07aca9a738ee.png">

The API endpoint for updating the Person avatar is choking on those characters.

When I uploaded your file, my upload response did not contain

[2020-03-03 15:29] tcm614ce commented on #730
Wow, nice catch.  That is what was causing the underscore on the end of the response file name as well....Thanks for looking at that for me.

[2020-03-03 15:29] pastorhudson commented on #715
No worries man! I was just thinking I should come close this. Thank you so much for building this endpoint. It’s working great!

[2020-03-03 15:54] pastorhudson opened #731 "List Creation in People API"
**Related Product**
Which product is this feature related to?
People

**Is your feature request related to a problem? Please describe.**
I have built a free tool https://pcochef.com to allow people to share ministry recipes. Currently you can post a Custom People Report, Custom Services Report, and People forms. I want to be able to share “People List Recipes”. This will allow me to not only impor

[2020-03-03 16:11] danielma commented on #716
I've confirmed this is fixed.

[2020-03-03 16:11] #716 closed

[2020-03-03 16:11] shanebonham commented on #708
Hi @msaaron,

Sorry for the delay in responding. We now offer three new webhooks that fire when a person's household changes:

- `people.v2.events.household.updated`
- `people.v2.events.household.created`
- `people.v2.events.household.destroyed`

Take a look and see if that gets you closer to what you need. I'll close this issue, but feel free to open a new one if you have additional questions.

[2020-03-03 16:11] #708 closed

[2020-03-03 16:13] seven1m commented on #730
@tcm614ce I've been looking at this for a bit now, and I don't know this is something we want to "fix" on our end.

The only way I can reproduce the quoted filename like you are seeing in your upload response is to encode extra backslashes and quotes like this:

[code]

I think it was a mistake that this ever worked in the old Uploader, and I don't think we want to replicate it in the new Uploader

[2020-03-03 16:15] vivetech commented on #729
Thanks for the response. I've opened a ticket from the Groups side of things since the person ID in Groups does not match the person ID in People.

[2020-03-03 16:21] tcm614ce commented on #730
I concur.  I don't know why those quotation marks were there in the first place, but there must've been a reason.

In any case, I should've been more verbose in my response, but we already have it fixed and are deploying.

[2020-03-03 16:24] shanebonham commented on #712
Hi @warmach,

Sorry for the delayed reply. Our data model associates a message with a person, rather than with an individual email address. We do store the blocked status on the email records and we're looking into whether that is something we can expose via the API. (You can already see which email was blocked from a person's profile in the web app. It's the one with the yellow warning icon.)

I'

[2020-03-03 16:24] #712 closed

[2020-03-03 16:29] shanebonham commented on #723
Hi @ltn-snoopy,

Glad you got it working. I'm closing this issue, but we've noted the bug internally.

[2020-03-03 16:29] #723 closed

[2020-03-03 16:36] shanebonham commented on #731
Hi @pastorhudson,

Thanks for the feature request. This is a cool idea! As you're no doubt aware, it would require significant work on our end to get those endpoints `POST`-ready. I've started the conversation internally. I'm closing this issue, but we'll post back here if and when we make some progress.

[2020-03-03 16:36] #731 closed

[2020-03-03 16:40] #730 closed

[2020-03-03 16:54] pastorhudson commented on #731
I appreciate the consideration. Just so you have the big picture. My ultimate goal is to get to a place where someone could share an entire “Recipe”. So I could combine a list, form, report, and even workflow as a “Visitor Followup Recipe” or “Volunteer Pipeline Recipe”. This would let us crowd source ministry work.

One of the most beneficial things for me when I started using Services was having

[2020-03-03 19:44] danielpalma-lw opened #732 "Lifeway Worship: We are getting a 500 when trying to upload files."
**Related Product**
Which product is this question related to?
- https://upload.planningcenteronline.com/v2/files

**Describe the question**
Starting today, our users and testers are unable to upload a file (pdfs and mp3s) to planning center online. We are able to add Songs and Arrangements.

**What have you tried that worked?**
When logging in to the PCO account and adding a song - including uplo

[2020-03-04 15:25] danielpalma-lw commented on #732
If anyone can give us an update on this, we'd be grateful.  We have some of your frustrated but understanding customers wondering why they cannot upload a song (completely - meaning adding charts).  Please let me know if there's an issue or anything I can investigate further.

Thank you,
Daniel Palma

[2020-03-04 15:37] mcfadden commented on #732
@danielpalma-lw Sorry you're having issues with that. Do you have an example request that is generating a 500?

[2020-03-04 17:06] danielpalma-lw commented on #732
Hey, @mcfadden,  I appreciate your getting back to me.

I'm not sure what you want to see.  I am opening a stream of encoded data to that endpoint listed above.  Do you want me to send you the streamed data?

Thank you,
Daniel Palma

[2020-03-04 17:31] seven1m commented on #732
@danielpalma-lw we rolled out a new Uploader earlier this week, and while we did see [one reported issue](https://github.com/planningcenter/developers/issues/730) (a 400 error), everything is working fine on our end, and we've processed thousands of uploads successfully, including from our apps and third party apps.

I looked in the logs, and while I do see some errors here and there, it's not pos

[2020-03-04 17:39] seven1m commented on #732
@danielpalma-lw I do see some requests in the logs where the portion of the multipart request that names the file, e.g. `filename="whatever"` is either missing or malformed. I'm trying to reproduce locally so I can see if there is a workaround.

In the meantime, you might be looking at how you build the multipart request for uploads to see if there is something non-spec-compliant there.

[2020-03-04 18:04] danielpalma-lw commented on #732
Thanks, Tim (@seven1m ),

I will get you the external ip address.  Okay.  I will definitely look at how we build the multipart request.  But, FWIW - we haven't changed anything.  Which leads me to ask, where can I find out more about the new Uploader?  What could have changed such that I need to do something differently on my end?

Is what you saw for SURE the filename?  This is the filename on th

[2020-03-04 18:13] seven1m commented on #732
I'm trying to reproduce on our end so we can potentially deploy a fix. My **hunch** is that your upload requests are not following the HTTP multipart spec to the T, and our old uploader was probably a bit more forgiving.

I'll let you know when I know more...

[2020-03-04 18:20] danielpalma-lw commented on #732
Tim,

Excellent!  Please let me know!  I really appreciate it!  Is there documentation I could go look at?

Thank you,
Daniel Palma

[2020-03-04 19:18] seven1m commented on #732
@danielpalma-lw What is the error message you guys are seeing on your end?

Are you seeing something like this?

[code]

If so, what error message does it provide?

[2020-03-04 20:28] danielpalma-lw commented on #732
@seven1m,

Got it:

`{"code":"500","error":"Internal Server Error","detail":"request Content-Type isn't multipart/form-data"}`

Thank you,
Daniel Palma

[2020-03-04 21:14] danielpalma-lw commented on #732
@seven1m,

Hey - a little more info:  This is the beginning of the multi-part data we're sending:

[code]

There's a TON after that PDF line, but I just figured I would send the headers.

Thank you,
Daniel Palma

[2020-03-04 21:17] seven1m commented on #732
@danielpalma-lw thank you. Would it be possible for you to update your application code so that it specifies this content-type near the top of the request? It should look something like this:

[code]

The "boundary" part is a unique boundary to separate parts of the request body. You should already be specifying the boundary; in your last comment, the boundary is `===1583356347656===`.

It seems o

[2020-03-04 21:31] danielpalma-lw commented on #732
@seven1m ,

I actually already am.  What I sent you was the top part of the multipart data being sent.  We have connection request HEADERS, one of which is this:

[code]
where boundary = "===1583356347656==="

Let me know if that is right or wrong.

Thank you,
Daniel Palma

[2020-03-04 21:36] seven1m commented on #732
Well 🤔 that looks right! Let me try to add some more logging on our end to what headers are coming across. Perhaps you are sending the `Content-Type` header more than once? I will hopefully know more when I get the additional logging in place here shortly...

[2020-03-04 22:00] seven1m commented on #732
@danielpalma-lw we have some additional logging in place now... can you try performing another upload? I'm going to see if I can track down one of your failing requests and look at the headers.

[2020-03-04 22:19] seven1m commented on #732
@danielpalma-lw I was able to log into Lifeway and try an upload myself.

Now that I've seen the log, I know what the issue is. Your `Content-Type` header looks like this:

[code]

It seems that our code cannot properly parse the boundary marker since it contains equal signs. I was able to reproduce locally using equal signs instead of hyphens.

If you are able to make a change to use hyphens inst

[2020-03-04 22:24] seven1m commented on #732
Alternatively, you can quote the boundary marker like this:

[code]

[2020-03-05 12:23] danielpalma-lw commented on #732
@seven1m ,

Okay.  I appreciate your digging and finding that.  However, I made the change and just tested it on stage, and now I am getting this:

[2020-03-05 12:23] danielpalma-lw commented on #732
`{"code":"500","error":"Internal Server Error","detail":"ReadRequestBody: read upload data failed\ncaused by: unexpected EOF"}`

Thank you,
Daniel Palma

[2020-03-05 15:32] seven1m commented on #732
@danielpalma-lw well that's progress!

I'm able to reproduce that "unexpected EOF" error when the upload's boundary markers don't match or my upload doesn't contain the final boundary marker.

One way I like to compare is by doing a file upload from the browser and seeing what it does. Here is a sample file upload from Firefox:

[code]

Given what you sent earlier, I think your upload should look

[2020-03-05 15:45] danielpalma-lw commented on #732
@seven1m ,

Thanks for your early and fast reply.  Unfortunately, here's what I'm sending now:

TOP (snipped):

[code]

BOTTOM (snipped):

[code]

That was from a test this morning.

Thank you,
Daniel Palma

[2020-03-05 15:48] seven1m commented on #732
That looks correct to my eye. Let me test with a `null` Content-Type part and see what that does...

[2020-03-05 15:48] danielpalma-lw commented on #732
@seven1m ,

That ACTUALLY yielded this error:

`{"code":"500","error":"Internal Server Error","detail":"MultipartUpload: upload multipart failed\n\tupload id: YRRR_oNcsDfSETrGZ7alGo7bHN6nTKiN3yurePq3D1Pn3lz4QmkeJVnKd6QIah7PB9rjlSbLoccMy2Se7Xoyd5vyLos7FzeytcM9lZoEi_PgNlHrPXhjfdsibCkQU18Sj4rdpZlV6oMbqMi5eu9n1SL8T.vUA_zkPVB8d6tfkKs-\ncaused by: ReadRequestBody: read multipart upload data failed\ncaus

[2020-03-05 15:50] danielpalma-lw commented on #732
@seven1m,

The person testing was sending an .mp3 file, and I take that filename and extract out the extension, so I'm not sure how it ended up being null.  I'm looking into that.

Thank you,
Daniel Palma

[2020-03-05 16:04] seven1m commented on #732
I don't think the `null` matters. I tested here with a null Content-Type and it worked. 🤷‍♂

I'm now investigating the Content-Length header, to see if having a too-small number there might cause the EOF error.... I'll let you know...

[2020-03-05 17:45] seven1m commented on #732
@danielpalma-lw we have additional logging in place to dump the entire request for your application. Can you please do another test upload and let me know what the boundary marker is or the upload filename, or anything unique. Thanks!

[2020-03-05 18:01] danielpalma-lw commented on #732
@seven1m,

[code]
(snipped, of course)

`{"code":"500","error":"Internal Server Error","detail":"ReadRequestBody: read upload data failed\ncaused by: unexpected EOF"}
`

Thank you,
Daniel Palma

[2020-03-05 18:28] seven1m commented on #732
Thank you.

I believe I've narrowed this down to a problem with the `Content-Length` header. In my local tests, if the number given for the Content-Length is too short, then I get that exact error.

That also seems to match what I saw in the logs for your most recent upload. The file is getting cut off near the end.

Here are the last few lines from the log:

[code]

Note that there is no final bo

[2020-03-05 18:46] danielpalma-lw commented on #732
@seven1m,

Okay.  I found a problem with my stream handling, and I fixed it, so it is working now!

Please don't close this ticket yet, though.  I am going to have my QA testers do a full scope test of the downloading of songs and arrangements to make sure that ALL of my calls are working right!

Thank you,
Daniel Palma

[2020-03-09 13:40] cmoel commented on #725
Hi @camro.

Thanks for the feature request and I'm sorry for our delay in responding. I just deployed an update to the Groups API exposing the tags applied to a group. It's available through https://api.planningcenteronline.com/groups/v2/groups/:group_id/tags.

Let us know if we can help with anything else!

[2020-03-09 13:40] #725 closed

[2020-03-10 00:28] camro commented on #725
Thanks Chris,

Thanks for putting in the work (and updating the docs so fast)

What would be the best way to get tags for multiple groups at once, would it be to send a request for each group, or can we include it with querying a list of groups.

[2020-03-10 12:44] cmoel commented on #725
You would need to send a request for each group. As a general rule, we don't allow includable resources on the many side of a one-to-many relationship or many-to-many relationships.

[2020-03-10 13:20] cmoel commented on #729
Hi @vivetech.

You're right: we had a bug in the Groups API related to `person_id` in attendances. We just deployed a fix for it. Thank you for bringing it to our attention and I'm sorry for the trouble!

[2020-03-10 21:02] seven1m commented on #732
I'm glad we were able to track this down! Thank you for your patience.

I'm going to go close this now. Please let us know if you have any further questions!

[2020-03-10 21:02] #732 closed

[2020-03-11 14:16] d-davis-321 commented on #654
I know that this is closed, but I wanted to add a few thoughts to this.  What if the person is inactive and deceased?  They should not be reactivated (or put back to inactive when the posting is completed).  Also, via the API I can add inactive_at and give the date as to when they were entered deceased, but I have no way to put the inactive_reason on the profile (that I can find).

[2020-03-12 17:45] bilderbach opened #733 "Check Images Attached to Donations"
**Related Product**
Which product is this question related to?
Giving

**Describe the question**
Don't see a way in the API to include a scanned check/envelope image...is that possible?

**What have you tried that worked?**
NOTHING

**What have you tried that didn't work?**
Did not find anything in the docs that show how to upload and associate an image.
https://developer.planning.center/docs/#/ap

[2020-03-12 18:13] danielma commented on #733
:wave: Hi @bilderbach

Thanks for opening an issue! Unfortunately, we don't support uploading a scanned image to Giving right now, either through the web interface or the API.

The team is aware of the feedback, as this is something that's been requested before.

I'm going to close this issue, as there's nothing further I can do at this time.

If you have any further questions or discussion, feel

[2020-03-12 18:13] #733 closed

[2020-03-12 19:45] cmoel commented on #728
Hi @kenlkelley.

Thanks for reaching out. I'm sorry for the delay in responding. We decided to only expose the collection of attendances for an event for the beta implementation of the Groups API, not individual attendance records. This is the reason you get a 404 when hitting `/groups/v2/events/1/attendances/1`.

We plan to revisit attendance in the future and we'll keep your request in mind as w

[2020-03-12 19:45] #728 closed

[2020-03-12 20:51] kenlkelley commented on #728
I have been able to solve my problem by using a feature I stumbled on but couldn't find in the doc. Basically my problem involved gauging the level of recent engagement for people in our congregation. I was able to get a sense using:
..groups/v2/people/<person-id>>/activities?filter=after&after=<<date>>..giving/v2/people/<<person-id>>/activities?filter=after&after= <<date>>..services/v2/people/ <<

[2020-03-12 20:54] danielmurphy commented on #728
@kenlkelley that sounds really cool. Would you mind sharing a screenshot (with personal info blurred out, of course)?

[2020-03-12 21:11] kenlkelley commented on #728
I've attached a screen shot of a fraction of the Gephi graph.  It isn't practical to blur out all the names so I'll rely on your discretion. It's a little blurry since Gephi is optimized for interactive inspection and analysis but you'll get the idea. You should be able to zoom in/out using mouse/pad scrolling.  Node color indicates membership (pink=members, green=non-members, orange=visitors) edg

[2020-03-15 13:03] scottypa commented on #76
Any update on retrieving historical song schedules? I have a similar need to @jonathanstokes to see how often our songs are being sung in our church in a year's time. My goal is to sing a song at least 4x/year. I would use this to inform my song selections as I schedule a six-weeks set of services at a time.

[2020-03-18 23:50] calvary-tucson opened #734 "Resources Events API - Add Sort Query & Query Future Dates"
**Related Product**
Which product is this feature related to?
Resources

**Describe the solution you'd like**
I am trying to create a calendar on my church's website using the events created in planning center online. To do that I am attempting to query the data from the resources API but I cannot query future dates from Events. And attempting to use event_instances in combination with events is o

[2020-03-19 02:27] MichaelJolley opened #735 "Groups API write access"
**Related Product**
Which product is this feature related to?
Group

**Is your feature request related to a problem? Please describe.**
Trying to integrate our site to allow visitors to register a new group.  To do so, we'll need a POST endpoint on the groups endpoint.

**Describe the solution you'd like**
POST/PUT access to the `/groups/v2/groups` endpoint.

I've seen write access discussed as "o

[2020-03-19 16:32] cmoel commented on #735
Hi @MichaelJolley.

We don't have an ETA on moving the Groups API out of read-only beta just yet. We are going to be working on a couple features that might require changes to the API. While we definitely want to move the API out of read-only beta, we want don't know when that'll be. It'll be as soon as we reasonably can though!

I'm going to close this issue for now since we don't have an estimat

[2020-03-19 16:32] #735 closed

[2020-03-20 12:34] dobrite commented on #76
We've shipped the ability to query the song schedule endpoint for arbitrary "most recent" and date ranges. I'll have to look into why the docs are not showing on the doc page, but for now y'all can do the following:

[code]

If there is an issue or y'all have addition questions or concerns, please feel free to open a new request rather than replying here. That helps us track these issues. Thanks!

[2020-03-20 12:35] dobrite commented on #171
Please see https://github.com/planningcenter/developers/issues/76#issuecomment-601677481

[2020-03-20 12:35] dobrite commented on #231
Please see https://github.com/planningcenter/developers/issues/76#issuecomment-601677481

[2020-03-21 08:30] bradwyatt opened #736 "Total count is exactly 10000 when doing GET request for People (People) JSON"
When going to https://api.planningcenteronline.com/people/v2/people on the browser, json['meta']['total_count'] reveals the real number (27922).

![image](https://user-images.githubusercontent.com/12818333/77222755-3969b100-6b13-11ea-9d39-b1b9e2c722ed.png)

However, I've tried doing a GET request via Postman, an ETL tool, and Python, and json['meta']['total_count'] shows 10000 for all three of the

[2020-03-23 21:12] bilderbach opened #737 "List of users for AUDIT"
**Related Product**
Which product is this question related to?
ALL

**Describe the question**
Basically we need the Account page with a last_login date for auditors.
https://accounts.planningcenteronline.com/people

Support suggested screenshots, we have 52 pages of users and auditors want a generated list, not a manual maintained list for obvious reasons.

Got the list of users, but only found a

[2020-03-24 16:49] debok commented on #736
@bradwyatt I have a similar problem. I've got over 24,000 people but if I request anything greater than or equal to an offset of 10,000, I do not get any results. My "total_count" reads 10,000 as well. I have confirmed that it is not a rate limiting issue. It only appears to be this endpoint and the problem appears to have started on March 18th or 19th.

For reference, I'm using the https://github

[2020-03-24 17:15] shanebonham commented on #736
Hi @bradwyatt (and @debok),

This might be a bug in the latest API version. Which version are you using on these requests?

[2020-03-24 17:30] debok commented on #736
@shanebonham I work for a 3rd party. I checked 5 of our churches with over 10,000 people and all of them are using API version "2020-02-13".

[2020-03-24 17:34] shanebonham commented on #736
@debok (and @bradwyatt), we've identified the problem and are working on a fix. In the meantime, you can work around this by using the previous version: `2019-10-10`.

[2020-03-24 17:37] debok commented on #736
@shanebonham Thanks! We really appreciate your help.

Unless I can change the API version from the API itself, I will probably have to wait for the fix as I don't have anything but API access for most of our churches. However, if you think the fix will take longer than a few days, I can reach out to our churches and ask them to revert to the previous version.

[2020-03-24 17:40] shanebonham commented on #736
@debok, you can also use the `X-PCO-API-Version` header on individual requests: https://developer.planning.center/docs/#/introduction/versioning

That might help you temporarily while we work on a fix.

[2020-03-24 18:29] bradwyatt commented on #736
@shanebonham

Under Personal Access Tokens, I changed the People module from "Latest" to 2019-10-10 and it worked. Feel free to close this issue.

[2020-03-25 13:49] debok commented on #736
@shanebonham Excellent, thanks!

[2020-03-25 15:33] shanebonham commented on #736
@bradwyatt / @debok - The problematic latest beta version has been removed for the time being, so your requests should resume using version `2019-10-10` automatically. I'd still recommend _not_ using `LATEST` as the version though, for any requests, but rather pinning to a specific version and only upgrading intentionally.

[2020-03-25 15:33] #736 closed

[2020-03-25 17:34] BunkerDev opened #738 "General questions about Batch/BatchGroup Creation"
**Related Product**
Giving

**Describe the question**
I successfully created an initial Batch, added a couple of donations and committed the batch.  For this initial batch, I did not have to create a BatchGroup (really don't understand the roles/best practices of Batch/BatchGroup but probably falls outside of the API as a question).  When I went to run my test client a second time, I find I am sud

[2020-03-27 12:18] #738 closed

[2020-03-30 17:43] debok opened #739 "Missing "relationships" data for recurring_donations"
**Affected Product**
Which product does this bug affect?
Giving

**Describe the bug**
I cannot view any relationships in the output from the recurring_donations endpoint (/giving/v2/recurring_donations). A recurring_donation belongs to a person, but there is no way to figure out which person. In fact the "relationships" hash is not even listed in the output.

As a side note, the recurring_donation

[2020-03-30 21:41] molawson commented on #739
👋 Hi @debok

Thanks for bringing this up. You're right.  The relationship between a `RecurringDonation` and associated `Person` should be part of that endpoint.  It not being there was on oversight on our part.

I'm adding this to our development queue. I'll close the issue for now, but we'll leave a comment here when we've made the change.

[2020-03-30 21:41] #739 closed

[2020-03-31 17:23] debok commented on #739
Excellent. Thanks so much @molawson!

[2020-04-06 23:23] dstew opened #740 "File Upload API"
Our integration pushes user-customized images to the Media section of Services. We use the upload api at https://upload.planningcenteronline.com/v2/files as the first step to accomplish this. The integration has been live for about 2 years without issue but we just noticed that recent requests to this endpoint are now returning a 405 (method not allowed) error. As such our integration is completel

[2020-04-07 01:32] bensie commented on #740
@dstew We recently re-wrote our uploader, but it’s designed to be API compatible with all existing implementations and has been in production for a few weeks now. If you’re getting a 405 response, can you please verify that you’re sending a POST request? Any other logging you can provide of the details of the request you’re making would also be helpful (just don’t include keys or your auth header)

[2020-04-07 14:03] NLAvL opened #741 "Basic user can signup developers account and extract all members via API"
**Affected Product**

**Describe the bug**
Any user, in this case, with the minimal available right, can generate an developers account, and via the pco-api extract (for example) all members / contributors.

**To Reproduce**

- Endpoint: https://api.planningcenteronline.com/services/v2/people?per_page=${params.per_page}&offset=${params.offset}&order=${params.order}
- Language: NodeJs (Ts)
- Authen

[2020-04-07 14:27] mcfadden commented on #741
@NLAvL,

Our `viewer` permission right now is in a long transition. Historically Viewers could see all people in Services and all their contact info. We are in the middle of transitioning to restrict them to only see people on their own teams, but that's only being done right now on the web via the UI, not restricted in the API. There is a lot of ground work in place for the next steps of this tra

[2020-04-07 14:40] NLAvL commented on #741
Hi Bob, thanks for your prompt response. I have send you a (private) email.

[2020-04-07 15:57] mcfadden commented on #741
We will respond via email. Thanks.

[2020-04-07 15:57] #741 closed

[2020-04-07 16:04] trevorgehman opened #742 "The `list.total_people` value is sometimes negative"
**Affected Product**
People

**Describe the bug**
The `/people/v2/lists/{id}` endpoint sometimes returns negative values for `total_people`. But when you access `/people/v2/lists/{id}/people` there are no people.

**To Reproduce**
I'm not sure how to reproduce this or what causes it. But I can provide a list ID for you to investigate.

**Expected behavior**
I believe that `total_people` should not

[2020-04-07 16:13] geolessel commented on #742
@trevorgehman yeah, that's not right. Do you have an id for which it the count is consistently negative, or is it intermittent for any/all ids you try? If a list id returns a negative count consistently, its id would be very useful in tracking it down.

[2020-04-07 16:21] trevorgehman commented on #742
@geolessel It's not intermittent, actually, but consistent for certain lists. I'll email you a list ID to investigate.

[2020-04-07 17:39] geolessel commented on #742
Thanks for the id, @trevorgehman. I've verified that this is a caching issue on our end and I've added a card to our bug board to get it sorted out. I'm going to close this issue for now and we'll leave a comment back here once the bug has been fixed.

In the meantime, the `meta.total_count` from `/people/v2/lists/{id}/people` should always be correct as that number is not cached.

[2020-04-07 17:39] #742 closed

[2020-04-07 21:20] dstew commented on #740
After digging through our logs I found that the last successful upload occurred on February 29th. And then the next requests on March 4th all failed. So if your update occurred in between those dates then that's probably it. I'm surprised we didn't have users complaining earlier, but sometimes that's how it goes. We haven't touched the code that performs the POST in over a year, but here's how it

[2020-04-07 21:59] bensie commented on #740
@dstew Yeah the timing definitely lines up. It's likely that the request you are making is slightly malformed (the previous version of the uploader was a bit more forgiving about multipart/form-data spec conformity). What library are you using to build the multipart request? Or are you doing it by hand?

If possible, can you supply a full sample request (redacting _only_ the auth header) and just

[2020-04-07 22:18] dstew commented on #740
It's built by hand. Capturing the raw request would take a bit to do locally, so here's the javascript (nodejs) code that runs. Hopefully you can spot what is wrong with this. Not the cleanest code in the world ;-) but seems pretty straightforward and nothing jumps out at me in terms of being off-spec.

[code]

[2020-04-07 22:28] bensie commented on #740
@dstew Yes that helps! I'll work on a repro and get back to you.

[2020-04-08 13:46] bensie commented on #740
@dstew I was able to reproduce with the code you provided. As it turns out, it's a quick fix. Your request there is a `GET` request, which is why you received the `405 Method Not Allowed` response.

You just need to add `method: "POST"` to your request object.

Working example (note I swapped out response handlers for console.logs):

[code]

[2020-04-08 14:08] dstew commented on #740
Interesting, for some reason I was under the impression that sending a payload into request.end automatically set the method to POST. I’m surprised your previous upload handler even allowed this as a GET, would have easily fixed this when it was originally coded if we’d received a 405 back then. Anyway I’ll switch this out and let you know if I have any other issues. Thanks!

[2020-04-08 14:08] #740 closed

[2020-04-08 14:16] bensie commented on #740
@dstew I'm equally surprised that the old one worked as a `GET` 😮  - certainly wasn't intentional. Please let me know if you have any other issues!

[2020-04-08 17:00] bjohnston-paperless opened #744 "Check Missing from batch (scanning with Paperless Transactions)"
We have a mutual client First Baptist Church of Eugene that is using Paperless Transactions for Check Scanning with Planning Center. We have a batch of items that we sent on 4/6 but for some reason, 1 item is missing from the post to Planning Center.

Here is a log of the attempt for 4/6, are you able to see what could have caused the problem for that item not to be posted?  We do not see an obvio

[2020-04-08 17:03] danielma commented on #744
:wave: hi @bjohnston-paperless

A `422 Unprocessable Entity` error should have a JSON response body with details on the issue.

Can you please provide that response data? That should explain why your request failed.

[2020-04-09 23:40] dnsbob opened #745 "Is there any security in an avatar URL?"
product: People

When I GET /people/v2/me it includes a "demographic_avatar_url".  I can use that to get a copy of my photograph, WITHOUT any authorization.  Or is the numeric code in the URL after my id a security token of some kind?   Does it change or stay the same?

[2020-04-09 23:45] TheBerg commented on #745
What are you using to pull /people/v2/me. Many languages will use your browser authorization.

When I do an unauthorized request I get:

`GET https://api.planningcenteronline.com/people/v2/me`
[code]

[2020-04-09 23:45] #745 closed

[2020-04-10 01:15] dnsbob commented on #745
When I use /people/v2/me, with authentication, it returns a list of links under "links" that appear to require authentication.  But it also returns, in the "attributes" section, a url value for "demographic_avatar_url" that works without the normal authentication - either in a new browser or with curl.  The URL is similar to:  https://avatars.planningcenteronline.com/uploads/person/MYIDNUMBER-SOME

[2020-04-10 01:24] dnsbob opened #746 "avatar URL does not require normal authentication"
product: People

When I use /people/v2/people (or /people/v2/me), it requires authentication, and returns a list of links under "links" that appear to require authentication. But it also returns, in the "attributes" section, a url value for "demographic_avatar_url" that works without the normal authentication - either in a new browser or with curl. The URL is similar to: https://avatars.planningce

[2020-04-10 01:45] danielmurphy commented on #746
Hi @dnsbob,

As you conjectured in #745, the second number is a non-guessable token, so there is actually no security threat here.

Thank you for your report.

[2020-04-10 01:45] #746 closed

[2020-04-14 17:24] bjohnston-paperless commented on #744
So we ran into this issue again with the same client (for some reason it is only happening to this specific client).

Here is a comparison of two logs, right next to each other, where one failed and the other worked:

When you break these done there is only one difference in the logging data and it is in the data that we send:

Did not post:

4/13/2020 6:15:18 PM:72: {"data": {"type": "Donation",

[2020-04-14 17:28] danielma commented on #744
Hi @bjohnston-paperless

Unfortunately, I can't be helpful on this issue without the details in that 422 response. There should be an error message in that response, and I need to know what that error message says before I can provide additional support. I definitely see that something odd is happening here, but the answer to "what is happening?" is in that error message, and I'm not seeing it in

[2020-04-14 19:33] bjohnston-paperless commented on #744
This is all that we see in our logs. Do you have some form of log on your side as to why you are throwing an error back to us?

[2020-04-14 21:13] danielma commented on #744
@bjohnston-paperless I'm sorry, but I need the content of the error message returned from the API before I can do any further digging. A 422 error indicates invalid data sent to the server and includes information about what data was invalid.

If you can get that to me, and we still don't know why this request is failing, I can attempt to dig further into what's really going on

[2020-04-16 04:42] camro opened #748 "Other option on required dropdown field breaks form"
**Affected Product**
Which product does this bug affect?
People / Forms

**Describe the bug**
There seems to be an issue in forms that we're experiencing.

We have a required dropdown field, with an 'other' option.

When the option is selected, as soon as the user types into the text field for 'other', the screen goes blank.

There is an error in the console.

![image](https://user-images.githubus

[2020-04-16 16:10] bjohnston-paperless commented on #744
Here is all that we are getting from the API

Item 166371544

Transmitted 2020-04-13 18:00:13.803

GridRow: 43641223~Ministry Fund~96042~Barbara Sherrill~$75.00~~#

4/14/2020 3:06:13 PM:74: {"data": {"type": "Donation", "attributes": {"payment_method": "check", "received_at": "2020-04-13", "payment_last4": "9905", "payment_check_number": "3790", "payment_check_dated_at": "2020-04-13" },"relationsh

[2020-04-16 16:19] danielma commented on #744
Thank you for getting me that error info! That helps explain what's going on, and you've got it exactly right. The part of your request that's specifying the person (`{"type":"Person","id":"43641223"}`) is referencing and ID that can't be found.

This can happen if the person is deleted from the Planning Center account, or if the person is merged into another profile. In that case, you can use the

[2020-04-16 16:28] bjohnston-paperless commented on #744
Yes, thank you for your help and you can go ahead and close this issue.

On Thu, Apr 16, 2020 at 11:19 AM Daniel Ma <notifications@github.com> wrote:

--
Bryce Johnston

Marketing Manager

paperless Transaction Corporation
972-830-3011
bjohnston@paperlesstrans.com
www.paperlesstrans.com

[2020-04-16 16:28] #744 closed

[2020-04-27 23:11] glosie commented on #734
👋 Hi @calvary-tucson, sorry for the delayed response!

We've gone ahead and added a `future` filter to the `/events` endpoint, which can be applied to limit the results to only events that still have upcoming instances.

You might also be interested in the `/event_instances` endpoint. Using the optional `?include=event` parameter will sideload the associated event data. Also, since the actual star

[2020-04-27 23:11] #734 closed

[2020-04-27 23:57] shanebonham commented on #748
Hi @camro,

Sorry for the delayed reply (a little breakdown with our notification mechanism). Unfortunately there is not much I can do to troubleshoot this here. If this is still an issue, you should reach out to Support: https://support.planningcenteronline.com/hc/en-us/requests/new

They'll be able to get the necessary info from you and help you out right away.

[2020-04-27 23:57] #748 closed

[2020-04-28 14:32] dustanstanley opened #749 "Stripe ID Insert/Locate"
Giving

I am developing an app that will receive text to give donations. I am currently tying stripe and PCO together - using email and phone to locate possible users in stripe and in planning center so i can tie them together and automatically add donations in the background to PCO while processing them through stripe. Potential issues abound, such as the merging of people, duplicates and changin

[2020-04-28 15:03] danielma commented on #749
:wave: Hi @dustanstanley

As a starting point, can you tell me a little more about the app you're working on? Whenever we discuss changes to the API, it helps to have full context for why the current API or feature set isn't sufficient. In this case, Giving already supports text to give and processes donations through Stripe. You can read about that feature [here](https://pcogiving.zendesk.com/hc/

[2020-04-28 15:09] dustanstanley commented on #749
Hey Danielma

We love PCO text to give, our issue is the need for unique numbers. The search for the right org in PCO's giving just adds an extra step that we want to avoid. We have an I am also building funds and data capture into the actual SMS conversation (not credit cards - just email and phone).

If any of these issues are on the roadmap, let me know so i can save myself weeks of work. hah!

[2020-04-28 15:22] danielma commented on #749
@dustanstanley If you're willing, would you write to our support department explaining the shortcoming of the extra setup step and data capture? A custom number (+data capture) for text to give is an interesting idea, and having a support request would get it into the right channels for consideration.

Beyond that, I'll take the request for the stripe ID back to the team and I'll update this issue

[2020-04-28 16:08] danielma commented on #749
@dustanstanley ok, I took this request back to the team and we had some discussion. We've decided, at this time, to not surface the Stripe customer ID in our API.

Giving does some pretty particular things with our Stripe customer records, and we are careful to acknowledge that we live in an environment where users may be making changes to their Stripe account that are out of control. With that sa

[2020-04-28 16:08] #749 closed

[2020-05-01 18:48] anneheath opened #750 "Workflow notifications not being triggered"
**Affected Product**
Which product does this bug affect?
People

**Describe the bug**
When people are added to a workflow through API, the normal notifications for that workflow are not being triggered. The managers are not being notified when someone has been added / the card has been created.

**To Reproduce**
Add someone to the workflow from API / integration

**Expected behavior**
managers sho

[2020-05-01 21:50] shanebonham commented on #750
Hi @anneheath,

Notifications are sent when cards are created via the API (our web app also makes use of these same endpoints). We'd be happy to further troubleshoot this with you, but we'll need information that shouldn't be posted in a public GitHub issue. Can you open a support ticket with any relevant information we might need? https://support.planningcenteronline.com/hc/en-us/requests/new

[2020-05-01 21:50] #750 closed

[2020-05-01 21:58] anneheath commented on #750
I opened a support ticket and they told me to post in the github site
instead.""[Planning Center Support] Re: Issue with Workflows?"

What information do you need from me?

On Fri, May 1, 2020 at 2:50 PM Shane Bonham <notifications@github.com>
wrote:

--
Thanks,

Anne Heath
Customer Support Specialist
PastorsLine
1-844-285-1815
anne@pastorsline.com
Get to know me better! <https://pastorsline.com/t

[2020-05-01 22:16] danielmurphy commented on #750
Hey Anne, I think it'd be better to get those details in private, so I just replied to your original support ticket :)

[2020-05-04 17:44] glosie commented on #711
@pastorhudson,

We've just deployed a new [`ReportTemplate`](https://developer.planning.center/docs/#/apps/resources/2018-08-01/vertices/report_template) endpoint that you should be able to use for building a pcochef integration.

Thanks for the feature request, this is a cool idea!

[2020-05-04 17:44] #711 closed

[2020-05-04 17:56] pastorhudson commented on #711
Woohoo!! Thank you very much! This will make an impact for the kingdom!

[2020-05-04 18:14] pastorhudson commented on #711
Any advice on wether I should use calendar/v2/report_templates or resources/v2/report_templates

I'm guessing calendar/v3/report_templates is more likely to exist than resources/v3/report_templates?

[2020-05-04 21:04] pastorhudson opened #751 "Calendar not an option in Oauth scope"
**Affected Product**
Which product does this bug affect?
Resources / Calendar

**Describe the bug**
Simple bug. It might be on someones radar already. Since Resources was re-branded to "Calendar" the api Oauth Scope should also let you get permission for "calendar".

**Expected behavior**

Oauth should let you request "calendar" access.

It's not a deal breaker, but thought you might appreciate a

[2020-05-04 21:14] pastorhudson commented on #751
I will just add to this /calendar/v2/calendar doesn't work with the Resources scope either. I realize this may be coming in a proper api version update. Just putting it here just in case it slipped through the cracks

[2020-05-05 03:52] pastorhudson commented on #711
Custom Calendar Report Templates are now supported by pcochef.com! Thank you!
![pcochef_calendar_reports](https://user-images.githubusercontent.com/3606628/81033588-2a8c5300-8e62-11ea-9320-e66f4631bca1.png)
![4139-4133_share_wide](https://user-images.githubusercontent.com/3606628/81033625-4d1e6c00-8e62-11ea-8aef-2a444cb16084.png)

[2020-05-06 22:35] #751 closed

[2020-05-06 22:42] glosie commented on #751
@pastorhudson You can now request tokens with a `calendar` scope. 🎉

Note that any existing `resources` scoped tokens will only be valid for `resources/v2` requests though.

[2020-05-06 22:51] pastorhudson commented on #751
Sweet! This will future proof my code a bit more! Thanks for being awesome!

[2020-05-11 16:59] ausstinh opened #752 "Include website and avatar_url attributes in PCO API Organization"
For Planning Center Online API, can you include a "website" and "avatar_url" attribute under the organization data type. I notice the data type of campus has these attributes but not organization.

[2020-05-11 17:05] danielma commented on #752
:wave: hi @ausstinh

Please use one of our issue templates for opening an issue. They help provide context that's important for assisting with this type of request. This issue doesn't have enough information for us to help you with it.

I'm going to close this issue. Feel free to open another one that uses one of our issue templates

[2020-05-11 17:05] #752 closed

[2020-05-11 18:17] ausstinh opened #753 "Add Church Website and Logo to Church Organization API"
**Related Product**
PCO Organization

**Is your feature request related to a problem? Please describe.**
I would like to use the website and logo in my church information from the API

**Describe the solution you'd like**
Add website and avatar_url attributes for the church organization API.

**Describe alternatives you've considered**
Use the campus website and avatar_url

## I have..

- [x] Revi

[2020-05-11 23:35] shanebonham commented on #753
Hi @ausstinh,

Thank you for your feature request! We are always improving our API, and we will consider your request for future enhancements. I have passed this request along to the app team, where it will be tracked internally. I will close this issue, but feel free to comment if you have any additional information to provide.

[2020-05-11 23:35] #753 closed

[2020-05-14 20:08] shanebonham commented on #753
Hi @ausstinh,

We just deployed a change that adds two new attributes to the Organization endpoint at https://api.planningcenteronline.com/people/v2: `contact_website` and `avatar_url`

[2020-05-14 20:09] shanebonham commented on #712
Hi @warmach,

We just deployed a change that adds the `blocked` attribute to all Emails endpoints in the People API. You can also filter on this attribute with `?where[blocked]=true`

[2020-05-14 22:04] shanebonham commented on #742
@trevorgehman This bug has been fixed. Lists should have the correct counts now, but let us know if you see any others that don't seem right.

[2020-05-15 18:16] ausstinh commented on #753
Awesome, thanks a lot!

On Thu, May 14, 2020 at 3:08 PM Shane Bonham <notifications@github.com>
wrote:

[2020-05-19 17:46] lrmpham opened #754 "Groups (Beta) access"
**Related Product**
Which product is this question related to?
Groups

**Describe the question**
When creating my OAuth app or my Access Token, I don't see option to include the Groups API.  How can I get access ?  Thanks.

**What have you tried that worked?**

**What have you tried that didn't work?**

**Additional context**

## I have..

- [x] Reviewed the documentation found at https://develope

[2020-05-20 21:36] sdcooke opened #755 "Creating a Group Membership"
Which product is this question related to? *Groups*

I'm trying to add a person to a group using the API and can't work out the format of the request I need to send.

I'm sending the following:
[code]

And get this response (HTTP 422):
[code]

I don't think it's right but I did try providing `person` in attributes and then I get this error:
[code]

In the docs it says that `person_id` is an assign

[2020-05-21 09:43] sdcooke commented on #755
On further investigation I've established that if the Person exists in groups/people, it works, but if they are not already in groups/people (but instead in people/people) then it gives this error. I'm currently investigating if there's a way using the API to add a person from people to groups. Any help would be appreciated! The error is definitely a little confusing though now I've confirmed that

[2020-05-21 15:52] snappy316 commented on #754
👋 Hi @lrmpham !

While the Groups API is in beta, and is still subject to potentially breaking changes, we aren’t publishing an API version for tokens to use. Once it’s out of beta, we’ll publish a version number at that point. In the meantime, you can still make a token and use it to access the (beta) Groups API!

[2020-05-21 15:52] #754 closed

[2020-05-22 22:30] snappy316 commented on #755
👋 Hi @sdcooke - thanks for bringing this to our attention! You're right - this endpoint assumes that the `person` already exists in the Groups product. I've added your request to our internal tracking system so the team can look into it further. I'll close this issue for now, but we'll comment back when it's complete!

[2020-05-22 22:30] #755 closed

[2020-05-22 22:41] sdcooke commented on #755
Thanks for letting me know - glad I wasn't just getting it all wrong!

If you are able to give any (even vague) idea of when you might get to it that would really help me plan around it (e.g. if you work in sprints and know you definitely won't be doing it in the next couple of weeks). Completely understand that's a difficult question though so no worries if not!

[2020-05-26 19:20] wilcoxmc opened #756 "Can't find Person archive or inactivated date in Services API"
**Related Product**
Which product is this question related to?  Services

**Describe the question**
In the Services module, I can see the archived date for an archived person when I open their record in the web application; however, I cannot find the archive or inactivated date for a person in the Services API.

**What have you tried that worked?**

**What have you tried that didn't work?**

**Add

[2020-05-27 03:37] mlalex opened #757 "For some users email id is not returned in included array"
**Related Product**
Which product is this question related to?
PCO People

**Describe the question**
For some users this endpoint would not return their email id in the included section
https://api.planningcenteronline.com/people/v2/people?where[first_name]=john&where[last_name]=doe&include=emails
Is there any privacy setting inside pco that would block this for individual users?

**What have you

[2020-05-29 21:55] snappy316 commented on #755
Hi @sdcooke - we deployed the change this morning! You'll now be able to create a new membership for a `person`, whether they already exist in Groups or if they only exist in People. Let us know if you run into any issues!

[2020-05-29 21:57] sdcooke commented on #755
Thanks so much @snappy316! I'll check it out tomorrow.

[2020-06-01 04:12] dilipmaddala opened #758 "Getting an error notification from Planning center webhook invocation: "Error: certificate has expired""
Hi,

We are getting an email notification from Planning center, that the webhook is not accessible, with this error "Error: certificate has expired".

This is coming up in both development and production environment. And certificate is valid in both the environments.

I can share the URL in a one on one message.
Looking forward for a solution.

Thanks,
Dilip

[2020-06-01 14:05] bensie commented on #758
@dilipmaddala I don't need the full target URL, but can you provide the base domain so I can take a look at the certificate? If you're not comfortable with that, feel free to open a support ticket and reference this issue.

[2020-06-01 14:15] dilipmaddala commented on #758
Hello James,

Here is the development environment URL: https://thehopeappteam.com/api/planning_centers/webhook <https://thehopeappteam.com/api/planning_centers/webhook>
Apparently the Webhook issue stopped around 4:15 am EDT and re-started at 9:27 am EDT.

Any insights into why it stopped working will be helpful for us to see how it can be avoided in future, as we have missed some new People entri

[2020-06-01 14:51] bensie commented on #758
@dilipmaddala If you take a look at https://www.ssllabs.com/ssltest/analyze.html?d=thehopeappteam.com&latest, you'll see that there is a certificate in the chain that expired over the weekend. Get that re-issued and you should be good to go.

As for future prevention, there are many services out there that will test your server certificates as part of uptime testing that will warn you of any upcom

[2020-06-01 14:51] #758 closed

[2020-06-01 14:55] bensie commented on #758
Also some more info on this particular expiration that @mcfadden just dug up: https://support.sectigo.com/articles/Knowledge/Sectigo-AddTrust-External-CA-Root-Expiring-May-30-2020

[2020-06-01 14:56] dilipmaddala commented on #758
Thanks!

--
This message (including any attachments) is intended only for the use of
the individual or entity to which it is addressed and may contain 
information that is non-public, proprietary, privileged, confidential, and
exempt from disclosure under applicable law or may constitute attorney work
product. If you are not the intended recipient, you are hereby notified
that any use, disseminati

[2020-06-03 18:20] evangunter opened #759 "Has something in the Giving API Changed?"
**Related Product**
Which product is this question related to?
Giving

**Describe the question**
My application is all the sudden getting reports from users that all donations posted through the giving API is failing. After stepping through the app, I'm getting a 422 entity.

**What have you tried that worked?**
It was working a week ago?

**What have you tried that didn't work?**
Posting this to

[2020-06-03 18:25] danielma commented on #759
:wave: hi @evangunter

Sorry for the surprise. We did recently roll out a change to do a more thorough job of validating the attributes that are sent in API requests.

It looks like your POST body includes `fee_cents` for the `Designation` object. We _do_ support setting `fee_cents` for Donations, [but not for designations](https://developer.planning.center/docs/#/apps/giving/2019-10-18/vertices/d

[2020-06-03 18:25] #759 closed

[2020-06-03 18:29] evangunter commented on #759
Is there a notification system I can jump on to get breaking changes?

[2020-06-04 16:48] sco-tt opened #760 "Person Webhook Questions: Timeout, Webhook logs, event ids"
**Related Product**
Which product is this question related to?
Webhooks, People

**Describe the question**

1. Do you set a webhook timeout time? I'm trying to debug incoming webhooks but at https://api.planningcenteronline.com/webhooks#/subscriptions/:id I'm seeing response bodies that read: `2020-06-04T16:29:40.550Z aaaa-bbbbb-cccc Task timed out after 10.01 seconds.` My application is set for a

[2020-06-04 17:07] bensie commented on #760
Yes, we timeout requests after 10 seconds, so your application must respond within that amount of time. If the work you're doing in the request is resource-intensive, consider moving that work out of band from the web request and responding immediately.

The webhook event ID is not passed through to the actual item being modified, so it isn't possible to get this on the other side.

No, webhooks a

[2020-06-04 17:07] #760 closed

[2020-06-08 19:52] bidwhist opened #761 "Integration with Zapier into Zoom"
**Affected Product**
Which product does this bug affect?

Lists, Zapier Integration

**Describe the bug**

The support team suggested that I reach out to the developer team directly.  Please forgive me if this is not the right location to post the issue.

When I try to use the Zapier integration through the List Update trigger so that I can interface with automatic Zoom (remote meeting software) r

[2020-06-10 00:57] camro opened #762 "Feature request: Ability to include links in Workflow step descriptions"
**Related Product**
Which product is this feature related to?
People > Workflows

**Is your feature request related to a problem? Please describe.**
We'd like to be able to easily reference lists in workflow steps, as well as potentially in depth external information on other websites.

**Describe the solution you'd like**
Would it be possible to turn URLs into links in workflow step descriptions

[2020-06-17 16:47] clmayo opened #763 "Unable to get to Groups Module via API"
**Related Product**
Which product is this question related to? - Groups
**Describe the question**
Hi - We are working on building an integration with PCO groups but are unable to get to the API. In the Developer backend Groups is not listed in the API versions section and requesting from it as described int he documentation returns a 403.

**What have you tried that worked?**
We're able to access

[2020-06-17 16:56] shanebonham commented on #757
Hi @mlalex,

Sorry for the delayed response. That request should certainly return any `Email` records associated with matching profiles. Can you share an example response (with all personal data redacted)?

[2020-06-17 17:41] ReaganHelms commented on #762
Hey @camro,

I've gone ahead and filed that for you with the product team, but in the future could you please email those into support@planningcenter.com? All in-app feature requests are processed there. This resource on Github is only for API support and issues.

Thanks!

[2020-06-17 17:53] cmoel commented on #763
Hi @clmayo,

This is great! I'm sure the Groups product manager would love to hear more about what you're building.

The Groups API is currently in beta and is subject to breaking changes, so you may want to proceed with a touch of caution. Off the top of my head, I know we're currently working on some changes to attendance, which might result in breaking changes, but we aren't completely sure wha

[2020-06-17 17:55] clmayo commented on #763
Hey Christopher,

Thanks - Do you have any idea when this API will be out of beta?

[2020-06-17 18:51] danielmurphy commented on #761
Hi @bidwhist

As for now, this is how the trigger is designed, but I understand the use case and why contact information in the payload would be valuable. We'll consider that for future improvement.

[2020-06-17 18:51] #761 closed

[2020-06-17 19:49] cmoel commented on #763
@clmayo We don't have a proposed post-beta date yet, no. My best guess is that we'll make an announcement on [the blog](https://www.planningcenter.com/blog) and/or in the [Community Slack](https://www.planningcenter.com/community).

I'm going to close this issue for now but feel free to reopen it if you have other issues related to our API.

[2020-06-17 19:49] #763 closed

[2020-06-18 13:00] camro commented on #762
Thanks Reagan, that sounds good

[2020-06-18 13:00] #762 closed

[2020-06-29 18:38] thealtidors opened #764 "Different person IDs for the same person"
**Affected Product**
Which product does this bug affect?

Groups

**Describe the bug**

In Groups two different IDs refer to the same person.

**To Reproduce**

1) Go to https://api.planningcenteronline.com/groups/v2/groups/1113146/people and observe "id":"76087846" for the type person
2) Go to https://api.planningcenteronline.com/groups/v2/events/13077444/attendances and observe the person relati

[2020-06-29 21:15] snappy316 commented on #764
Hi @thealtidors - thanks for bringing this bug to our attention! We've just deployed a fix for the issue on the Membership endpoint, so that ID should now match the others.

[2020-06-29 21:15] #764 closed

[2020-06-29 21:19] MattTimmons commented on #672
Hello!
Maybe this is by design? But it seems `/plans/:id/live` does not work entirely for this.

IE
`https://api.planningcenteronline.com/services/v2/service_types/:id/plans/:id/live/toggle_control`

Works, But this does not:
`https://api.planningcenteronline.com/services/v2/plans/:id/live/toggle_control`

Same with the include parameters:
Does not include:
`https://api.planningcenteronline.com/se

[2020-06-30 18:58] thealtidors commented on #764
Verified it's been fixed.  Thanks for the quick response.

[2020-07-01 13:10] jemcguire opened #765 "Missing Plans..."
I am using the following to pull Plans from a Service Type: https://api.planningcenteronline.com/services/v2/service_types/12345678/plans?order=-updated_at&filter=past&include=plan_times&per_page=12&offset=100.  There are 2 plans in this Service Type that don't ever show up in the query above regardless of the page/offset.  However, I can pull the Plan using the .../Plans/87654321 call.  Why would

[2020-07-01 13:34] jbarrieault commented on #765
Hey, @jemcguire.

The `filter=past` scopes the results to plans that have already occurred, so any upcoming plans will be filtered out. Try removing it from your query and checking to see if those two plans then appear in the results.

If you haven't already, be sure to check out our [API Documentation](https://developer.planning.center/docs/#/introduction). I'm closing this, but feel free to resp

[2020-07-01 13:34] #765 closed

[2020-07-01 15:13] jbarrieault commented on #672
@MattTimmons unfortunately this endpoint is constrained to simple GET request directing—query strings are not forwarded, and POST/PATCH requests are not supported. We may address this in the future, but have no immediate plans to do so.

As a workaround for your purposes (not having the Service Type ID handy), I would suggest making an initial request to `services/v2/plans/:id`, and using the `sel

[2020-07-01 15:36] MattTimmons commented on #672
ok! sounds good. No headache.. just planning :)

[2020-07-03 21:13] MattTimmons opened #766 "Who Am I -- Finding your Person ID"
**Related Product**
Services

**Describe the question**
Hello!
Is there an endpoint to determine who (the person ID) that is calling the API? Ie.. I have a bearer token from the OAuth flow, I would like to Parse out that user's information.

**What have you tried that worked?**
When through People and Services documentation. Tried various calls.

## I have..

- [x ] Reviewed the documentation foun

[2020-07-03 21:18] bensie commented on #766
@MattTimmons You can use https://api.planningcenteronline.com/check for Org ID and Person ID or within a product you can use the "me" API: https://api.planningcenteronline.com/services/v2/me. Hope that helps!

[2020-07-03 21:18] #766 closed

[2020-07-03 21:20] MattTimmons commented on #766
Thanks you! I could not find that anywhere in the docs.. Did I miss it? Or does it need to be added? I was trying /whoami and other variations.

[2020-07-14 18:31] jremmen commented on #756
@wilcoxmc We are now including `archived_at` with people data in the Services API. This property is only visible to users with a permission level greater or equal to Scheduler.

[2020-07-14 18:31] #756 closed

[2020-07-15 19:36] jemcguire opened #767 "Group via API"
Hello,
I am trying to run https://api.planningcenteronline.com/groups/v2/groups, but get back a null response.  I am using an OAuth token against a client's PCO database.  How can I access their Groups module.  I am able to access their People and Services fine.
Thanks in adance.
jm

[2020-07-15 20:02] cmoel commented on #767
Hi @jemcguire.

It sounds like to me like you may be authenticating without the necessary scope for Groups. The Scopes section in [our authentication docs](https://developer.planning.center/docs/#/introduction/authentication) explains how to authenticate for different OAuth scopes.

I hope that helps. If not, though, let us know and we can take another look.

[2020-07-15 20:02] #767 closed

[2020-07-22 14:32] jemcguire opened #768 "Groups Attendance"
I am using the new Groups API (beta).  I'd like to pull a group's events along with the attendance.  I didn't see an "include" option to include the attendance.  Is there a way to pull all the events of a group and include the attendance so I don't have to pull the attendance one event at a time?  Just looking for a way to cut down on the round trips.

Thanks in advance.
john

[2020-07-23 13:39] sagebrushchurch opened #769 "OAuth Logout"
**Related Product**
Which product is this question related to?
OAuth

**Describe the question**
I'm using PCO OAuth and Auth0 as a bridge to authenticate users into an app that I'm building. So far everything is working great and I can pull user's data through the PCO API. I'm trying to figure out how I can clear the OAuth session if a user logs out. I can log out of Auth0 and return back to my lo

[2020-07-24 22:28] josiaho opened #770 "400 "invalid_json" response when creating a webhook subscription via API"
**Related Product**
Webhooks (Scope: People)

**Describe the question**
Hello, I'm getting a 400 "invalid_json" response when attempting to create a new webhook subscription. The complete response is:
[code]

**What have you tried that didn't work?**
I'm using [Node.js](https://nodejs.org/en/) with [Needle](https://github.com/tomas/needle), using the `access_token` provided through OAuth, and post

[2020-07-24 22:35] josiaho commented on #769
As far as I know this is not possible. If your app is authorized through a browser/webview you could try forwarding the url to `https://login.planningcenteronline.com/logout` after ending your app's OAuth session. 🤷🏻‍♂️

[2020-07-25 16:27] josiaho commented on #770
Definitely user error 😂: Needle requires the `json:true` option in order to set the content type to application/json and send the request body as JSON string, instead of a query string. 🤦🏻‍♂️

[2020-07-25 16:38] #770 closed

[2020-07-27 15:30] JonSeale opened #771 "'Counter' permissions"
Checkins / Headcounts

We would like to be able to see who has "counter" permissions via the API. We can see Viewer and Editor. This would be helpful in some reporting that we need to do, to keep track of who has access.

[2020-07-27 15:31] JonSeale opened #772 "Headcounts (who did it)"
**Related Product**
Checkins/Headcounts

**Describe the solution you'd like**

Would like to see "person_id" in the headcount data for who made the change, counted the people. The logged in user.

Thanks,

[2020-07-30 15:24] sagebrushchurch commented on #769
sweet, i'll give that a shot. thanks!

On Fri, Jul 24, 2020 at 4:35 PM Josiah Oslund <notifications@github.com>
wrote:

[2020-08-01 20:26] reneesubsplash opened #773 "API Date timezone vs storage (UTC?)"
**Related Product**
Which product is this question related to?
Giving

Hello!  I work for Subsplash and we are looking at incorporating timezone support for gift records we sync via your API.  Currently, all dates/times for our records are stored and sent over in UTC format.  However, we DO store a reference to the relative donor and church time zones.  I'd like to know how your API/software handl

[2020-08-03 21:02] danielma commented on #773
:wave: Hi @reneesubsplash!

Most of this information is [covered in our documentation about dates and times](https://developer.planning.center/docs/#/introduction/dates-times), and that informs my answers here.

Yes, all our times are stored in UTC, and converted into the local timezone on display. However, in the API, all dates are returned in ISO 8601 UTC.

As you said, it just changes the displ

[2020-08-03 21:02] #773 closed

[2020-08-07 02:44] kreeves opened #774 "Usage of the `timing` attribute on a `Delivery` record"
**Related Product**
Which product is this question related to?
Webhooks

**Describe the question**
What does the `timing` attribute in the `Delivery` API payload relate to? '

I have a webhook `Event` that shows a `created_at` of `2020-07-14T09:14:12Z`. The linked `Delivery` record shows a `created_at` of `2020-07-14T09:14:22Z`. This is a difference of 10 seconds. However, the `timing` attribute t

[2020-08-07 13:09] bensie commented on #774
@kreeves We create the initial event and toss it on a queue for processing. Typically within a few seconds (about 5 in your case) that job is processed and when it's done the Delivery record is created.

The `timing` attribute is for you to optimize your systems - it's the duration of the HTTP request/response cycle for sending the payload to your server.

Hope this helps!

[2020-08-07 13:09] #774 closed

[2020-08-10 17:18] scfreed opened #775 "Registration information via People API?"
I understand that you don't have a Registrations API available yet. Is it possible to get a list of events a person is registered for via the People API? Or is there any other way to get registration information for events? Do I just have to wait until you have the Registrations API available?

[2020-08-20 22:21] pastorhudson opened #776 "Oauth 2 Publishing is not available as scope"
**Affected Product**
Which product does this bug affect?
Publishing

**Describe the bug**
Publishing api doesn't accept a scope request for 'publishing' scope

**To Reproduce**
Request Oauth scope access for `'publishing'`

**Expected behavior**
I'm building a little tool to automatically update one of our publishing pages based on when our website changes.
I know publishing api isn't supported ye

[2020-08-26 22:14] Keahi opened #777 "Attempting to download an attachment redirects to a login page when already authenticated"
**Affected Product**
Services

**Describe the bug**
When trying to download attachments, I get redirected to the Planning Center login page instead of the attached file. I've experienced this with ProPresenter documents and suspect it happens on media attachments as well, but can't confirm that.

I'm using ProPresenter to access the Planning Center API. I can log in, check the "People" API, get a

[2020-08-27 13:25] MattTimmons opened #778 "Webhook Creation API Documentation"
I know we can make web hooks via the web.. (https://api.planningcenteronline.com/webhooks#/)

Are there public endpoints to create these hooks via the API? I see some here:
https://github.com/planningcenter/developers/issues/617

Perhaps I missed this in the documentation? Could not seem to find it.

Thanks guys!

[2020-08-27 13:26] MattTimmons commented on #778
And this is specially for **Services**, if that matters.

[2020-09-04 11:56] domonkosgabor opened #779 "Cannot get the virtual location of a group"
**Affected Product**
Which product does this bug affect?
Groups

**Describe the bug**
Cannot get the virtual location of a group.

**To Reproduce**
1. Create a group with only a virtual (link) location
2. Call the _https://api.planningcenteronline.com/groups/v2/groups_ endpoint. The location will be: `"location": { "data": null }`
3. Try to use the Location API and the Group ID to get the location

[2020-09-04 12:04] domonkosgabor opened #780 "Group creation and modification date"
**Related Product**
Groups

**Is your feature request related to a problem? Please describe.**
Let's say you want to save the creation date or the modification date of a group in your application. Or you would like to get the groups that are modified/created in the last 7 days.

**Describe the solution you'd like**
What about exposing the _Attributes_ of the _Group_ response to include the creatio

[2020-09-04 12:08] domonkosgabor opened #781 "Get the archived groups with the where[archived] query"
Which product does this bug affect?
Groups

**Describe the bug**
Calling the _https://api.planningcenteronline.com/groups/v2/groups?where[archived]=true_ endpoint not returns the archived groups.

**To Reproduce**
1. Call the _https://api.planningcenteronline.com/groups/v2/groups?where[archived]=true_ endpoint
2. The response will only contain active groups.

**Expected behavior**
Get the archived

[2020-09-04 12:12] domonkosgabor opened #782 "Get the archived and active groups in one request"
Which product is this feature related to?
Groups

**Is your feature request related to a problem? Please describe.**
I would like to get the active and the archived groups in one request.

**Describe the solution you'd like**
Have a new query for the Group endpoint to get all of the groups. Something like _?all=true_.

[2020-09-04 16:51] bensie commented on #757
@mlalex I'm closing this issue for now, but feel free to reply with the details requested for us to look further.

[2020-09-04 16:51] #757 closed

[2020-09-04 16:52] #769 closed

[2020-09-04 16:57] bensie commented on #775
@scfreed Sorry, but you'll need to wait for a Registrations API to be able to get at registration details, as this information isn't stored in People.

[2020-09-04 16:57] #775 closed

[2020-09-04 17:01] bensie commented on #776
@pastorhudson Hey Ron, although you may see calls to Publishing APIs from our pages, these are only currently available from our own sessions because these APIs are subject to change. We'll expose an OAuth scope when the Publishing API is available for public consumption.

[2020-09-04 17:01] #776 closed

[2020-09-04 17:04] bensie commented on #778
@MattTimmons Take a look at the [webhooks subscriptions](https://developer.planning.center/docs/#/apps/webhooks/2018-08-01/vertices/subscription) documentation, which I think is what you're looking for.

[2020-09-04 17:04] #778 closed

[2020-09-04 17:27] sheck commented on #772
Hi @JonSeale, sorry for the delayed response.

Because of how headcount data is stored, adding support for this would be a non-trivial undertaking. I'll take this back to the team and get their thoughts. I will close this issue for now, and reopen it if we have any updates for you 👍

[2020-09-04 17:27] #772 closed

[2020-09-04 17:29] sheck commented on #771
Hi @JonSeale, sorry again for the delayed response.

This data should already be present in the API. The headcounter permission setup is different than our typical permission setup, so each person record in the Check-Ins API should have a `headcounter` boolean attribute. It's documented here: https://developer.planning.center/docs/#/apps/check-ins/2018-08-01/vertices/person#attributes

[2020-09-04 17:29] #771 closed

[2020-09-04 18:21] cmoel commented on #768
Hi @jemcguire. I'm sorry for the long delay in responding.

We generally don't permit including a has-many relationship like this. If a group has a lot of members, there will be an attendance record for each of them and we'd require clients to paginate through the result set. Adding this include isn't something we're able to do.

As a heads-up, we've been working on some improvements to attendance

[2020-09-04 18:21] #768 closed

[2020-09-06 09:43] sdcooke commented on #755
@snappy316 I've recently rolled this functionality out to more of my users and have started seeing the 422 error

[code]

again. In my error tracking I can see that I am sending a person_id. Before adding a lot of extra detailed debugging I was wondering if you could let me know if it's possible in your system that there's a delay between adding a person and that person being available to add to a

[2020-09-08 17:19] shanebonham commented on #713
Hi @msaaron,

Apologies for the long delay responding to this. We've verified the bug and its on our list to fix. I'm going to close this for now, but we'll update here when we've shipped a fix.

[2020-09-08 17:19] #713 closed

[2020-09-08 17:19] cmoel commented on #779
Hi @domonkosgabor.

Our current strategy allows a group to have both a physical and a virtual location and we use a `location_type_preference` attribute to determine which to show. We don't currently expose `location_type_preference` or `virtual_location_url` through the API. Would exposing them be sufficient for your needs?

[2020-09-08 17:20] cmoel commented on #780
Hi @domonkosgabor.

We can expose a `created_at` timestamp but I'm hesitant to expose `updated_at` while the Groups API is still in beta. There are many reasons a particular group's `updated_at` timestamp can change, including internal maintenance, and there's a bit more work we would need to do to ensure its usefulness.

Also, it turns out that querying on a specific time range is a bit of a larg

[2020-09-08 17:25] shanebonham commented on #737
Hi @bilderbach,

Apologies for the delay in responding to this. Thanks for the feature request. We don't currently have plans to implement this, but we've noted your request for further consideration. I'm going to close this issue, but please feel free to re-open it if you have any related questions.

[2020-09-08 17:25] #737 closed

[2020-09-08 17:48] domonkosgabor commented on #779
Hi @cmoel,

thanks for your fast reply! In the UI you cannot say that this group has both physical and virtual locations. You have to choose between them using a radio button.

![image](https://user-images.githubusercontent.com/8035074/92510232-d3313180-f20b-11ea-9591-83096aebbb69.png)

But it's not an issue in my case, it's OK for users to decide that this group has a physical or virtual location

[2020-09-08 17:53] domonkosgabor commented on #780
Hi @cmoel,

yes, the first step would be to expose the `created_at` and the `updated_at` timestamps, after the `updated_at` only changes its value if a user do some changes in the UI or via the API (if its a possibility). Right now it would be sufficient for me.

Querying on a specific time range could be a great future improvement of the API.

[2020-09-08 18:23] dobrite commented on #777
@Keahi

Sorry for the delayed response!

I checked our logs and it seems the only 302 we're getting from the ProPresenter useragent is from our Legacy API.

Can you confirm that the affected versions are using the new API like the link you shared in the issue (e.g. `https://api.planningcenteronline.com/services/v2/...`), or the legacy API (e.g. `https://services.planningcenteronline.com/attachment

[2020-09-08 19:17] ausstinh opened #783 "502 Bad Gateway"
**Affected Product**
Which product does this bug affect?
People

**Describe the bug**
Just recently, getting a series of 502 Bad Gateway across our live application when trying to get a response from planning center to attach a file to person.
  System.Net.Http.HttpRequestException: Response status code does not indicate success: 502 (Bad Gateway).
  Stack Trace:
    HttpResponseMessage.EnsureSucc

[2020-09-09 14:00] #783 closed

[2020-09-09 15:06] Keahi commented on #777
@dobrite

Hi, thanks for your response!

I've gone through our code and I did find a spot where we're using that new URL - I was previously unaware that we were using the old API there. I'll look into switching over to the new URL and leave another comment when that's taken care of in our client.

Thank you!

[2020-09-09 15:37] dobrite commented on #777
@Keahi

I'm going to close this in order to keep our internal tracker clean. Feel free to open a new issue and reference this one. Hopefully that way the issue won't sit without a response for a long while like this one did.

[2020-09-09 15:37] #777 closed

[2020-09-09 15:39] cmoel commented on #779
@domonkosgabor That's 💯 right about how we display it in the UI. I was giving you a bit of insight into how we store the data and choose which to display internally. The selected radio button determines the value of `location_type_preference` so we know which location type to display to users.

I should have time later this week to get this updated in the API and I'll post here after deploying.

[2020-09-09 15:51] domonkosgabor commented on #779
Thanks again!

[2020-09-09 19:56] domonkosgabor opened #784 "Get the tags of a group tag"
**Related Product**
Groups

**Is your feature request related to a problem? Please describe.**
I cannot get the tags of a TagGroup. I need to get all the groups and group tags to be able to see what tags are available in the group tags. And unfortunately, if I have a group tag that I haven't used anywhere, there is no way to get that tag using the API.

**Describe the solution you'd like**
It woul

[2020-09-11 18:34] cmoel commented on #779
@domonkosgabor We now expose `location_type_preference` and `virtual_location_url` as attributes on a Group so I'm going to close this.

[2020-09-11 18:34] #779 closed

[2020-09-11 18:34] cmoel commented on #780
@domonkosgabor We now expose the `created_at` attribute for a Group. Like I mentioned earlier, exposing `updated_at` and fetching groups based on `created_at` and/or `updated_at` is a bigger change we can't make right now, so I'm going to close this for now. I've brought this to the rest of the team and we'll keep it in mind as we continue to make the Groups API production-ready (i.e., no longer i

[2020-09-11 18:34] #780 closed

[2020-09-11 20:20] chrisgrenz opened #785 "API for date search?"
**Affected Product**
Which product does this bug affect?
Resources

**Describe the bug**
Querying the calendar API with an equals query returns no results. https://developer.planning.center/docs/#/introduction/dates-times indicates this is a properly formatted query.

`https://api.planningcenteronline.com/calendar/v2/events/2927747/event_instances?where[starts_at]=2020-09-13`

Thinking this might

[2020-09-16 16:49] iamandrewpeters opened #786 "Group Membership Requests in API"
**Related Product**
Which product is this feature related to?
Groups

**Is your feature request related to a problem? Please describe.**
Tap into the 'Ask to Join Group' interest form and work flow. On PCO when I ask to join I'm added to a queue. Doesn't seem to be a way to do that via API.

**Describe the solution you'd like**
Add the ability to call the 'Ask to Join Group' form/endpoints/etc so

[2020-09-17 22:55] snappy316 commented on #755
Hi @sdcooke - yes, there's some extra work that happens to pull the `person` into Groups, and make sure they're all set up properly. Shouldn't take _too_ long though, so keep us posted if a short delay or retry doesn't consistently fix it for you!

[2020-09-21 20:17] jdfranklin2 opened #787 "Control live without plan ID"
**Related Product**
Which product is this question related to?

Services

**Describe the question**
I am a newbie to working with APIs and very new to PCO's API so bear with me if this is a question with a ridiculously obvious answer. Is there is a way to control a currently live plan without having to use the plan ID in the endpoint? Right now, I just want to be able to go to next item and go to

[2020-09-21 22:57] cmoel commented on #781
Hi @domonkosgabor.

Thanks for your patience as we've worked on fixing this.

I deployed a fix for this earlier today and [updated the `GroupVertex` documentation](https://developer.planning.center/docs/#/apps/groups/2018-08-01/vertices/group). Since the API is still in beta, I opted to remove the `archived` attribute and add a query-only `archive_status` attribute. You can query using `archive_st

[2020-09-21 22:57] #781 closed

[2020-09-21 22:57] cmoel commented on #782
Closing alongside of #781.

[2020-09-21 22:57] #782 closed

[2020-09-22 13:57] jbarrieault commented on #787
Hello, @jdfranklin2.

Unfortunately there is no endpoint available for controlling Services Live for a Plan without providing a Plan ID. Because it is possible to have multiple plans happening concurrently, there would be no way to correctly infer which plan is the intended target. Hope that makes sense.

Thanks for using our issue template, and feel free to respond with further questions, or open

[2020-09-22 13:57] #787 closed

[2020-09-22 14:44] jdfranklin2 commented on #787
I still find the documentation confusing. Why is the endpoint formatted in the way that it is in the documentation? There is no part of the endpoint URL to put in service type or plan ID, so I had to look here on github for the proper format.

[2020-09-22 15:17] jbarrieault commented on #787
Sorry for the confusion. The structure of that URL does not traverse through a Service Type, so no ID for one is used. The abstract structure is
`/services/v2/people/{person_id}/recent_plans/{plan_id}/live/{live_id}/watchable_plans`.

However, I doubt that is the endpoint most appropriate for your purposes. I would steer you towards a different one for accessing live control of a given plan: `http

[2020-09-22 15:21] cmoel commented on #784
Hi @domonkosgabor. You can fetch the tags of a TagGroup [using the association](https://developer.planning.center/docs/#/apps/groups/2018-08-01/vertices/tag_group#associations). We scope that association based on the current person so not all people can see all tags unless a tag groups's `display_publicly` attribute is `true`. Admins, of course, can see all tags for all tag groups.

Let us know if

[2020-09-22 15:21] #784 closed

[2020-09-22 20:39] domonkosgabor commented on #781
Thank you very much, it's working well!

[2020-09-23 19:51] fleminja88 commented on #786
Hey Andrew!
We haven't had a request to add this to our API yet so I would love to hear more about what you are trying to do/build with this option! Can you expand on that for me?
Thanks!

[2020-09-23 19:54] iamandrewpeters commented on #786
hey @fleminja88! :)

Nutshell version.

We are working to integrate our platform (faithmade.com) with PCO more tightly. Essentially, we have the group grids and single group posts on the site pulled in from PCO just fine, but there isn't a way for people to be added to the 'interest queue' (not sure what you guys call that?) Trying to make it as seamless on site as we can, but that last step of se

[2020-09-23 20:32] debok opened #788 "Pledge & Pledge Campaign API Requests"
**Related Product**
Which product is this feature related to?
Giving

**Is your feature request related to a problem? Please describe.**
Clients have to send us their pledge data as CSVs which we have to upload into our system. We are using the API to get the rest of their data, so it would be helpful if they did not have to take this additional step. Additionally, some of our churches do not like

[2020-09-23 23:22] danielma commented on #788
:wave: Hi @debok!

Thanks for opening an issue. Adding Pledge Campaigns to the public API is already on our internal roadmap.

The detail you offered here about what specific endpoints you need is really helpful and it will make it easier for us to guarantee we ship a version that's useful for our customers, so thank you!

[2020-09-23 23:23] danielma commented on #788
I'm closing the issue for now, but if there's anything you'd like to add or have any questions, feel free to reply and I will see it 👍

[2020-09-23 23:23] #788 closed

[2020-09-24 04:41] camro opened #789 "Add membership total to Groups API"
**Related Product**
Which product is this feature related to?
Groups API

**Is your feature request related to a problem? Please describe.**
We're querying data on our groups, and one of the attributes we'd like to report on is the number of members in each group. Rather than write a query to fetch the group info, and an extra request for each group, we'd like to get just the total number of membe

[2020-09-24 04:53] camro commented on #789
Similar to what's being included on
- [Household](https://developer.planning.center/docs/#/apps/people/2020-07-22/vertices/household)
- [Workflow](https://developer.planning.center/docs/#/apps/people/2020-07-22/vertices/workflow) and WorkflowStep
- NoteCategory
- etc..

[2020-09-25 18:18] cmoel commented on #789
Hi @camro.

We just added a `memberships_count` attribute to Group.

[2020-09-25 18:18] #789 closed

[2020-09-25 23:54] fleminja88 commented on #786
Thank you so much for this feedback @iamandrewpeters! It is extremely helpful. I am not sure when we will be able to address this but I have added this as a feature request and as soon as we have some time to look into this further, we will!

[2020-09-25 23:56] #786 closed

[2020-09-29 23:46] jemcguire opened #790 "Small Group API call"
I am using the following call, https://api.planningcenteronline.com/groups/v2/groups/1113148.  I am not seeing the Enrollment data fields such as Auto_Close_Enrollment_On, Auto_Close_If_It_Reaches.  Is there a call that I can use to pull those values?

Also, is there a single call I can use like https://api.planningcenteronline.com/groups/v2/groups/1113148, that will also INCLUDE Members and/or Ev

[2020-09-30 16:02] cmoel commented on #790
👋 @jemcguire.

We don't currently expose attributes for the auto-close date or capacity, though I can see how that would be valuable! I'll mention this to our product manager so we can look more into it.

Because groups can have a lot of members and events, we aren't able to expose all that data in a single endpoint and we paginate the result sets. Generally in our API, potentially large has-many

[2020-09-30 16:02] #790 closed

[2020-10-01 15:15] MooPaw opened #791 "Services iOS app - what video playback is being used?"
**Related Product**
Which product is this question related to?
Services (iOS app)

**Describe the question**
With iOS 14 being released, I have noticed that certain mp4 video files that would preview and play fine on previous iOS releases have stopped working.  I'm using AVPlayer in my app (Projector), and when I spoke on Slack with Aaron Stewart a few days ago he thought that Services app was als

[2020-10-02 21:43] jemcguire opened #792 "Future Small Group Events showing attended"
Hi Guys,

I'm using the following call, https://api.planningcenteronline.com/groups/v2/events/13700882/attendances.

It brings back 22 attendance records.  Some of the Attended field show True.  However, this is a future event and after looking at the actual event in PCO, noone is attended but rather "Awaiting Response" or some other non attended status.  Why does the Attended field show True for

[2020-10-02 23:14] madclouds commented on #791
Hey Butch,

I downloaded your file and uploaded it as an attachment to a song for testing.

After reviewing the code I can confirm we're using an `AVPlayer` to preview the `.mp4`:

```AVPlayer *player = [[AVPlayer alloc] initWithURL:URL];```

The URL is `https://s3.amazonaws.com/planning_center_production/attachment_thumbnails/9a3d0ec6c19e9d410c001b415ac557c22cc00c02.mp4`.

After initializing the

[2020-10-05 17:02] MooPaw commented on #791
Thanks Erik @madclouds for that information.  Projector has, to date, only used 'download and play' for local video playback, and some customer may prefer to keep that approach.  However, I'm starting to implement a streaming playback option for video (including YouTube videos), so I'll try the implementation above that you use with Services, at least for the non-YouTube links (for Attachments fla

[2020-10-05 17:02] #791 closed

[2020-10-06 15:33] fleminja88 commented on #792
@jemcguire Thank you so much for reporting this! This might be a bug but in order to confirm, we need some additional information. Since this is a public area I don't want you to send the information here. Would you mind sending in a support ticket to support@planningcenter.com with your organization number and the group you are looking at? I will keep a lookout for that ticket and continue troubl

[2020-10-06 15:33] #792 closed

[2020-10-07 15:28] hodgendazs opened #793 "Error 400 - Tag Group ids must be an array"
Related Product Which product is this question related to?

Services

Describe the question

I'm trying to send a request via Python to the endpoint https://api.planningcenteronline.com/services/v2/songs?where[song_tag_group_ids]= and trying to pass a song_tag_group_id and I keep getting an error 400 and it says that "Tag Group ids must be an array".

What have you tried that worked?

What have yo

[2020-10-08 15:01] Rowdybullgaming opened #794 "Yesterday's TLS 1.2 Test"
**Affected Product**
Which product does this bug affect?
People

**Describe the bug**
The minimum security level of TSL 1.2 yesterday broke my application and it is still not working. Did you change the login request link as well? I can't login today but saw a /new after the login link that could have my application pointing to the wrong location.

[2020-10-08 15:16] bensie commented on #794
@Rowdybullgaming The brown-out was rolled back about 10 minutes ago (8am Pacific) around the time you opened this and I've confirmed that TLSv1.0 and TLSv1.1 are once again supported. Can you try again?

All URLs on *.planningcenteronline.com are affected by this change. You'll need to update your application ahead of us permanently disabling these older TLS versions on Oct 14.

[2020-10-08 15:24] Rowdybullgaming commented on #794
It is working again for me thanks.

[2020-10-08 18:40] #794 closed

[2020-10-10 09:11] pettanord opened #795 "Calendar and Events"
**Related Product**
Which product is this question related to?
Calendar

**Describe the question**
I use the api version 2020-04-08. When I query events I can't find any corresponding parameter for Visibility on Church Center in the api.

Also, It seems to me that you have spread the information about an event in three requests:
Event
EventInstance
EventTime

That means that I, in order to, get th

[2020-10-12 11:28] Martinaude commented on #775
@scfreed is there nay indication as to when a Registrations API would be available? We have so many good ideas lined up with what we would like to be able to do with the Registrations API, we just need access to it! 😂

If not this and indications on expansions of Webhooks to include more of the Applications (like Groups, registrations, etc?)

[2020-10-18 01:33] zerbzman opened #796 "Set Remove media date from API"
Hey,

Is there a way to set the expiration date for a media in the API? Like on creation I could have it only last a month?

Thanks

[2020-10-19 20:29] zachzimm93 opened #797 "Connection Issue"
**Related Product**
Which product is this question related to?
People

**Describe the question**
All of our clients are having issues pulling their people into our system. This was working up until Thursday of last week. Did anything on the API change? Were there any updates made recently?

**What have you tried that worked?**

**What have you tried that didn't work?**

**Additional context**
Here

[2020-10-20 13:31] jemcguire opened #798 "Groups: Location endpoints..."
Hi Folks,

Is there an endpoint I can use to pull all the Locations from Groups and page thru them?

Also, when I call the one endpoint that I know of, https://api.planningcenteronline.com/groups/v2/groups/12345678/location, I don't get the full address.  The Street/Suite is missing.  Only the city/state/zip are returned but in a single field.  I'd like to get the full address with each component

[2020-10-21 06:48] Martinaude opened #799 "Check-Ins API Expansion"
**Related Product**
Which product is this feature related to?
Check-Ins

**Describe the solution you'd like**
I know you guys have done a lot of development in the Church Center App itself with regards to check-ins and pre-check ins.
As much as we love there church center app, we have our own development team who have created our own church app, and we would like to be able to include the ability

[2020-10-21 17:45] sheck commented on #799
Hi Martin, thanks for writing in about this. Expanding the Check-Ins API (and potentially making parts of it writable) is something we have discussed before and is something we are interested in doing in the future. We'll keep your feedback in mind if/when we get to this in the future 👍

The pre-check QR code generation suggestion is interesting. I'll bring that back to the team and get their thou

[2020-10-21 17:45] #799 closed

[2020-10-21 20:01] jniemand56 opened #800 "Database Schema?"
**Related Product**
Which product is this question related to?
All

**Describe the question**
I am new to Planning Center development and was wondering if anyone has figured out the database schema

**What have you tried that worked?**
I've been figuring it out by chasing the APIs but thought I'd ask if anyone has documented it

**What have you tried that didn't work?**
Asking support

**Additiona

[2020-10-26 14:46] #797 closed

[2020-10-26 15:20] jbarrieault commented on #796
Hello, @zerbzman. Please update your description to use one of our issue templates, they help us classify and respond to issues more efficiently. Thanks!

[2020-10-26 16:52] zerbzman commented on #796
sure

---
name: General API Question
about: Ask a question about using our API

---

**Related Product**
Which product is this question related to?
Services

**Describe the question**
Is there a way to set the expiration date for a Media in the API? Like on creation I could have it only last a month?

**What have you tried that worked?**
NA

**What have you tried that didn't work?**
NA

**Addition

[2020-10-27 14:45] mcfadden commented on #800
Hi @jniemand56, we don't have a complete graph available, largely because the API is continuously growing.

Your best bet would be looking through the API Explorer: https://api.planningcenteronline.com/explorer

If you have a specific question about where something may be in the API, feel free to open a new issue with that question.

[2020-10-27 14:45] #800 closed

[2020-10-27 14:49] mcfadden commented on #798
@jemcguire We're taking a look at this internally. We'll post back here if / when we ship a change here.

[2020-10-27 16:40] glosie commented on #795
Hi @pettanord,

You're correct; there's not currently an exposed attribute related to Church Center visibility. Up till this point, we've considered CC visibility an internal concern. It's something we'd be willing to consider, but hearing more about your intended use-case helps us prioritize. In the meantime, using Event Tags and then querying by `tag_ids` _might_ be an alternative to get at what

[2020-10-27 16:40] #795 closed

[2020-10-27 18:00] cmoel commented on #798
Hi @jemcguire.

We don't have an endpoint to list all Locations, no, and I'm not aware of any plans to add one, though I'm happy to pass along your request to our product manager. What's your use case?

We filter the data based on the current person's membership status and the location's display preference, which is set at the group's settings page. The `"strategy"` attribute describes what strate

[2020-10-28 16:26] tc4mpbell commented on #785
Hi @chrisgrenz,

Sorry for the delayed response!

Since `starts_at` is a `date_time`, `2020-09-13` is getting parsed as `2020-09-13T00:00:00Z` (start of the day in UTC), so the `where[starts_at]=` query is going to only find event instances starting at that exact time.

If you're looking to get all of the event instances for the day, you'll currently need to combine `[starts_at][gte]` and `[starts

[2020-10-28 16:26] #785 closed

[2020-10-28 16:33] chrisgrenz commented on #785
I'd ask that clarification be added to the documentation. Effectively, [starts_at] is almost never useful without a modifier in that model, so folks should be careful about that. It also means that finding the events for a single day requires a two-part filter:

`[starts_at][gte]=2020-09-13 & [ends_at][lt]=2020-09-14`

That's not a great experience...

[2020-10-28 20:49] tannermares commented on #793
Hey there @hodgendazs! First, thanks for the report! We're sorry this wasn't working quite right. Turns out, this specific endpoint wasn't accepting integer attributes like it should have been. But, I think we got it all fixed up!

You should now be able to send queries in two different shapes. If you want to send an array of attributes use this format.
[code]
You can also send a comma separated l

[2020-10-28 20:49] #793 closed

[2020-11-02 02:26] zerbzman commented on #796
# Things I have tried that have not worked:
1. sent a PATCH request to the Media Url with "application/x-www-form-urlencoded" with `media%5Barchived_at%5D=Sat+Nov+07+2020+00%3A00%3A00+GMT-0500+(Eastern+Standard+Time)` in the body.

1. sent a PATCH request to the Media Url using the following json
`{
    "data": {
            "attributes": {
                "archived_at": "Sat Nov 07 2020 00:00:00

[2020-11-02 17:51] jbarrieault commented on #796
@zerbzman thanks! Good news, we've exposed an [_action_](https://developer.planning.center/docs/#/apps/services/2018-08-01/vertices/media#actions) for archiving Media:

`POST /services/v2/media/:id/archive`

You may optionally pass a `time` attribute to schedule archival for some time in the future.

Conversely, you may now restore an archived media using:
`POST /services/v2/media/:id/unarchive`

[2020-11-02 17:51] #796 closed

[2020-11-03 13:33] cmoel commented on #798
@jemcguire I'm going to close this for now. We still don't have plans for a `/locations` endpoint but we're happy to discuss it internally if something you still need.

[2020-11-03 13:33] #798 closed

[2020-11-05 14:44] Kuebic opened #801 "Creating/Updating Emails"
**Related Product**
Which product is this question related to?
People API

**Describe the question**
I'm fairly new to API's so I hope I'm not missing anything.
I'm able to GET, POST, and PATCH most user data, except for emails.  I've checked the [documentations ](https://developer.planning.center/docs/#/apps/people/2020-07-22/vertices/email) and I don't know what I am missing.
GET emails works fi